[2012-12-17 11:52] wintermeyer opened #1 "Fix URL links for a phone_book_entry"
The URLs on the left side are not active links.
http://0.0.0.0:3000/phone_books/2/phone_book_entries/1

[2012-12-18 09:25] wintermeyer opened #2 "Fix AMOOMA's phone_number in the tenant.rb"

[2012-12-18 09:26] wintermeyer opened #3 "Set voiceprompt defaults in /tenants/2/automatic_call_distributors/new"
Accounce call: ivr/ivr-stay_on_line_call_answered_momentarily.wav
Greeting: ivr/ivr-thank_you_for_calling.wav
Goodbye: ivr/ivr-thank_you_for_calling.wav
Music: local_stream://mohl

[2012-12-18 09:27] wintermeyer opened #4 "Add some sort of example to create a new sip_user and a phone_number."

[2012-12-18 11:49] jpawlowski opened #5 "Asset issues / images not shown"
After a fresh installation some assets may not load or may not be available.
For instance

/assets/icons/phone-down-grey-32x.png
`No route matches [GET] "/assets/icons/phone-down-grey-32x.png"`

Precompilation task run successfully during first bootup according to /var/log/gemeinschaft/setup.log and /var/log/boot.
Changing from development to production environment shows a running installation, al

[2012-12-18 11:57] jpawlowski opened #6 "DIRECTORY_SIP_ACCOUNT - sip account not found"
After a fresh installation and setup of a new phone and new SIP account the phone provisioning is successful. However the phone is not able to login with the provisioned SIP account as FreeSwitch does not know it:

[code]

Looking at the web interface it's exactly this auth_name that is existing. Something must have broken since the last commits...

[2012-12-18 12:15] wintermeyer commented on #5
Fixed by c8f3bc41866ca94119bcb1d3e04dbea6b93e86a8

[2012-12-18 12:46] wintermeyer commented on #2
Fixed in 929bd5ac143f48542929a1c7afb67ec2d117467a

[2012-12-18 12:46] #2 closed, assigned to wintermeyer

[2012-12-18 15:34] jpawlowski commented on #6
[code]

[2012-12-18 17:24] jpawlowski opened #7 "Let worker-job do notifications for fax and voicemail messages"
Currently there are two cronjobs for fax and voicemail notification emails running every minute.
It seems this is performance relevant as system usage shows higher load average.

As we have the worker-job running already (don't know what it's doing currently, but we have it), it should take care of sending email notifications.

Maybe also the regular logout_phone could be done by the worker-job ma

[2012-12-18 17:56] wintermeyer opened #8 "Upgrade Rails to 3.2.11 or later"

[2012-12-18 18:09] wintermeyer commented on #3
Fixed by fef1d002d562ea3df56d0bd1e9dbad4032fd6404

[2012-12-18 18:09] #3 closed, assigned to wintermeyer

[2012-12-18 18:38] jpawlowski commented on #5
Sorry, it seems that didn't fix the problem :-(
File exists now but error persists.

[2012-12-18 18:39] jpawlowski commented on #8
Please also update https://github.com/amooma/GBE/blob/develop/gdfdl-custom.conf to keep the Build Environment in sync.

[2012-12-18 18:52] wintermeyer opened #9 "Version number should be in the footer of each page."

[2012-12-18 19:08] wintermeyer commented on #5
Should be fixed by 9c392982e2ba7eaeb237268e9299637a8f8b4c3a

[2012-12-18 19:08] #5 closed, assigned to wintermeyer

[2012-12-18 19:30] wintermeyer commented on #1
Fixed by 50dfb97590e30fd7d6fa24d6c7afd65d04fa60d8

[2012-12-18 19:30] #1 closed, assigned to wintermeyer

[2012-12-18 22:01] jpawlowski opened #10 "Better debugging options for db:migrate"
Better options to debug db:migrate would be really great, e.g.:
http://stackoverflow.com/questions/4976958/debugging-migrations-in-rails-3-using-ruby-debug

[2012-12-18 22:11] jpawlowski commented on #6
Looks like config/database.yml has old content missing reference to MySQL...

[2012-12-18 23:39] jpawlowski opened #11 "Demo-mode status should be mentioned somewhere on each page"
If we are running in Demo Live-Mode users should see this also in the web gui.
This information can be extracted quite easily, this is something in Shell script you could adapt to ruby code:

[code]

[2012-12-18 23:42] jpawlowski commented on #9
I suggest using the extended version number including the build information (or maybe as a mouseover).

Like in /etc/init.d/gdfdl-prompt you would get these information from file /etc/gdfdl_build which should just be added to the major version from gemeinschaft_parameters.rb

Afterwards the extended version number should look like

5.0.1234567890

This does not hinder us to do bugfix releases as w

[2012-12-18 23:48] jpawlowski commented on #6
fixed by 4666adb72cd6a0316f0c1c338bc26449cebdd125

[2012-12-18 23:48] #6 closed, assigned to spag

[2012-12-19 01:55] jpawlowski opened #12 "Auto-SIP accounts should not have a voicebox"

[2012-12-19 02:02] jpawlowski opened #13 "Conferences should also be reachable by a central number"
One should be able to call a central number where the conference number is being asked in addition to their PIN. DDI or overdialing is not possible for everybody and that way a greater number of conferences can be used even with a small amount of dial-in numbers.

[2012-12-19 03:33] jpawlowski opened #14 "Conference without MOH"
one should be able to set a conference to be silent if I'm the only person in it, not everybody wants to listen to MOH all the time ;-)

[2012-12-19 03:36] jpawlowski opened #15 "Let users choose to use their Avatar picture from Gravatar"
based on their email address users should be able to enable auto-usage of their avatar picture from gravatar.com in their phonebook

[2012-12-19 10:48] wintermeyer opened #16 "New SipAccount should have gs_node_id = nil"
If GsNode.count == 0 then it should be nil.

[2012-12-19 11:54] jpawlowski opened #17 "FreeSwitch crashes after starting a recording"
When I am connected to a conference call and push the button to record the session, FreeSwitch crashes and needs to be restarted.
Following lines are logged:

[code]

[2012-12-19 12:05] jpawlowski opened #18 "Purge call history log with one click"
one should be able to purge the call history log with a single click, e.g. by marking all entries at once.
At the moment each entry needs to be marked one by one which is kind of frustrating if there are many entries in the log.

[2012-12-19 12:32] jpawlowski opened #19 "Used timezone seems to be incorrect in webgui"
Currently there is a lack of 1 hour between the logged time in the web GUI's call history and the actual time the call occurred.

The host system is set to local time Europe/Berlin (CET) and system command `date` shows correct local time.
MySQL uses it's standard setting default-time-zone=SYSTEM which should rely on the system setting.

However the web GUI still shows a difference of 1 hour.

Work

[2012-12-19 13:11] jpawlowski opened #20 "Call between FritzBox and Snom 821 with G.729 sounds like Mickey Mouse"
As the Fritzbox supports G.729 by default, a call from my Snom 821 to it enables HD audio by default.
Unfortunately the sound is miserable as on the FritzFon I hear the caller is Mickey Mouse. On the Snom side though I hear nothing.

Calling from the FritzFon to the Snom does not enable HD audio and therefore everything is fine.

This is the session log:

[code]

[2012-12-19 14:06] wintermeyer commented on #17
It is not a nice bug. But I will not loose sleep over this. Worst case: We'll fix it with a 5.0.1 release.

[2012-12-19 14:07] jpawlowski commented on #17
I thought so ;)

[2012-12-19 14:20] jpawlowski opened #21 "db:migrations fail with utf8"
IN the latest production build migrations fail once again:

[code]

Question: Is it okay to create the gemeinschaft db with utf8 settings instead of latin1?
This is something I added yesterday in https://github.com/GS5-build/GBE/commit/9e56751d917e60d46db5a71ada2904e8ae8c8271

[2012-12-19 16:35] wintermeyer commented on #20
IMO this is not a Gemeinschaft problem.

[2012-12-19 16:35] #20 closed, assigned to spag

[2012-12-20 07:17] wintermeyer commented on #16
I wasn't able to repoduce the error.

[2012-12-20 07:17] #16 closed, assigned to wintermeyer

[2012-12-20 07:21] wintermeyer commented on #19
This is not going to be a shop stopper for 5.0. We can fix that in a 5.0.1.

[2012-12-20 08:12] wintermeyer opened #22 "Create default GsNode entry and set HOMEBASE_IP_ADDRESS."
---cut---
Ich habe gerade festgestellt, dass wenn ich einen SipAccount anlege dieser die gs_node_id = 1 hat.

Das waere ja nicht schlimm, allerdings ist die gs_nodes Tabelle leer, es gibt also keinen Node 1.

Weiterhin ist in /opt/GS5/config/initializers/gemeinschaft_parameters.rb

  HOMEBASE_IP_ADDRESS = '0.0.0.0'

das bedeutet, auch wenn in gs_nodes was drinnstuende, koennte das System sich selb

[2012-12-20 08:39] jpawlowski commented on #21
temporal fix with https://github.com/GS5-build/GBE/commit/75d84d67429f96baf3768162006b6e465067163a
(as it's still unclear why UTF8 cannot be used by default)

[2012-12-20 08:39] #21 closed, assigned to spag

[2012-12-20 09:06] wintermeyer commented on #22
f7b3642b0ee7027091fafc1bdf94ac1a309fefa3 fixes the first part. I opened https://github.com/GS5-build/GBE/issues/96 for the HOMEBASE_IP_ADDRESS.

[2012-12-20 09:06] #22 closed, assigned to wintermeyer

[2012-12-20 09:08] spag commented on #17
This bug does not affect install.sh installations.

Fixed in commit 6bf23a88899522a52740113a3cfdccc7ae533fca

[2012-12-20 09:08] #17 closed, assigned to spag

[2012-12-20 10:37] jpawlowski commented on #17
install.sh is not an argument ;-p
GBE uses the official Debian packages (although they are build on our own) so we can assume this is the official behavior of FS. You may also have an old FS version in your install.sh environment, we are using the FS master head branch as suggested by the FS team.

[2012-12-20 14:15] jpawlowski opened #23 "XCAP support"
XCAP support would be great to get advanced support for features in SoftPhones like BlinkPro.
Most likely this is related to integration of XMPP mentioned in https://github.com/GS5-build/GBE/issues/85

[2012-12-21 10:02] duebel- opened #24 "call histories display should be faster"
Rendering of call_histories/_index_core.html.haml is quite slow as seen in production.log below. Time is dependent on number of entries to render:

Started GET "/sip_accounts/4/call_histories" for a.b.c.d at 2012-12-21 10:54:20 +0100
Processing by CallHistoriesController#index as HTML
  Parameters: {"sip_account_id"=>"4"}
  Rendered call_histories/_navigation.html.haml (4.5ms)
  Rendered call_hist

[2012-12-21 12:05] wintermeyer opened #25 "VPN solution for Snom phones."
Peter schlägt vor:

Ab Firmware 8.4.27 sollen alle Snoms angeblich OpenVPN koennen.
Snom Wiki:
http://wiki.snom.com/Networking/Virtual_Private_Network_(VPN)

OpenVPN hat den Vorteil, dass man damit vielleicht die RTP-NAT
Problematik umgehen koennte, da das VPN nur einen Port benutzt.

So wie ich das verstanden habe, muss man nur auf dem Server Zetifikate,
Key und Config in einer tar-Datei Packen u

[2012-12-22 11:41] wintermeyer opened #26 "Improve validation for AcdAgent."

[2012-12-22 11:43] wintermeyer opened #27 "Improve validation for AcdCaller."

[2012-12-22 11:43] wintermeyer opened #28 "Improve validation for AutomaticCallDistributor."

[2012-12-22 11:45] wintermeyer commented on #19
Which URLs are affected by this problem?

[2012-12-22 15:15] jpawlowski opened #29 "OpenVPN support"
dublicates #25

[2012-12-22 15:21] #29 closed, assigned to nobody

[2012-12-22 17:19] wintermeyer opened #30 "Remove CallForward.depth"
It seems that the depth attribute is not used anywhere. That should be double checked.

[2012-12-25 09:04] spag opened #31 "Update tenant and fallback_sip_account on existing phones"
Since commit 9101b20cc5ca4e0553cfb4a503f0d2d51863ba37 the Phone model uses "tenant" and "fallback_sip_account" to store fallback values for "phoneable" and "sip_account".

If a user logs out from a phone, "phoneable_id" is set to the value of "tenant"  and "phoneable_type" to the string "Tenant".
"fallback_sip_account" is used in various provisioning controllers as a fallback for the "phone_sip_ac

[2012-12-25 13:41] spag opened #32 "Update tenant and fallback_sip_account on existing phones"
Since commit 9101b20cc5ca4e0553cfb4a503f0d2d51863ba37 the Phone model uses "tenant" and "fallback_sip_account" to store fallback values for "phoneable" and "sip_account".

If a user logs out from a phone, "phoneable_id" is set to the value of "tenant"  and "phoneable_type" to the string "Tenant".
"fallback_sip_account" is used in various provisioning controllers as a fallback for the "phone_sip_ac

[2012-12-25 13:41] #31 closed, assigned to wintermeyer

[2012-12-26 02:50] jpawlowski commented on #19
e.g. call histories

[2012-12-27 16:31] wintermeyer commented on #32
Can you give an example with real values? What is before and what should be after?

[2012-12-27 16:38] wintermeyer commented on #13
I think the current concept is ok.

[2012-12-27 16:38] #13 closed, assigned to nobody

[2012-12-27 16:40] wintermeyer commented on #12
Please define "Auto-SIP account".

[2012-12-27 16:41] wintermeyer commented on #10
This should be solved during development.

[2012-12-27 16:41] #10 closed, assigned to nobody

[2012-12-27 16:42] wintermeyer commented on #4
Users seemed to do fine without.

[2012-12-27 16:42] #4 closed, assigned to wintermeyer

[2012-12-27 17:21] BUGHUNTER opened #33 "Can not install with manual partitioning"
Trying to install I would like to use manual partitioning - this leads to an error:

"No root filesystem" (see attached screenshot).

The partitioner is called after this, but jumps immediately to the same screen and is stuck in a loop.

![AMOOMA_GS5_NO_ROOT_PARTITION_FAIL](https://f.cloud.github.com/assets/1013014/32842/d9f3ced6-5049-11e2-8d00-b9fe49ef23ff.PNG)

[2012-12-27 19:41] jpawlowski commented on #13
;-(

[2012-12-27 19:42] jpawlowski commented on #12
I mean the SIP account which is auto-created during auto-provisioning

[2012-12-27 19:58] jpawlowski commented on #33
Manual partitioning is currently not supported as we see GS5 as an appliance which should not be used for other purpose.

[2012-12-27 19:58] #33 closed, assigned to nobody

[2012-12-27 20:26] DieterSpeiser opened #34 "Timing for automatic answering"
For answering machines and/or automatic transmission

[2012-12-27 20:41] wintermeyer commented on #34
You have to be a bit more specific. Is this a bug report (if yes, what is the bug?) or a feature request (if yes, what feature are you looking for?)?

[2012-12-28 00:19] netdrag opened #35 "Access denied when trying to create a new group"
I am getting:

Access denied! Please ask your admin to grant you the necessary rights.

when I try to create a new Group.

I log into the webinterface and go to the url:
http://localhost:8080/tenants/2/user_groups/new

its localhost because I am using ssh forwarding. But thats not the problem cause it also happens on another machine in the network where gemeinschaft is installed.

Then I insert th

[2012-12-28 09:14] wintermeyer commented on #35
I was not able to reproduce this error with the Live CD.

[2012-12-28 09:21] wintermeyer commented on #34
Please reopen with a better description.

[2012-12-28 09:21] #34 closed, assigned to nobody

[2012-12-28 09:50] wintermeyer commented on #19
@spag Please verify if this is a FreeSWITCH/Lua problem.

[2012-12-28 10:00] spag commented on #32
"tenant_id" should be simply "2" on virtually any GS5 installation out there.
Maybe "Tenant.last" would be a more flexible approach though.
"fallback_sip_account" should equal "Phone.find(x).sip_accounts.first" - at least for all "hot_deskable=true" phones.

[2012-12-28 10:02] jpawlowski commented on #19
Looking at my analysis results this is not a FS/lua problem as FS writes the correct timestamps into the database:

### default-time-zone=SYSTEM
- system date: Wed Dec 19 13:25:49 CET 2012
- web GUI: 14:25
- MySQL NOW(): 2012-12-19 13:25:49
- **select \* from call_histories: 2012-12-19 13:25:49**

[2012-12-28 10:14] spag commented on #19
The call_histories table is probably a bit misleading and does not reveal the right culprit. The corresponding Lua library simply calls the FROM_UNIXTIME() MySQL function to save the time values provided as simple integer values by FreeSWITCH.

[2012-12-28 10:23] wintermeyer commented on #32
The first part is easy:

[code]

But I don't understand the second part. What is x in Phone.find(x).sip_accounts.first ?

[2012-12-28 10:42] spag commented on #32
@phone.sip_accounts.first served as the SIP Account to which the phone defaults when no user is logged in but proved unreliable. It was replaced by a dedicated field in the phones table: said "fallback_sip_account_id" column.

[2012-12-28 10:50] wintermeyer commented on #32
Would the following code be the right migration?

[code]

[2012-12-28 10:59] wintermeyer opened #36 "Show the Fallback SIP Account only if hot_deskable == true"
http://0.0.0.0:3000/users/1/phones/new should only show the Fallback SIP Account if it makes sense to set it.

[2012-12-28 11:01] spag commented on #32
One could additionally filter for tenant sip accounts:

[code]

[2012-12-28 11:04] wintermeyer commented on #32
So the following code would be the solution for this issue?

[code]

[2012-12-28 11:30] spag commented on #32
I'm uncertain about "phone.tenant_id ". Shouldn't it be better set on every phone, not only the hot_deskable ones?

[2012-12-28 11:48] wintermeyer opened #37 "Validation for fallback_sip_account in the Phone model."
A fallback_sip_account_id should have a better validation. Check if the SipAccount exists.

[2012-12-28 11:59] wintermeyer commented on #32
I commited a migration to do this. 9190c997fe17ed1c680d2b073c8d2e21ac864b57
Please double check if it works as needed.

[2012-12-28 11:59] #32 closed, assigned to wintermeyer

[2012-12-28 12:08] wintermeyer commented on #12
@spag Julian has a point here. Please take care of it if it makes sense for you too.

[2012-12-28 18:35] wintermeyer commented on #36
Fixed by 3b07751150c0cd70eee4e750dd7a3670120a8675

[2012-12-28 18:35] #36 closed, assigned to wintermeyer

[2012-12-28 19:14] wintermeyer commented on #37
@spag Do we have to define some sort of after_destroy method for a SipAccount to check if this SipAccount is a fallback_sip_account for a Phone?

[2012-12-28 19:25] wintermeyer commented on #11
Got cold feet. It is not important enough for adding a potential problem on OSes we don't know.

[2012-12-28 19:27] #9 closed, assigned to wintermeyer

[2012-12-28 20:57] jpawlowski commented on #11
Something I can't really understand... which potential problem?!? which OS we don't know?

"YOU ARE IN LIVE MODE, CHANGES WILL BE LOST AFTER REBOOT" is worth mentioning in the web interface too, not only on the login prompt.

[2012-12-29 09:22] spag commented on #37
Setting fallback_sip_account_id to nil should be OK.

[2012-12-29 17:56] tholli opened #38 "problems when creating an admin account - fresh installation"
After creating a new server (fresh installation) via http://localhost/gemeinschaft_setups/new with filling out any needed forms following error occurs:

**\* snip
Errno::ENOENT (No such file or directory - /nonexistent/.ruby-uuid):
  lib/activerecord_extensions.rb:10:in `new'
  lib/activerecord_extensions.rb:10:in`populate_uuid'
  app/controllers/gemeinschaft_setups_controller.rb:22:in `create'

c

[2012-12-29 18:40] wintermeyer commented on #38
Please use the ISO image. The source code is for development only.

[2012-12-29 18:41] #38 closed, assigned to nobody

[2012-12-30 10:27] wintermeyer opened #39 "Backup and Restore functionality"

[2012-12-30 10:31] saschadaniels commented on #39
Ich fand das Backup to yaml ziemlich gelungen. Eine Kombination mit
einen tgz der restlichen lokalen files wäre relativ leicht machbar.

Am 30. Dezember 2012 11:27:40 schrieb Stefan Wintermeyer
notifications@github.com:

[2012-12-30 10:46] wintermeyer commented on #15
Mental note:

[code]

[2012-12-30 11:04] wintermeyer opened #40 "Add Snom MeetingPoint"
http://www.snom.com/en/products/sip-conference-phone/snom-meetingpoint/

[2012-12-30 11:13] jpawlowski commented on #39
Welche Anforderungen werden hier an die GBE gestellt?
Oder wird es einfach dann bei der Init-Seite die Möglichkeit geben eine vorhandene Config einfach hochzuladen?
Wie geht ihr mit Änderungen in den Textdateien um?

[2012-12-30 11:25] wintermeyer commented on #39
Ich weiß selber noch nicht, was alles in ein Backup rein muss. Ich weiß auch nicht, wie wir das im UI abbilden können.

@spag Hast Du eine Liste mit Konfigurationsdateien, die wir auf jeden Fall sichern müssen?

[2012-12-30 11:54] TobiasW commented on #35
I am also not able to create a new group. Tested with 5.0 and 5.0.1 with Live CD and installation.
Or is there anything special to keep in mind by creating a new group, except being admin?

[2012-12-30 12:00] wintermeyer commented on #35
Which URL do you use to create a new user_group? Please submit a screenshot of the new form and the next page (the one with the error).

[2012-12-30 12:09] TobiasW commented on #35
I used this URL: http://192.168.100.55/tenants/2/user_groups/new

![new_form](https://f.cloud.github.com/assets/407146/35798/8b6d0692-5279-11e2-85d7-bc7963586ebe.jpg)

![error](https://f.cloud.github.com/assets/407146/35799/aa3d46ea-5279-11e2-914d-316a57bf0839.jpg)

[2012-12-30 13:23] wintermeyer commented on #40
Done. 131d204324062991c93cd5418d1dc7854347ffb6

[2012-12-30 13:23] #40 closed, assigned to nobody

[2012-12-30 14:51] wintermeyer commented on #35
Fixed by caf624f11f7de44289b3c994fc72cc5e32ed799e

[2012-12-30 14:51] #35 closed, assigned to wintermeyer

[2012-12-30 14:53] TobiasW opened #41 "Snom 870, usage and visibility of icons"
Remove not used or supported icons from display and/or change behavior of default icons.

Some example code I used with GS3.1

[code]

[2012-12-30 14:57] wintermeyer commented on #41
Good thinking! :-)

Übertragen Sie die Rechte für diesen Code an uns? Sonst haben wir ein Lizenzproblem.

[2012-12-30 15:03] TobiasW commented on #41
Danke,

hiermit sind die Rechte an Sie übertragen! :-)

[2012-12-30 15:28] gesicmerrybeard opened #42 "Installation auf Igel-4210 LX"
Bein Versuch GS5 auf  einem Igel-4210 LX Thin Client zu installieren kommt es zu diversen Problemen.
U. A. reichen die eingebauten 1GB Ram scheinbar nicht und die Datenbanken zu migrieren.
Ich habe die Installation über 10 Stunden laufen lassen und sie konnte scheinbar trotzdem nicht alle Scripte der Installation erfolgreich abarbeiten. Es werden immer wieder Prozesse geschlossen um Speicher frei

[2012-12-30 15:48] TobiasW commented on #35
Sorry to keep bothering you with this, but I think you should change the update and destroy method in the same way.

[2012-12-30 15:59] wintermeyer commented on #42
Wie viel Festplattenplatz hat das System? Was für eine CPU ist eingebaut?

[2012-12-30 16:00] wintermeyer commented on #42
BTW: 1 GB RAM reicht. Ich teste immer mit 512 MB.

[2012-12-30 16:08] gesicmerrybeard commented on #42
VIA C7 CPU 1 GHz und 8GB über CF Karte http://www.amazon.de/gp/product/B000W05O5O/ref=oh_details_o04_s00_i00

Hatte darauf auch schon Debian mit Asterisk / Apache sowie Debian mit GS3 zum Laufen gebracht ohne Modifikationen vornehmen zu müssen.

Lediglich bei der Installation von GS5 kommt es zu diesen Problemen.
Ich habe nun auch schon 3 mal die Installation neu gestartet. Mit 3 verschiedenen Ins

[2012-12-30 16:12] wintermeyer commented on #35
Don't be sorry! Thanks for finding the bug and giving a good bug report.
Fixed by cc2a6de28e676b5afb73f3fafb5b417301927cc9

[2012-12-30 16:15] wintermeyer commented on #42
Ich befürchte es liegt am VIA C7. Vielleicht hat @jpawlowski noch eine Idee. Falls nicht, wird das auf dem VIA C7 nichts.

[2012-12-30 16:25] gesicmerrybeard commented on #42
Inwiefern sollte es am VIA C7 liegen an der Leistung oder an der Kompatibilität? Immerhin hat es bei Asterisk und bei GS3 ja auch geklappt.

[2012-12-30 16:36] wintermeyer commented on #42
Es kann ein Kompatibilitätsproblem sein. Die Leistung ist egal (man muss nur genug Geduld haben). Mal schauen, was @jpawlowski sagt.

[2012-12-30 17:21] jpawlowski commented on #42
Ich hab leider auch keine direkte Idee dazu. Jedes Intel-basierte System sollte unterstützt werden.
Du kannst aber mal in /var/log/gemeinschaft/setup.log schauen, ob es da mehr details zu sehen gibt (ggf. die CF-Card mit einem anderen System entsprechend auslesen).

Die Systeminstallation ist ja grundsätzlich gelaufen, es hat also was mit rake zu tun. Ich weiß nicht ob der VIA Chip ggf. einige Bef

[2012-12-30 17:34] gesicmerrybeard opened #43 "Md5 hash"
Wäre es möglich auf der Webseite einen md5 hash zum Download veröffentlichen um sicher zu stellen das das Paket unverändert herunter geladen wurde?

[2012-12-30 17:52] gesicmerrybeard commented on #42
Hier mal das setup.log von heute Nachmittag 16:10.

Habe das ganze mal aufgrund der 577 Zeilen auf pastebin hochgeladen, http://pastebin.com/m0GzVQWw .

Das letze was im Log steht ist:
==  RemoveFaxDocumentableFromFaxDocuments: migrating ==========================

Ich werde gleich noch einmal eine Installation anstoßen und schauen ob es wieder am selbem Punkt stoppt.

[2012-12-30 18:46] jpawlowski commented on #43
SHA1, SHA256 und MD5 Hashes gibt es, werden aktuell nur nicht verlinkt.

http://amooma.de/downloads/gs5/201212282253/MD5SUMS
http://amooma.de/downloads/gs5/201212282253/SHA1SUMS
http://amooma.de/downloads/gs5/201212282253/SHA256SUMS

Das Verzeichnis ändert sich freilich mit einem neuen Release entsprechend, die Dateinamen sind aber gleich.

[2012-12-30 18:46] #43 closed, assigned to nobody

[2012-12-30 18:51] jpawlowski commented on #42
Danke. Zu den Ausgaben in /var/log/gemeinschaft/setup.log und /var/log/boot (der Teil ab "Initializing database") können @wintermeyer oder @spag mehr sagen.

[2012-12-30 18:55] wintermeyer commented on #42
Bitte mit der Version 5.0.2 noch mal probieren (sollte morgen verfügbar sein). Wenn es damit nicht geht, dann sehe ich keine schnelle Lösung.

Ich bin davon überzeugt, das GS5 auf dem C7 auch läuft. Aber wir haben keine Zeit den Installer entsprechend anzupassen. Für uns ist der C7 ein Nischenprodukt, das wir uns nur im Rahmen einen Consultingprojektes weiter anschauen würden.

[2012-12-30 18:55] #42 closed, assigned to jpawlowski

[2012-12-30 19:44] wintermeyer opened #44 "Provisioning URL in phone#view"
Aktuell ist im view folgender Code:

[code]

Das müsste noch refactoriert und für weitere Hersteller angepasst werden.

[2012-12-30 19:45] wintermeyer commented on #44
@spag Wie ist die Provisionierungs-URL für die OpenStages und das Polycom?

[2012-12-30 19:47] wintermeyer opened #45 "JavaScript should get the phone model from the MAC address in phone#new"
For Snom phones the user shouldn't have to enter the phone model after entering the MAC address.

[2012-12-30 19:58] wintermeyer opened #46 "Migration for the Polycom phone."
@spag Please add a migration for the polycom conference phone.

Example can be found in 20121230110747_snom_meetingpoint.rb:

[code]

[2012-12-30 20:10] saschadaniels commented on #39
Am 30.12.2012 12:25, schrieb Stefan Wintermeyer:

Wir könnten alle lokalen Dateien (inkl. db/database.yaml) nach
/opt/gemeinschaft-local legen und verlinken.

Das funktioniert auch bei der 3 sehr gut und man kann "git pull"
gefahrlos machen.

Wenn man db/ auch noch dort hin legt kann man das yaml backup machen und
dann ein tgz von /opt/gemeinschaft-local zum Download bereit stellen.

[2012-12-30 20:19] jpawlowski opened #47 "[wheezy] support for lua 5.2"
For the planned migration to Wheezy and therefore lua version 5.2, GS5 code needs some enhancements.

For instance startup of FreeSwitch shows following error:

[code]

Short research result:
http://stackoverflow.com/questions/10854971/luasql-nil-value

[2012-12-30 20:25] wintermeyer opened #48 "Remove private_pub"

[2012-12-30 21:07] jpawlowski commented on #39
Könnten wir, um sie zentral zu haben, ja.
Ich würde trotzdem Symlinks aus /etc/gemeinschaft/ und anderen Systempfaden erzeugen, damit diese auch an den richtigen Stellen, wo man es per Default erwartet, gefunden werden können.

[2012-12-30 21:31] saschadaniels commented on #39
Am 30.12.2012 22:07, schrieb Julian Pawlowski:

So war das auch gemeinst, hatte ich nur vergessen zu schreiben. Sorry!

[2013-01-01 10:09] wintermeyer opened #49 "Move constants into a database table."
Move the content of /config/initializers/gemeinschaft_parameters.rb into a table which gets read by an initializer at start time. Any change would have to be followed by a boot of the system.

[2013-01-01 22:34] saschadaniels commented on #44
Openstage bekommt nur IP und Port übergeben. Der Rest ist in der Openstage Firmware hardcoded!

Am 30.12.2012 um 20:45 schrieb Stefan Wintermeyer notifications@github.com:

[2013-01-01 22:43] saschadaniels commented on #42
Ich würde versuchen die CF Card aus dem Thinclient in einem stärkeren Rechner mit Cardreader zu installieren und dann umstecken.

Am 30.12.2012 um 19:55 schrieb Stefan Wintermeyer notifications@github.com:

[2013-01-02 07:09] wintermeyer commented on #44
OpenStage:

[code]

oder mit einem / am Ende?

[2013-01-02 08:34] saschadaniels commented on #44
Am 02.01.2013 08:09, schrieb Stefan Wintermeyer:

Bei Openstage ist alles anders.

Als Admin anmelden (default: 123456)
Administrator Seite -> Network -> Update Service (DLS)

DLS address -> #{GemeinschaftSetup.first.sip_domain.host}
DLS port -> 443 (default 18443)

[2013-01-02 08:48] wintermeyer opened #50 "Create Demo Accounts"
The setup should have a Boolean create_demo_accounts which triggers the creation of some SipAccounts, Conferences and what not.

[2013-01-02 18:04] TobiasW opened #51 "Snoms (370/870) won't restart"
Snoms won't restart after login/logout via feature code.
Logging in/out with the phone menu restarts the phone immediately.

[2013-01-02 18:23] wintermeyer commented on #51
Which Firmware do you use?

[2013-01-02 18:27] TobiasW commented on #51
Sorry I forgot, I tried it with 8.4.35

[2013-01-02 18:56] wintermeyer commented on #51
Which GS version did you try?

[2013-01-02 19:04] TobiasW commented on #51
5.0.1

[2013-01-02 19:18] wintermeyer commented on #51
Please use tomorrow's nightly build. In case it doesn't solve the problem: Please reopen this ticket.

[2013-01-03 10:22] spag commented on #44
Bei Polycom ist es aehnlich wie bei OpenStage, da kann man nur IP Adresse (und User + Passwort wenn man will) angeben. Ich bin mir nicht einmal sicher, ob man einen Port angeben kann.

[2013-01-03 10:46] spag commented on #12
We need a "voicemail_enabled" booelan in the SipAccount model than and have to ensure it gets disabled when an account is created by the provisioning controller.

[2013-01-03 12:34] wintermeyer commented on #12
We have bigger fish to fry. I moved this to 5.2.

[2013-01-03 13:33] huzun opened #52 "Phonebook and Call Histories cannot be invoked with Snom MeetingPoint"
It's not possible to invoke the call histories and phonepook with Snom MeetingPoint (Firmware 8.4.35 + GS5.0.2)

[2013-01-03 13:55] huzun opened #53 "Umlauts are not being displayed in call histories"
Entries (Hüseyin Uzun is displayed as Hseyin Uzun) with umlauts are not being displyed in call histories (GUI and Snom-Phone 870)

[2013-01-03 14:12] TobiasW commented on #51
It's still not working with the latest nightly build

[2013-01-03 14:14] wintermeyer commented on #51
@spag Do you have any ideas?

[2013-01-03 14:51] huzun commented on #52
Logentry from Snom MeetingPoint:
[5] 3/1/2013 15:26:28: Fetching URL: http://gs5:80/config_snom/14//phone_book.xml
[5] 3/1/2013 15:26:28: Could not access requested minibrowser xml file gs5:80/config_snom/14//phone_book.xml. HTTP status code: 404

example Logentry from Snom 870 which works :
[5] 3/1/2013 15:47:22: Fetching URL: http://192.168.1.5:80/config_snom/2/2/phone_book.xml

[2013-01-03 14:55] huzun commented on #52
I forgot to assign the phone with the sip-account. now it works well.

[2013-01-03 17:50] #52 closed, assigned to spag

[2013-01-03 17:55] wintermeyer opened #54 "German Voiceprompts"
Generate German voiceprompts.

[2013-01-04 08:58] wintermeyer opened #55 "Provisioning for the snom Vision"
We need to find a good architecture to include a provisioning and configuration for the
http://www.snom.com/en/products/accessories/snom-vision/

[2013-01-04 09:03] wintermeyer opened #56 "Click to Dial in the phone book."

[2013-01-04 09:04] wintermeyer opened #57 "GUI to set the maximum length and number of voicemails per user."

[2013-01-04 09:05] wintermeyer opened #58 "Grant other users read-only access to voicemailboxes."
Example: An assistant should have access to the voicemailbox of his/her boss.

[2013-01-04 09:07] wintermeyer opened #59 "Dispatcher functionality with WebGUI"
A centralized dispatcher needs a WebGUI to see who is busy and some sort of drag and drop functionality to transfer calls.

[2013-01-04 09:08] wintermeyer opened #60 "Time depending rules for least cost routing."
I don't know if this one is already possible with the existing routing engine.

@spag If yes: Please write a Wiki page of how to use it and link it in this issue.

[2013-01-04 09:14] wintermeyer opened #61 "Transfer a current call into a stand by conference."
Use case: I talk to A and want to have a three party conference call with A and B. But my SIP phone doesn't provide that functionality. So I need some sort of feature code to transfer my current call into a stand by conference.

@duebel- Please provide additional use cases in this issue in case I missed something here.

[2013-01-04 09:16] wintermeyer opened #62 "Invite new participance into an existing conference call."
A moderator of a conference call has to be able to call other phone numbers during a conference call to connect them.

CC: @duebel-

[2013-01-04 09:17] wintermeyer opened #63 "Feature code for redial."
We need a feature code for a redial.

[2013-01-04 09:17] wintermeyer opened #64 "Feature code to activate and deactivate CLIR."

[2013-01-04 09:19] wintermeyer opened #65 "Right management for Pickups."
Currently anybody can pickup calls from anybody. That needs to be changed and needs to have some sort of right management.

all: Please provide ideas how to achieve this and what features would be nice.

[2013-01-04 09:20] wintermeyer opened #66 "Agent needs to be able to log in and out of a queue by a feature code and the WebGUI."

[2013-01-04 09:25] spag commented on #41
fixed in commit 7171f3ecfb8af4f9fcc30bcd168159d05ec4ae7f

[2013-01-04 09:25] #41 closed, assigned to spag

[2013-01-04 09:37] spag commented on #53
This is not a call history but a caller-ID issue as many phones are unable to display any sort of non ASCII characters as caller-ID.

[2013-01-04 09:37] wintermeyer commented on #11
There is bigger fish to try.

[2013-01-04 09:37] #11 closed, assigned to wintermeyer

[2013-01-04 09:57] wintermeyer commented on #53
IMO http://api.rubyonrails.org/classes/ActiveSupport/Inflector.html#method-i-transliterate is the way to go for solving this problem.

[2013-01-04 10:16] spag commented on #60
https://github.com/amooma/GS5/wiki/Zeitabh%C3%A4ngige-Routen

[2013-01-04 10:16] #60 closed, assigned to spag

[2013-01-04 10:24] spag commented on #53
We cannot do this in the dialplan or on a per call basis then. We need to add a caller_id field in the database for all relevant record types (e.g. PhoneBookEntry, AreaCode) to be filled after the corresponding record is saved.

[2013-01-04 10:47] spag commented on #64
feature added in commit 04bb4f1ae86bfa0cc495b38e45bb017662cedd37

[2013-01-04 10:47] #64 closed, assigned to spag

[2013-01-04 11:30] spag commented on #63
feature added in commit 380a4cdfe5cfa573fb916ca7c2145a6062ef8198

[2013-01-04 11:30] #63 closed, assigned to spag

[2013-01-04 13:02] duebel- commented on #66
does work as softkey via /config_snom/11/4/acd.xml?acd=1&agent=1&function=toggle

feature code does work as f--acdmtg-AGENTID-ACDPHONENUMBER
would be better if -acdmtg-AGENTPHONENNUMBER-ACDPHONENUMBER worked.

[2013-01-04 13:08] spag commented on #66
If ACDPHONENUMBER is provided, the AGENTID can bei set to "0" and vice versa.

[2013-01-04 13:08] duebel- commented on #65
define some sort of pickup groups. pickup does only work inside of one group.

user1 and user2 are in pickupgroupA
user3 and user4 are in pickupgroupB

user1 can pick user2's calls but not the calls of user3 and user4 aso.

[2013-01-04 13:09] spag commented on #66
[prerouting]
^%_5%_(%d+)#$           , f-acdmtg-0-%1

[2013-01-04 13:12] duebel- commented on #66
ok, works. feature code is fine then. :-)

[2013-01-04 13:17] spag commented on #51
Is a HTTP proxy involved in any way?

[2013-01-04 13:21] duebel- commented on #56
like the call link in the call histories, e. g. http://x.y.z.a/sip_accounts/4/call_histories/821/call

[2013-01-04 13:22] TobiasW commented on #51
Nope, it's only my test lab network with GS in a vm and some snom phones

[2013-01-05 22:15] wintermeyer commented on #49
That was quite a time consuming change. 3862734b5e0833ed108300102c68159e40ffd93a

[2013-01-05 22:15] #49 closed, assigned to wintermeyer

[2013-01-06 16:52] hehol opened #67 "Display phone number on idle screen"
The user should be able to see his/her phone number in the idle screen of the phone display. Currently,  only the first name and last name are being shown.

Since a user can have more than one phone number, it may be a good idea to just show the phone number that has been configured first.

[2013-01-06 17:25] hehol opened #68 "snom phone does not show caller name/number in call"
When user A calls user B, the name and number of user A are being shown in the ringer screen of user B's phone. However, as soon as the call is being answered, the name and number are being replaced with the string "Call" plus the account id of the calling phone.

Example:

![screen-ring](https://f.cloud.github.com/assets/239507/46137/ab808d08-5825-11e2-9f6d-75c006316333.png)
while ringing

![scre

[2013-01-06 17:28] hehol opened #69 "No music on hold"
When putting a call on hold, no music on hold is being played. fs_cli says:

[code]

[2013-01-06 17:37] hehol opened #70 "U.S. ringback tone"
When placing internal calls, a U.S. ringback tone is being played to the caller instead of a German ringback tone. If the PBX as a whole is German, the ringback tone should be as per ETSI recommendation (425 Hz for one second, 3-5 seconds of silence)

[2013-01-06 17:42] hehol opened #71 "snom phone does not boot if user is being deleted"
A user is logged on to a snom phone via hotdesking. If the user is being deleted via the web gui, the phone does not reboot. It shows the user's name until it is being rebooted manually.

[2013-01-06 17:59] hehol opened #72 "snom: attended transfer leaves call open at transferee"
This is the scenario:
- user A calls user B
- user A presses the hold key
- user A calls user C
- user A presses the transfer key
- user A presses the enter key (red/white "tick" key)

Now, user B and user C are connected, but user A's phone still shows a call with user C but the line is "dead".

I'm using snom 370 and snom 821 with firmware 8.4.35.

[2013-01-06 19:11] wintermeyer commented on #72
AFAIK this is a Snom Firmware problem.

[2013-01-06 19:11] #72 closed, assigned to nobody

[2013-01-06 19:13] wintermeyer commented on #71
@spag Which method do I have to call to reboot all phones of a user? I'll add it as an after_destroy callback.

[2013-01-06 19:19] wintermeyer commented on #67
We like the current behavior. But I see your point. There could be some sort of configuration parameter what to display. We have bigger fish to fry right now but I'll leave it as a feature request.

[2013-01-07 07:53] spag commented on #70
The PBX defaults are not German and selecting "Germany" in the GUI doesn't affect the dialplan settings at the moment.

You can set the ringback tone to anything you like in /opt/GS5/misc/freeswitch/scripts/ini/dialplan.ini

[2013-01-07 07:53] #70 closed, assigned to spag

[2013-01-07 08:00] spag commented on #71
I'm afraid you will have to use iteration to call "phone.resync" for all phones in the list.

[2013-01-07 08:07] spag commented on #68
I'm afraid it's some strange Snom/FreeSWITCH thing we can't do much about.

[2013-01-07 08:52] spag commented on #58
Does it include dialplan access or just the GUI?

[2013-01-07 09:03] spag commented on #65
Groups can be defined on the user level already but how to handle non-user SIP accounts (e.g. tenant accounts) then?

One could:
a) make groups universal (polymoprphic)
b) add a dedicated sip_account_groups Model

[2013-01-07 10:25] spag commented on #61
What about using the "transfer all" function "f-ta-"?

e.g.

[prerouting]
^%_2%_(%d+)#$ , f-ta-%1

[2013-01-07 11:27] wintermeyer commented on #71
Fixed in b66cf13cab7bbef0ae4244aabc023fede67e36fb. Will be available in tomorrow's nightly build.

[2013-01-07 11:27] #71 closed, assigned to wintermeyer

[2013-01-07 12:04] wintermeyer commented on #65
Wouldn't be user level defined groups fine for the given problem? No need to add tenant accounts to this.

[2013-01-07 12:07] wintermeyer commented on #70
@spag Most users don't know how to configure it. Please add the necessary configuration for German ringback tones in the /opt/GS5/misc/freeswitch/scripts/ini/dialplan.ini.

[2013-01-07 12:20] wintermeyer commented on #68
@spag Could this be the solution? http://wiki.freeswitch.org/wiki/Variable_effective_caller_id_name

[2013-01-07 12:33] wintermeyer commented on #39
Mental note: Duplicate the MySQL database. Delete the contente of fax and voicemail tables (without deleting the table itself). Do the backup. Change the database name in the dump.

[2013-01-07 12:42] hehol commented on #68
@wintermeyer No, effective_caller_id_name only affects the caller-id during the origination phase of the channel. It will be overwritten once the call has been fully bridged. effective_caller_id_name/number are already being used to override the caller-id name and number in SipCall.fork(). This is a bit tricky in FS because the name and number will fall back to the data of the SIP peer in subseque

[2013-01-07 12:53] wintermeyer commented on #68
Please add a note that you assign the rights for this patch to AMOOMA GmbH. After that we can use it. Thanks!

[2013-01-07 13:05] hehol commented on #68
Feel free to use the patch. Just keep in mind that it's a quick hack and probably not the right place in the code to set the variable.

[2013-01-07 13:22] spag commented on #68
I we really need that option it should be made available in "dialplan.ini".
If we disable it in the code for good, some people would complain to have lost sensible functionality on phones not affected by this issue (e.g. Polycom)

[2013-01-07 13:26] spag commented on #65
I'm not 100% convinced no one needs this on tenant phones. In this stage it would't probably take much more effort to do it on the sip_account level.

[2013-01-07 13:28] spag commented on #68
@hehol Which firmware Version do you use?

[2013-01-07 16:40] hehol commented on #68
@spag I tried 8.4.35 and 8.7.3.15 with the same result.

[2013-01-07 18:34] wintermeyer commented on #65
@spag Your call.

[2013-01-07 18:37] wintermeyer commented on #7
Mental note: https://github.com/bvandenbos/resque-scheduler might be a good solution.

[2013-01-07 19:00] jpawlowski commented on #7
_tumbsup_

[2013-01-07 22:19] wintermeyer opened #73 "provisioning_key = true als Default"
In phones/new den Wert für provisioning_key per Default auf true setzen.

[2013-01-07 23:10] spag commented on #73
Besser PROVISIONING_KEY_LENGTH in GsParameter auf z.B. 12

[2013-01-08 03:48] jpawlowski opened #74 "Explicitly set logdir for Ruby"
Could you please set the logdir for Ruby from /opt/GS5/log to /var/log/gemeinschaft?
I guess this is a default value to be changes somehow...

At the moment I symlink this dir during build but as we would like to use an untouched Git clone I would like to avoid doing this change (even if it's outscoped by .gitignore).

[2013-01-08 07:02] jpawlowski opened #75 "Let Lua scripts look for existing configuration in additional dir first"
Lus scripts in freeswitch/scripts currently load their configuration from /opt/gemeinschaft/misc/freeswitch/scripts/ini_.
As we have a local copy of those files now the scripts should check if the file is existing in /opt/gemeinschaft-local/freeswitch/scripts/ini/_ first and otherwise fallback to the original directory in the Git repo.

[2013-01-08 07:56] spag commented on #75
The files look for configuration in /opt/GS5/misc/freeswitch/scripts/ini/ not in /opt/gemeinschaft/ - otherwise you would not be able to install GS3 and GS5 along each other.

[2013-01-08 08:07] spag commented on #68
One disturbing fact about Snom phones seems to be that you cannot reliably set them back to factory defaults.
e.g. different Snom 821 phones  (both fw. 8.4.35) show different settings (end behave differently) right after performing a factory reset.

[2013-01-08 08:22] spag commented on #68
On a Snom 821 with FW 8.4.35:
![snom821_1](https://f.cloud.github.com/assets/230554/49555/76e01978-596b-11e2-8306-d67604631592.png)
![snom821_2](https://f.cloud.github.com/assets/230554/49556/7d57bfa4-596b-11e2-89f1-4768f05d8aee.png)

The labels are not correct (both lines show callee data) but the information displayed seems to be legit.
One could probably tinker with the phone firmware to change

[2013-01-08 08:30] hehol commented on #68
@spag your screenshots have been taken from display of the caller, right? My screenshots show the display of the callee.

I don't believe this is an issue with the factory reset of the snom phones. To be absolutely sure, you might want to erase the settings partition from the bootloader if you are using a 7xx or 8xx phone.

[2013-01-08 10:16] spag commented on #68
fixed in commit 70ef0ee8e668b0f620ec74afc8347e43bcfebb87

[2013-01-08 10:16] #68 closed, assigned to spag

[2013-01-08 12:18] getsolveit opened #76 "Parallel Call to external with ACD"
It was helpful to select more than only sip accounts in agents in ACD.

[2013-01-08 13:13] spag commented on #56
feature added in commit b67c3f5ff6474ba117c75eb81c7d2d9371e8a103

[2013-01-08 13:13] #56 closed, assigned to spag

[2013-01-08 13:27] jpawlowski commented on #75
IMHO parallel installation is nothing one would do (anymore) with the appliance version we have now.
As we don't use the old install script anymore this change shouldn't be a problem.

As I would like to avoid adding GS5/misc/freeswitch/scripts/ini to .gitignore (the only way to keep "git-pull" working) I really would like to have this change. It's needed for our online-update approach @wintermeye

[2013-01-08 13:34] jpawlowski commented on #76
Did you try to setup a SIP account with permanent call-forwarding to external and register this SIP account with the ACD?

[2013-01-08 13:39] getsolveit commented on #76
No, I don't try it. I have on my fon a call-forwarding, but the other agents stop ringing now. I test it with permanent call-forwarding 3 month ago and it don't work.

[2013-01-08 13:41] jpawlowski commented on #76
3 month ago sounds more you were trying it with GS3, not GS5. I think it's worth trying, otherwise please ask on the mailing list first before opening a ticket if you are not absolutely sure the feature is really missing or not possible with GS5.

[2013-01-08 13:43] getsolveit commented on #76
No, I have get a GS5 Installation from Stefan. And i have done all updates with git pull.

[2013-01-08 13:44] wintermeyer commented on #76
If you pay for it we can include it. But until than I have to say that we have bigger fish to fry feature request wise.

[2013-01-08 13:52] wintermeyer commented on #76
@spag How much time would it take to implement such a feature? Ballpark.

[2013-01-08 14:11] duebel- opened #77 "phone book entries with German umlauts are not searchable in SNOM phone book"
GET "/config_snom/11/4/phone_book.xml?type=&keys=keys=685537" does not find "Müller"

Processing by ConfigSnomController#phone_book as XML
  Parameters: {"type"=>"", "keys"=>"keys=685537", "phone"=>"11", "sip_account"=>"4"}
  Rendered config_snom/_snom_phone_directory.xml.haml (1.8ms)

Either umlauts should be forbidden in phone book or '2' should stand for 'ä', '6' for 'ö' and so on...

[2013-01-08 14:55] jpawlowski commented on #75
Conclusion from our confcall:
Peter is looking for a solution to get rid of those static ini files and Julian will make a rollback for /opt/GS5 to be the standard directory again.

[2013-01-08 22:25] jpawlowski opened #78 "Conference cannot find some audio files"
with current develop build conferences are not working.
After joining the confcall, telling my name and the message that I am the only person voice stops and /var/log/freeswitch/freeswitch.log is getting extremely lots of messages.

ACD however is working fine including MOH.

Session log

[code]

[2013-01-09 12:22] smsgroupat commented on #54
take a look at these:
http://freeswitch.xpirio.com/

[2013-01-09 12:45] jpawlowski opened #79 "db:migrate issue "undefined method `entity' for #<GsParameter:0xadfb380>""
db:migrate currently fails with following errors:

[code]

[2013-01-09 12:49] jpawlowski commented on #78
this might dublicate issue #69

[2013-01-09 12:49] #75 closed, assigned to spag

[2013-01-09 12:50] jpawlowski commented on #74
this is more or less obsolete now with a new upgrade concept for GS5

[2013-01-09 12:50] #74 closed, assigned to wintermeyer

[2013-01-09 13:41] jpawlowski commented on #79
fixed with 9c15b1dfd6057cbfde8c6a5c8d90a35073ec5dca

[2013-01-09 13:41] #79 closed, assigned to spag

[2013-01-09 15:28] jpawlowski opened #80 "New phone formular should also accept truncated MAC addresses"
I use "arp -a" to find out the MAC address of new phones before I manually add them to GS.
However the output is a bit different and misses leading zeroes, for instance:

0:4:13:48:17:d3

The web form should also accept this and automatically add leading 0 where applicable.

[2013-01-09 15:32] danau opened #81 "Autoprovisioning Siemens OpenStage 20"
Bitte um Aufnahme des Siemens OpenStage 20 in die Autoprovisioning Liste von GS5.

http://www.siemens-enterprise.com/de/support/downloads-phones-devices/openstage-sip.aspx

[2013-01-09 15:45] jpawlowski opened #82 "Sofia cannot connect to database due to wrong credentials"
I guess the configuration read from database does not use the password from .odbc.ini yet but a default password "gemeinschaft" instead:

[code]

[2013-01-09 17:32] jpawlowski opened #83 "Reboot system via Webinterface"
Admins should be able to reboot the system via web interface.
I have already given needed sudo-rights for the user gs5 to implement this, see
https://github.com/amooma/GBE/blob/7744db2ed7eaf75aab4592722d99cc96beef29f3/config.v2/chroot_local-includes/usr/local/bin/gs-enforce-security.sh#L59-L62

[2013-01-09 18:41] spag commented on #82
fixed in commit b1fad77507c71402d25f085c048848462c2d52f1

[2013-01-09 18:43] wintermeyer commented on #39
Mental note: https://github.com/meskyanichi/backup

[2013-01-09 18:53] jpawlowski opened #84 "Direct jump link to Snom web interface for admins"
Admins should have a link in the phone config details to directly jump to the phone's web interface including http user and password (not sure if it can be fully automatic with just a single click as one should avoid having the credentials in the URL like https://user:password@0.0.0.0 ...)

[2013-01-09 18:59] wintermeyer commented on #84
Good thinking!

[2013-01-09 19:37] jpawlowski commented on #82
I fear I need to reopen this issue:

[code]

[2013-01-09 20:30] spag commented on #82
Has the  "odbc-dsn" parameter the desired value?

 xml_locate configuration configuration name sofia.conf
  ...
  <param name="odbc-dsn" value="gemeinschaft:gemeinschaft:gemeinschaft"></param>

[2013-01-09 22:48] jpawlowski commented on #82
Yes it has.

[code]

[2013-01-10 08:23] spag opened #85 "Memory leak in luasql"
There is probably a memory leak in LuaSQL.

[2013-01-10 08:28] spag opened #86 "Improvements in GsParameter viev usability"
The GsParameter form should display Entity, Section and Name as read-only values.

[2013-01-10 09:36] wintermeyer commented on #86
Fixed by 70c436c52c76cf866b03fcab6bc43437c9490cd1

[2013-01-10 09:36] #86 closed, assigned to wintermeyer

[2013-01-10 11:30] spag commented on #85
fixed in commit 7268fbc3b37ae35993a7379cc66221c5e24c2016

[2013-01-10 11:30] #85 closed, assigned to spag

[2013-01-10 11:37] wintermeyer opened #87 "Add fragment caching for /tenants/2"

[2013-01-10 23:22] Marcux83 commented on #51
I have the same problem. Im using GS 5.0.2 (stable build), Snom 320@8.4.35.
After Hot Desk Login/Out no reboot is performed

[2013-01-10 23:49] jpawlowski opened #88 "Add memcache-client to Gemfile"
[code]

[2013-01-11 08:35] jpawlowski commented on #88
[code]

[code]

So which one to add?

[2013-01-11 09:37] wintermeyer commented on #88
Added dalli as the memcached client. b65c9f21c97371b6fbdeeae2e44f4111313b4337

[2013-01-11 09:37] #88 closed, assigned to wintermeyer

[2013-01-11 09:56] jpawlowski commented on #82
[code]

[2013-01-11 11:12] jpawlowski opened #89 "Put GS5/config/initializers/secret_token.rb into DB"
Can we also put the secret token into the database?
I would take care of adapting the initial script to randomize it on first bootup.

[2013-01-11 11:31] wintermeyer commented on #89
Good catch! I added it to GsParameter and created a migration. So now need for an inital script on your side.
a742a9038210691169b407c2897a38ded8618f84

[2013-01-11 11:31] #89 closed, assigned to wintermeyer

[2013-01-11 11:43] jpawlowski commented on #89
are you sure this is still needed?
Doesn't "SecureRandom.hex(64)" generate an individual value during first database migration?

[2013-01-11 11:45] wintermeyer commented on #89
Yes, and because it is stored in the database admins can upgrade their installation without a problem.

[2013-01-11 11:46] jpawlowski commented on #89
I inteprete 'yes' as "yes, it's done during first migration and we don't need to update this value from the bootup script" ;-)

[2013-01-11 11:48] wintermeyer commented on #89
Correct. ;-)

[2013-01-11 11:58] jpawlowski opened #90 "Read database settings from .odbc.ini instead of database.yml"
Would it be possible to parse `/var/lib/freeswitch/.odbc.ini` for the database credentials instead of using GS5/config/database.yml?

This is the last redundant storage for database credentials (beside freeswitch.xml).

[2013-01-11 12:09] wintermeyer commented on #90
Please upload an example odbc.ini file to this issue.

[2013-01-11 12:10] jpawlowski commented on #90
[code]

[2013-01-11 18:32] wintermeyer commented on #90
I included it in af49b3390ce352297c3b601c69b6b0557a9ae01d . Please test it.

[2013-01-11 18:37] jpawlowski commented on #90
This is the resulting error output from Apache Passenger (produces a 500er error):

[code]

[2013-01-11 18:40] wintermeyer commented on #90
You were too fast. I fixed it 30 seconds later. ;-)

[2013-01-11 18:41] jpawlowski commented on #90
the new system update script was faster :dancers:

[2013-01-11 18:53] jpawlowski commented on #90
Ok, just fixed the correct file path. But we still have an error:

[code]

[2013-01-11 18:59] wintermeyer commented on #90
I don't know what happens there. Is this production or development? Why does it mention the sqlite_adapter.rb when we use MySQL in production?

[2013-01-11 19:08] jpawlowski commented on #90
I have no idea. It's the latest development build, just boot it up to see for yourself

[2013-01-11 19:11] jpawlowski commented on #90
Stop. I know what happens, one moment.

[2013-01-11 19:15] jpawlowski commented on #90
Hm, I fear the error persists. The password section still got overwritten from my script but now that I have corrected it with your password definitions the session error is still there....

[2013-01-11 19:32] #90 closed, assigned to wintermeyer

[2013-01-11 20:57] spag commented on #82
This looks to me like a general FreeSWITCH-ODBC error.

[2013-01-11 21:01] jpawlowski commented on #82
Hm for whatever reason freeswitch wants .odbc.ini to be writeable ... ok ... :-/

[2013-01-11 21:01] #82 closed, assigned to spag

[2013-01-12 09:55] wintermeyer commented on #80
Done. 2e3bddd415f03aa15cd2759d7c18f64d5545ea80

[2013-01-12 09:55] #80 closed, assigned to wintermeyer

[2013-01-12 10:32] wintermeyer commented on #87
Closed by 49738b091eea2ca65d6f8c71b88747e314ec2950. But there is still room for improvement.

[2013-01-12 10:32] #87 closed, assigned to wintermeyer

[2013-01-12 10:54] wintermeyer commented on #73
@spag Please double check ec342d3d91d2cfa8c210722354353cfe8a90a8bc and reopen the issue, in case something is still missing.

[2013-01-12 10:54] #73 closed, assigned to wintermeyer

[2013-01-12 11:05] spag opened #91 "move gateway configuration to database"

[2013-01-12 11:06] spag opened #92 "move routing configuration to database"

[2013-01-12 14:51] jpawlowski commented on #78
I can still confirm this issue with latest develop builds :-(
Guess this needs a deeper look

[2013-01-12 15:02] jpawlowski commented on #39
Kann man das Ruby-Script dann auch von der Console aus verwenden, z.B. um automatisiert Backups auf einen externen Server auszulagern? Ansonsten würde ich sowas noch als Shellscript bauen. Muss ja aber nicht doppelt gemoppelt werden.

Die GBE ist soweit darauf eingestellt, dass nur die DB und das Verzeichnis /var/opt/gemeinschaft gebackupt und wiederhergestellt werden müssen.
GBE unterstützt es au

[2013-01-12 16:07] jpawlowski opened #93 "Change /var/lib/freeswitch/.odbc.ini to ~/.odbc.ini"
Can we change all explicit/static references to the file /var/lib/freeswitch/.odbc.ini to ~/.odbc.ini?
This would always use the running users homedir which in case of freeswitch is still /var/lib/freeswitch but in case this ever changes...

[2013-01-12 16:20] jpawlowski opened #94 "Improved SSL GUI redirect"
Currently when GUI_REDIRECT_HTTPS is set to true redirect only occurs when the user is not authenticated already. In case the user is already authenticated, leaves the page and gets back to a non-https URL for some reason no redirect will be done resulting in a non-secure session. The user needs to logout to get redirected to https again.

GUI_REDIRECT_HTTPS should enforce ssl whenever the webgui

[2013-01-12 17:27] jpawlowski commented on #93
There is only one exception: database.yml which is used by user gs5. We are mainly talking about scripts running as user freeswitch so it will basically be Lua dialplan related things.

[2013-01-12 18:45] jpawlowski opened #95 "Cannot manually create tenant phones"
It seems due to some changes from last night the function to manually create tenant-owned phones got lost.

I can only create additional phones if there is at least one in the list already (e.g. via auto-provisioning)

[2013-01-12 19:08] jpawlowski opened #96 "Static IP 192.168.0.150 in GsParameters table"
There are still a few parameters in GsParameters with static IP address 192.168.0.150 set.
Update of these settings is currently not done during system bootup as it was with static files before (only HOMEBASE_IP_ADDRESS will be updated). Instead these settings should be generated dynamically by the GS5 code.

[2013-01-12 20:38] #95 closed, assigned to nobody

[2013-01-12 20:45] wintermeyer commented on #96
I can't find them in my development environment. Which parameters should I check?

[code]

[2013-01-12 20:47] jpawlowski commented on #96
the value does only include 192.168.0.150 together with other things (URL definitions).

look for:
phone_book_entry_image_url
ringtone_url
user_image_url

[2013-01-12 22:08] wintermeyer commented on #96
Fixed.

@span Please double check the values in https://github.com/amooma/GS5/blob/9567f239586f253002dea0ed654b7bd18a15e572/app/controllers/gemeinschaft_setups_controller.rb#L44-L47

[2013-01-12 22:08] #96 closed, assigned to spag

[2013-01-12 22:29] jpawlowski opened #97 "Caching: SIP hotdeskable and CLIP-noscreening"
SIP account views miss values for setting hotdeskable and clip-noscreening.
Most likely another caching issue

[2013-01-13 10:13] wintermeyer commented on #97
Please provide the URLs.

[2013-01-13 14:31] jpawlowski commented on #97
e.g.

/tenants/2/phones/new
/tenants/2/sip_accounts/new
/users/1/phones/new

/users/1/sip_accounts/new is fine though.

[2013-01-13 17:37] jpawlowski opened #98 "Use version from Git tagging instead of static value from DB"
Version control should be dropped from the database (delete GEMEINSCHAFT_VERSION).
Instead the installed version should be dynamically loaded by using Git command `git tag -l` which shows all tags:

5.0
5.0.1
5.0.2

The last line would be the actual version and could be used as value for GEMEINSCHAFT_VERSION.

However, the addition "-nightly-build" for development builds should be dropped complete

[2013-01-13 19:16] jpawlowski commented on #98
GBE implementation done with commit https://github.com/amooma/GBE/commit/c4108a5ed6c23b33cb05516f271a4a07435ec040

[2013-01-13 21:22] jpawlowski commented on #98
Also to avoid too big version jumps we should agree to always set the minor version in the tags so that it's the minor version getting increased. Otherwise we would have a preview version "5.2-preview" right after 5.1 release which is likely not what we want.

Therefore I already corrected the tags in the GS5 repo, we now have:

5.0.0
5.0.1
5.0.2

Next one would be 5.1.0 then ;-)

[2013-01-13 23:55] duebel- commented on #61
Sounds promising...

f-ta transfers the caller and all callees to the new destination?

[2013-01-14 00:12] jpawlowski opened #99 "NoMethodError in GatewaysController#create"
`undefined method`downcase' for nil:NilClass`

[2013-01-14 07:19] #99 closed, assigned to wintermeyer

[2013-01-14 18:55] spag commented on #91
finished with commit 9292aa909881b7f21192f9278b8ce5eb8fe442de

[2013-01-14 18:55] #91 closed, assigned to spag

[2013-01-15 08:50] jpawlowski commented on #47
hm I didnt see this in the latest wheezy builds anymore, lets close this for now.

[2013-01-15 08:50] #47 closed, assigned to spag

[2013-01-15 18:17] wintermeyer commented on #97
It's not a bug but a feature. Please read the message which is displayed over the form.

[2013-01-15 18:20] jpawlowski opened #100 "Caching issue: Cannot create SIP accounts for tenant"
because the link is missing, see screenshot
![Screen Shot 2013-01-15 at 19 19 43](https://f.cloud.github.com/assets/75446/68713/40d630c6-5f40-11e2-9225-af4b89bf52d6.png)

[2013-01-15 18:24] wintermeyer opened #101 "FreeSWITCH doesn't restart after GemeinschaftSetup#create"
Rails raises the following error, when I activate this code:
https://github.com/amooma/GS5/blob/develop/app/controllers/gemeinschaft_setups_controller.rb#L49-L51

![Bildschirmfoto 2013-01-15 um 19 22 13](https://f.cloud.github.com/assets/69770/68717/9c90a342-5f40-11e2-9bd5-53079290a14d.png)

@spag Is anything missing there?

[2013-01-15 18:24] jpawlowski commented on #97
I don't see any text saying "hotdeskable is not possible here" or so...
where should I look at?

![Screen Shot 2013-01-15 at 19 22 39](https://f.cloud.github.com/assets/75446/68721/c627d310-5f40-11e2-87df-e47adf10a497.png)
![Screen Shot 2013-01-15 at 19 23 03](https://f.cloud.github.com/assets/75446/68723/ca9e63be-5f40-11e2-9238-3196e87e33c0.png)
![Screen Shot 2013-01-15 at 19 23 14](https://f.clo

[2013-01-15 18:25] wintermeyer commented on #100
Fixed by 801f53f49f5440acaeba70c65df8d3e611c0b4c4

[2013-01-15 18:25] #100 closed, assigned to wintermeyer

[2013-01-15 18:34] jpawlowski commented on #101
For me it worked yesterday with a fresh installation of the dev build.

[2013-01-15 18:36] wintermeyer commented on #101
Could it be a problem that I don't have a running FreeSWITCH on my Rails development system? If yes: Is there a way to not raise an error in that case?

[2013-01-15 18:49] #101 closed, assigned to spag

[2013-01-15 19:04] wintermeyer commented on #97
@spag deactivated the possibility to make a tenant's phone hotdeskable by c24bd3a8212e85894b2f7c26e190fe5e89fbaaf2

@spag Can you add a comment which describes the reason?

[2013-01-15 19:04] #97 closed, assigned to wintermeyer

[2013-01-15 20:00] jpawlowski opened #102 "Caching: Features"
... cannot be configured since last commits, see screenshot
![Screen Shot 2013-01-15 at 20 58 46](https://f.cloud.github.com/assets/75446/69083/22fa7784-5f4e-11e2-8c91-0169f7affefa.png)

[2013-01-15 20:02] jpawlowski opened #103 "Truncate values in gs_paramters grid view"
To avoid such overlapping grid views the full value should only be shown in the detailed view.
![Screen Shot 2013-01-15 at 21 01 33](https://f.cloud.github.com/assets/75446/69092/84ab395a-5f4e-11e2-8077-72d271ea0278.png)

[2013-01-15 20:49] wintermeyer commented on #103
Fixed by ca77ad70f4c2df28f6460e0160f23d115174440d

[2013-01-15 20:49] #103 closed, assigned to wintermeyer

[2013-01-15 20:49] wintermeyer commented on #102
Fixed.

[2013-01-15 20:49] #102 closed, assigned to wintermeyer

[2013-01-16 00:23] jpawlowski opened #104 "Move group functions from users/1 to tenants/2"
As this is a Tenant function it should be moved to the tenant overview.

[2013-01-16 00:24] jpawlowski opened #105 "Allow to see all user groups of a tenant"
related to #104 , please also allow to see all custom groups. at the moment new groups won't show up here and I need to go to /tenants/2/user_groups manually.

[2013-01-16 06:23] wintermeyer commented on #104
I didn't deactivated completely but only show it for users who are a member of the Admin user_group. 6635621

[2013-01-16 06:23] #104 closed, assigned to nobody

[2013-01-16 11:44] jpawlowski commented on #93
guess it won't really help as there is still one file which needs to be changed then...

[2013-01-16 11:44] #93 closed, assigned to wintermeyer

[2013-01-16 14:40] spag opened #106 "route_elements as child of call_routes"
make route_elements a child of call_routes

e.g.

/call_routes/
/call_routes/1/route_elements/

[2013-01-16 15:35] wintermeyer commented on #106
Fixed in 0ee17f52f8ad337c1240b4c55dbd8f6c6c74dc90

Please open a new issue with a description of the needed validations. I'll write them.

[2013-01-16 15:35] #106 closed, assigned to wintermeyer

[2013-01-16 15:40] wintermeyer opened #107 "Phone.destroy should reset the phone config."
Add an after_destroy hook which resets the phone config.

[2013-01-16 17:07] wintermeyer commented on #24
Added caching with 0d5fd7ba5092b4d00826f3572448bb54ac2ec983

[2013-01-16 17:07] #24 closed, assigned to wintermeyer

[2013-01-16 20:50] wintermeyer commented on #105
One could argue that a list of users should be displayed too.

[2013-01-16 20:50] #105 closed, assigned to nobody

[2013-01-16 20:53] jpawlowski commented on #105
It's more that it's hard to understand that although I'm allowed to create new groups here I cannot see all existing ones.
That's why I requested adding the complete user list more prominently to the tentants page.
To be honest, the whole concept became clear for me only a few hours ago because of these tickets. It's confusing for me as an admin to do admin tasks in my own profile as well as in th

[2013-01-17 06:42] wintermeyer opened #108 "Create a SIP testsystem in the Internet."
Provide a SIP account on our servers which could be used for a connectivity test for new GS5 installations.

[2013-01-17 08:37] wintermeyer opened #109 "Add http://0.0.0.0:3000/gs_parameters to the heater rake task."

[2013-01-17 11:26] wintermeyer opened #110 "Whitelist for dummy account emergency numbers."
In Germany we have to whiteliste the following numbers:

Roteskreuz:       116117
Polizei:                 110
Feuerwehr:       112
Behördenhotline: 115
Empfang Köln:            022191610
ServiceDesk:     08001541111 und 02219161 1111 und 601111

[2013-01-18 09:07] jpawlowski opened #111 "DB migration SetPreroutingTable failed"
[code]

[2013-01-18 09:08] wintermeyer commented on #111
When did you do the last git pull?

[2013-01-18 09:11] jpawlowski commented on #111
Just installed from a dev build this morning.
seems I was a bit to hasty, doing a gs-update helped indeed ;-)

[2013-01-18 09:11] #111 closed, assigned to spag

[2013-01-18 09:17] jpawlowski opened #112 "Caching: Wrong link to create tenant phone"
![Screen Shot 2013-01-18 at 10 16 10](https://f.cloud.github.com/assets/75446/77626/d9fe3562-614f-11e2-8f6d-efc6bef6065b.png)

[2013-01-18 09:26] wintermeyer commented on #112
Is this a fresh or an old installation? It seems to be an old cache.

[2013-01-18 09:27] jpawlowski commented on #112
a very fresh one ;-)

[2013-01-18 09:31] jpawlowski commented on #112
I just did a `gs-update.sh --factory-reset` which completely deletes /opt/GS5 and recreates everything from scratch. Issue persists...

[2013-01-18 09:33] wintermeyer commented on #112
Did you restart memcached?

[2013-01-18 09:33] jpawlowski commented on #112
Yes, factory-reset does a restart of the complete system to ensure this.

[2013-01-18 09:47] jpawlowski opened #113 "gs_parameters cannot be edited via GUI"
Clicking on "edit" for a setting in /gs_parameter leads to the following error:
`Required parameter missing: gs_parameter`

[2013-01-18 09:58] #112 closed, assigned to wintermeyer

[2013-01-18 10:01] wintermeyer commented on #113
Fixed by dc3f3ef

[2013-01-18 11:04] jpawlowski opened #114 "0.0.0.0:3000/gs_parameters should be inaccessible without login and admin rights"
currently one can read-only access /gs_parameters even without login.

[2013-01-18 11:05] jpawlowski commented on #113
Now it seems links to "View" and "Edit" are missing

[2013-01-18 13:29] jpawlowski commented on #98
with commit https://github.com/amooma/GBE/commit/897fdbe1522f65353131468235bde4110dd9731c you should be able to use ENV['GS_VERSION'] and all other GS_\* environment variables directly

[2013-01-18 14:11] wintermeyer commented on #114
Fixed by fa4ff4d.

[2013-01-18 14:11] #114 closed, assigned to wintermeyer

[2013-01-18 14:20] spag commented on #69
There were no files under /opt/freeswitch/sounds/music/16000/
fixed in commit 4f0e8420bd829abef8b04b51d9df800dfd1ce977

[2013-01-18 14:20] #69 closed, assigned to spag

[2013-01-18 14:22] spag commented on #92
finished in commit 1de349a41e84981171a197546e01eab2f1d2c09e

[2013-01-18 14:22] #92 closed, assigned to spag

[2013-01-18 14:23] spag commented on #78
fixed in commit 4f0e8420bd829abef8b04b51d9df800dfd1ce977

[2013-01-18 14:23] #78 closed, assigned to spag

[2013-01-18 14:23] wintermeyer commented on #113
I can't replicate this error but did fix other stuff in the meantime. So maybe it was a side effect.

[2013-01-18 14:45] jpawlowski opened #115 "send_fax_notifications and send_voicemail_notifications fail to run"
both send_fax_notifications and send_voicemail_notifications fail to run via cron:

[code]

[code]

However running `bundle exec rake send_voicemail_notifications` resp. `bundle exec rake send_fax_notifications` as user gs5 does not show any errors.
I have no idea what is going wrong here :-/

[2013-01-18 14:52] jpawlowski commented on #115
seems to be related to nodejs which is not in the PATH for the cron jobs.
Should be fixed by https://github.com/amooma/GBE/commit/ee0a5ed3dce8f890107eb70df7247f262b5dd881

[2013-01-18 14:52] #115 closed, assigned to wintermeyer

[2013-01-18 15:05] jpawlowski commented on #113
hm it's gone here also now, lets close this issue again for now.

[2013-01-18 15:05] #113 closed, assigned to wintermeyer

[2013-01-18 16:29] wintermeyer commented on #98
I'm quite happy about this. :-)

What version number does the nightly build from develop get?

[2013-01-18 16:33] jpawlowski commented on #98
As our current production version is tagged with 5.0.2, all develop builds (including the nightly build which is simply another develop build run at a specific time) currently get 5.0.3-preview.
(5.0.2 + 0.0.1 + -preview)

[2013-01-18 16:38] jpawlowski commented on #98
Instead of using static "-preview" we might be able to just use the branch name.
I could take care of re-naming the branch from "develop" to "nightly-build" for this special build. that way we are totally flexible and if we would ever have a feature-branch or any customer specific branch this name would also show up in the version

[2013-01-18 16:51] wintermeyer commented on #98
I doesn't have to be named "nightly-build". Maybe "develop" is the better name. Your call.

[2013-01-18 16:52] jpawlowski commented on #98
\o/
Then I would use the direct branch name for now. ;-)

[2013-01-18 16:52] #98 closed, assigned to wintermeyer

[2013-01-18 17:34] jpawlowski commented on #19
Hmmmm could it be that FROM_UNIXTIME is always UTC?
If that would be the case we might need to find a workaround here

[2013-01-18 17:36] jpawlowski commented on #77
relates #53

[2013-01-19 18:49] jpawlowski opened #116 "Caching issue with version number"
After playing around with some back and forth updates the GS5 caching seems to be confused about changed versions.
At first it showed only the old version 5.0.2, after refreshing the browser window it shows the version as in the attached screenshot
![Screen Shot 2013-01-19 at 19 45 37](https://f.cloud.github.com/assets/75446/80526/e565d378-6268-11e2-8a32-1f37b5469ee9.png)

[2013-01-19 19:39] wintermeyer commented on #116
Fresh install or updated with the script?

[2013-01-19 19:41] jpawlowski commented on #116
as said, this was a fresh install and I downgraded to 5.0.2 and upgraded to 5.0.3-develop again (just to see what happens in total, not only for the GS5 cache :-))

[2013-01-19 20:24] wintermeyer commented on #116
OK. That special page is an edge case. The heater script does page caching for this page.
More info about page caching: http://ruby-auf-schienen.de/3.2/page_caching.html

By that I can be sure that even on very slow hardware the very first impression of the WebGUI is a snappy one. I didn't expect anyone to use the very same setup page twice on the same system.

A solution could be that we move the

[2013-01-20 11:42] spag opened #117 "ActionView::MissingTemplate in Tenants#show"
ActionView::MissingTemplate in Tenants#show

Showing /opt/GS5/app/views/tenants/_admin_area.html.haml where line #3 raised:

Missing partial tenants/users_table, application/users_table with {:locale=>[:en], :formats=>[:html], :handlers=>[:erb, :builder, :coffee, :haml]}. Searched in:
- "/opt/GS5/app/views"
- "/usr/local/rvm/gems/ruby-1.9.2-p318/gems/sextant-0.2.3/app/views"
  Extracted source (ar

[2013-01-20 13:10] wintermeyer commented on #117
I can not replicate this error for http://0.0.0.0:3000/tenants/2

Is this a fresh Github develop version?

[2013-01-20 14:33] TobiasW opened #118 "Mass deployment of phone firmwares"
Possibility of deploying phone firmwares like in GS3, especially for snom phones

[2013-01-20 14:40] spag commented on #117
Yes a fresh gs5_1301200538-develop.iso in live CD mode.

works:
http://192.168.0.151/page/beginners_intro

fails:
http://192.168.0.151/tenants/2

[2013-01-20 14:49] spag opened #119 "ActiveModel::ForbiddenAttributes in CallRoutesController#create"
http://192.168.0.151/call_routes/new on  gs5_1301200538-develop.iso throws:

ActiveModel::ForbiddenAttributes in CallRoutesController#create

ActiveModel::ForbiddenAttributes
Rails.root: /opt/GS5

Application Trace | Framework Trace | Full Trace
Request

Parameters:

{"utf8"=>"✓",
 "authenticity_token"=>"ZNJWF+s81u/q7wo6peTf860f5VZ2iRnxyzOtthtiQiE=",
 "call_route"=>{"routing_table"=>"outbound",
 "

[2013-01-20 17:02] jpawlowski opened #120 "Import/Export of a specific gateway and call routes"
I would love to have the option to export a specific working gateway configuration and call route setting. That way one could offer 2 files to be re-imported into GS5 on the website for each provider and use them as a template.

for example:
- I have a working gateway configuration for a fritzbox as a PBX gateway. I can export it to an xml file and re-import in another instance of GS5.
- I have a

[2013-01-20 18:52] jpawlowski commented on #119
+1

[2013-01-20 18:52] jpawlowski commented on #117
I cant' replicate this either (at least not with my fresh installation, I will try the live-system once more)

[2013-01-20 19:08] #119 closed, assigned to wintermeyer

[2013-01-20 22:00] spag commented on #117
I have two development servers (git install) + one VM with a ISO install. All showing exactly the same error. Strange.

[2013-01-20 22:54] jpawlowski opened #121 "undefined method to move higher/lower in call routes"
[code]

[2013-01-20 22:59] jpawlowski opened #122 "read/unread voice messages"
I think the icon indicating a new voice message in /sip_accounts/4/voicemail_messages works the wrong way around.
The small envelope does not show up if there is a new message but instead appears after I actually read the message. I guess the envelope should be there for new messages, not for old ones...

![Screen Shot 2013-01-20 at 17 13 09](https://f.cloud.github.com/assets/75446/81726/02bcf4c8-

[2013-01-20 23:13] jpawlowski opened #123 "db migrations not working correctly for PreRouting tables"
migration 20130116203000_set_prerouting_table.rb  seems to have an issue. Table call_routes gets created including data created but there are no entries in route_elements.

[code]

![Screen Shot 2013-01-21 at 00 07 38](https://f.cloud.github.com/assets/75446/81738/37e7730c-6356-11e2-9b97-516dc87a7c69.png)
![Screen Shot 2013-01-21 at 00 13 37](https://f.cloud.github.com/assets/75446/81739/0d7b9642-

[2013-01-20 23:23] jpawlowski commented on #117
Did you try another browser?

[2013-01-20 23:37] jpawlowski commented on #116
Actually the complete GS5-directory get a complete reset with every update so the re-creation of dynamic data content is assured.
Let's close this issue for now and see if there is a real use case coming up during the next few weeks.

Reg. moving the cache to public/cache: I'm not sure if this changes anything. As said /tmp/\* gets purged totally by every update.

[2013-01-20 23:49] jpawlowski opened #124 "no fax thumbnails being created"

[2013-01-20 23:56] jpawlowski opened #125 "translation missing: /fax_accounts/1/fax_documents"
mouse hover text states the following translations are missing:

Result (de.fax_documents.index.result)
Phone Number (de.fax_documents.index.phone_number)
Thumbnails (de.fax_documents.index.thumbnails)
Download (de.fax_documents.action.download)

[2013-01-21 10:08] wintermeyer commented on #121
Fixed in a6779c0

[2013-01-21 10:08] #121 closed, assigned to wintermeyer

[2013-01-21 11:01] wintermeyer commented on #117
I close this one. I can't replicate the error. Please open a new issue if it happens again.

[2013-01-21 13:40] wintermeyer opened #126 "Add a 'Trunk Access Code' to GemeinschaftSetup"
Let the admin enter a trunk access code during the setup. e.g. 0 for Germany and 9 for the US.

[2013-01-21 13:55] wintermeyer commented on #126
Node by @spag
---cut---
Einfach statt des '' in den Aufruf von "CallRoute.factory_defaults_prerouting" eintragen.
---cut---

[2013-01-21 13:55] spag commented on #126
CallRoute.factory_defaults_prerouting(@gemeinschaft_setup.country.country_code, 
@gemeinschaft_setup.country.trunk_prefix, 
@gemeinschaft_setup.country.international_call_prefix, 
@gemeinschaft_setup.trunk_access_code, 
@gemeinschaft_setup.default_area_code
)

[2013-01-21 14:44] spag commented on #77
fixed in commit 5fbbe9c7479a7dc615b8d5630b9e1b2a6ce11b15

[2013-01-21 14:45] #77 closed, assigned to spag

[2013-01-21 14:51] spag commented on #122
It's displayed besides the time stamp generated when the message was marked as read. One could find a better icon though.

[2013-01-21 14:54] spag commented on #123
fixed in commit b116d8c75368e4e5593d0bd46850ea04eace83a2

[2013-01-21 14:54] #123 closed, assigned to nobody

[2013-01-21 15:07] spag commented on #117
Tried it with any browser I could lay my hands on - I get still this ActionView::MissingTemplate in Tenants#show

[2013-01-21 15:10] spag commented on #117
I've found the culprit!

Some files seem to be missing in "app/views/tenants".
The moment I've created "_users_table.html.haml" and "_user_groups_table.html.haml" the error disappeared.

[2013-01-21 20:12] jpawlowski commented on #122
okaaay, a closed envelope shows a message as being read, allright ;-)

[2013-01-22 11:13] wintermeyer opened #127 "Fetch /trigger/voicemail?sip_account=1 after a new voicemail gets saved."
Fetch the http://what.ever.ip.address/trigger/voicemail?sip_account_id=1

sip_account_id should be the id of the sip_account which voicemail was used.

[2013-01-22 11:17] #117 closed, assigned to wintermeyer

[2013-01-22 12:28] jpawlowski opened #128 "monAMI: read User database from MySQL instead of SQlite"
currently mon_ami uses /opt/GS5/db/development.sqlite3 for it's user database.
This should be changed to MySQL for production and development installations (only test environment should use SQlite db)

[2013-01-22 17:00] jpawlowski commented on #116
this occurs again in the first Beta1 build and can be reproduced directly after opening the web gui for the first time.

[2013-01-22 17:46] getsolveit opened #129 "Fax Sendebericht"
Es wäre hilfreich, wenn man nicht nur das original Fax ansehen kann, sondern sich auch das Fax mit einem Sendebericht herunterladen kann, wie man es von einem normalen Fax her kennt.
Mit Faxkennung, Nummer, Uhrzeit, Datum und erfolgreich gesendet.

[2013-01-22 17:48] getsolveit opened #130 "Mail2Fax"
Um sich das geklicke der GUI zu ersparen, wäre eine Mail2Fax Funktion sehr hilfreich. Dann natürlich als Antwort mit einem Sendebericht.

[2013-01-23 18:02] jpawlowski opened #131 "Change default fax directory to /var/opt"
needed for backup/restore function from #39

[2013-01-23 18:05] jpawlowski commented on #130
Sowas wird schwierig. Man müsste den Mail-Absender prüfen, damit man das richtig zuordnen kann. Trotzdem öffnet man damit Spammern ein großes Tor. Sowas ist nicht unbedingt etwas, was eine Telefonanlage machen/abfangen sollte.

Ich verstehe aber den Wunsch. Für direkt aus dem Internet erreichbare Server ist das allerdings tödlich, einen Mail-Gateway davor zu haben währe mehr als empfehlenswert. Ma

[2013-01-23 22:28] jpawlowski opened #132 "perimeter firewall / blacklist"
On Wednesday, January 23, 2013 6:59:31 PM UTC+1, Julian Pawlowski wrote:
Ich kann dem gs5 User entsprechende Sudo-Rechte einräumen und die blacklist-Datei z.B. aus /var/opt/gemeinschaft/blacklist verlinken.

Ist jetzt drin. Der GS5-User darf jetzt ausführen:

/sbin/service shorewall refresh
/sbin/service shorewall6 refresh

Außerdem wird ein Verzeichnis /var/opt/gemeinschaft/firewall angelegt, wo

[2013-01-23 23:23] jpawlowski opened #133 "Cannot use phonebook on Snom phones"
[code]

[2013-01-24 11:56] wintermeyer opened #134 "Default user_group for new User."
A new User should be by default a member of the user_group 3.

[2013-01-24 13:38] wintermeyer opened #135 "Show some status info about the PBX."
Stuff like load, df -h, concurrent_calls.count, etc.

For admins only.

[2013-01-24 13:39] jpawlowski commented on #135
getting those information via SNMP could be a good alternative instead of using shell commands

[2013-01-24 13:43] wintermeyer commented on #135
To make this stuff available by SNMP is a brilliant idea!

[2013-01-24 14:43] spag commented on #51
fixed in commit d8ad6ffe483156ea5474e7c1874ea618d44ba306

[2013-01-24 14:43] #51 closed, assigned to spag

[2013-01-24 15:01] spag commented on #127
added in commit 0f26298b241fc92f05972a9e47a0cec01245dd10

[2013-01-24 15:01] #127 closed, assigned to spag

[2013-01-25 08:45] wintermeyer commented on #110
@spag Any idea on this? A new model or can we use existing stuff?

[2013-01-25 09:24] spag opened #136 "Add entity to gs_parameters"
gs_parameters/index sorts entries by section not by entity+section what makes it hard to find on the page.

[2013-01-25 09:33] spag opened #137 "GUI mix German+English"
![gui01](https://f.cloud.github.com/assets/230554/96892/19bb44ce-66d2-11e2-9705-f2afbf6f8d13.png)

[2013-01-25 10:05] spag commented on #133
fixed in commit 57e1f57912ed16873dd6a4f550d01cc050d573ce

[2013-01-25 10:05] #133 closed, assigned to spag

[2013-01-26 12:19] jpawlowski opened #138 "Correct background color in navigationbar"
It seems some buttons hava real black background color, some have not:

![Screen Shot 2013-01-26 at 13 19 04](https://f.cloud.github.com/assets/75446/99726/adea1a2c-67b2-11e2-8d39-2f794442eea8.png)

![Screen Shot 2013-01-26 at 15 08 35](https://f.cloud.github.com/assets/75446/99803/ef566eb6-67c1-11e2-8095-44c01584223a.png)
![Screen Shot 2013-01-26 at 15 08 46](https://f.cloud.github.com/assets/754

[2013-01-26 13:03] jpawlowski opened #139 "Missing translation when deleting from call_histories"
![Screen Shot 2013-01-26 at 14 02 58](https://f.cloud.github.com/assets/75446/99768/d016e82c-67b8-11e2-9195-27c85f3c6655.png)

[2013-01-26 13:13] jpawlowski opened #140 "Better tooltip for GS_VERSION and GS_BUILDNAME"
I like this kind of tooltip:
![Screen Shot 2013-01-26 at 14 12 13](https://f.cloud.github.com/assets/75446/99772/15146516-67ba-11e2-8435-06d2d753d3dc.png)

but I have no idea how to get this pretty thing for this:
![Screen Shot 2013-01-26 at 14 13 07](https://f.cloud.github.com/assets/75446/99773/267926b6-67ba-11e2-9f61-05ec00469d74.png)

[2013-01-26 13:22] wintermeyer commented on #140
done.

[2013-01-26 13:22] #140 closed, assigned to nobody

[2013-01-26 13:42] jpawlowski opened #141 "Fix I18n for CallHistory#index"
![Screen Shot 2013-01-26 at 14 06 38](https://f.cloud.github.com/assets/75446/99769/3f7da188-67b9-11e2-9a1a-1cc6dbd06a4e.png)

[2013-01-26 13:42] jpawlowski opened #142 "GUI mix German+English #3"
![Screen Shot 2013-01-26 at 14 07 57](https://f.cloud.github.com/assets/75446/99770/6df2fcde-67b9-11e2-8011-467d85251327.png)

[2013-01-27 16:35] jpawlowski commented on #84
e758cec9a842e75abe0a26312c4d7d3e8530b84a

[2013-01-27 16:35] #84 closed, assigned to wintermeyer

[2013-01-28 09:07] duebel- opened #143 "call forward activation logic does not honor source number"
It is not possible to have two call forwards with the same forward case but different source numbers.

GUI: /phone_numbers/2/call_forwards

A new forward with the same case as an existing one deactivates the former independent of the source id.

[2013-01-28 10:58] spag commented on #124
fixed in commit 5d17b4b7e41a62d2c7f1dabae8ad7376211e921a

[2013-01-28 10:58] #124 closed, assigned to nobody

[2013-01-28 11:26] wintermeyer opened #144 "Could not find table 'sip_registrations'"
URL:
http://0.0.0.0:3000/tenants/2/sip_accounts/1

I guess a migration is missing.

![Bildschirmfoto 2013-01-28 um 12 25 59](https://f.cloud.github.com/assets/69770/102821/9111a154-693d-11e2-9507-1f869abdc52b.png)

[2013-01-28 12:38] spag commented on #144
fixed in commit fd95d2c2fcc50418cdb23f34b21bcfe04d9cc1de

[2013-01-28 12:38] #144 closed, assigned to spag

[2013-01-28 15:30] #134 closed, assigned to wintermeyer

[2013-01-28 15:43] wintermeyer commented on #116
When do you set the version number? => GsParameter.get('GEMEINSCHAFT_BUILDNAME')

[2013-01-28 15:46] jpawlowski commented on #116
the environment variable get's updated during every system bootup by the script /etc/init.d/gemeinschaft-prompt.
The ruby initializer script takes care about the import to the database everytime the ruby app gets started.

[2013-01-28 15:48] wintermeyer commented on #116
Is the heater rake task started after that? If not it should be moved to a position after that.

[2013-01-28 15:55] jpawlowski commented on #116
no, the prompt-task is the very last one. unfortunately I cannot change this as the IP address for the login screen is also being extracted which cannot be done earler.
I will need to transfer those version tasks to a different script which can be run earlier, maybe the helper script with the heater-task itself. Let me think about that....

[2013-01-28 16:02] wintermeyer commented on #116
As a work around I deactivate caching for the footer. Please open a new issue once you have a different boot sequence order.

[2013-01-29 09:36] jpawlowski commented on #116
this is fixed now, you may reactivate the caching ;)

[2013-01-29 10:30] wintermeyer opened #145 "request.env['REMOTE_USER'] authentification"

[2013-01-29 10:35] wintermeyer commented on #145
User.find_by_user_name(request.env['REMOTE_USER'])

[2013-01-29 11:32] wintermeyer commented on #110
@spag Could we create a phone_book with these numbers which acts as a whitelist?

[2013-01-29 17:45] wintermeyer commented on #145
done. 731443c

[2013-01-30 16:49] wintermeyer opened #146 "Control PBX features via DTMF during a call."
Let non SIP phones use PBX features via DTMF input.

CC @duebel- @antilo

Please add needed features as comments to this issue.

Needed features:
- Hold/Park
- Transfer
- Blind transfer

[2013-01-30 19:18] wintermeyer opened #147 "Replace go_to_setup_if_new_installation"
The go_to_setup_if_new_installation method in application_controller doesn't make sense. It would be enough to check if this is a new installation in the login page.

[2013-01-30 20:03] wintermeyer opened #148 "Blue-ish navigation bar"
With the transition to vanilla Twitter Bootstrap we lost the beloved blue-ish theme.

@kuroir Can we get a bit of old blue without touching the default TB files? I'd like to keep them untouched and add our stuff in an extra file. Is it possible to get at least the top navigation bar in the old style without investing weeks of CSS coding?

BTW: The 5.0 branch has still the old CSS. The 5.1 has the

[2013-01-30 21:55] duebel- commented on #145
You can test this when you protect the /opt/GS5/public folder with basic authentication. The web server will set REMOTE_USER after a successful authentication.

see http://httpd.apache.org/docs/2.4/mod/mod_authn_core.html#authtype

[2013-01-30 21:58] duebel- opened #149 "acd not working in 5.1beta3"
Calling a queue does not ring an agent. Number of active agents is displayed correctly in freeswitch console but call stays in queue until timeout. Call is not switched to active agents.

[2013-01-30 22:01] duebel- commented on #149
acd working again after pulling development branch and updating GS5.

[2013-01-30 23:27] #149 closed, assigned to nobody

[2013-01-31 10:40] #145 closed, assigned to wintermeyer

[2013-01-31 12:26] duebel- opened #150 "Missing sort arrows for soft keys"
URL which triggered the bugreport is: /sip_accounts/1/softkeys
GS5 buildname: 1301281724 + git pull on development branch @201301301230..

No method to sort soft keys in GUI anymore. :-(

[2013-02-01 10:07] wintermeyer opened #151 "Sortable CallRoutes"
The GUI for CallRoute#index should provide a functionality to move routes to different positions.

Ideas:
http://railscasts.com/episodes/147-sortable-lists-revised
http://jqueryui.com/sortable/

[2013-02-02 10:44] wintermeyer commented on #151
Closed b8c39c5

[2013-02-02 10:44] #151 closed, assigned to wintermeyer

[2013-02-02 11:53] jpawlowski opened #152 "Create prerouting table with LAC during initial setup"
There is already a commit (86e94e36e52ff7a3dbc7219db5b3bea5a7f56711) but it's not really doing what I was expecting.
The area code should lead to an additional prerouting entry so users can dial local area code numbers without using their area code. I understood this function takes are of this so users don't need to create this entry manually.
I tried this by entering "089" as my area code but thi

[2013-02-02 11:58] jpawlowski opened #153 "Let admins reset the prerouting table from GUI"
If users do a lot of testing the prerouting table might be corrupted and hard to correct.
There should be a reset button for admins to easily reset the prerouting table to default settings.

[2013-02-02 12:38] jpawlowski commented on #152
it seems this will be resolved as soon as #126 is implemented.

[2013-02-02 12:38] #152 closed, assigned to nobody

[2013-02-02 13:20] fox69 opened #154 "No mail delivery on incoming messages"
2013-02-02 12:42:27.733544 [ERR] mod_lua.cpp:198 /usr/share/lua/5.1/socket.lua:13: module 'socket.core' not found:
        no field package.preload['socket.core']
        no file '/usr/share/freeswitch/scripts/socket/core.lua'
        no file '/usr/share/lua/5.1/socket/core.lua'
        no file './socket/core.so'
        no file './libsocket/core51.so'
        no file '/usr/local/lib/lua/5.1/socke

[2013-02-02 13:43] fox69 opened #155 "No mail delivery on incoming messages"
URL which triggered the bugreport is: /tenants/2/users/1
GS5 buildname: 1301281724

2013-02-02 12:42:27.733544 [ERR] mod_lua.cpp:198 /usr/share/lua/5.1/socket.lua:13: module 'socket.core' not found:
        no field package.preload['socket.core']
        no file '/usr/share/freeswitch/scripts/socket/core.lua'
        no file '/usr/share/lua/5.1/socket/core.lua'
        no file './socket/core.so'

[2013-02-02 13:53] wintermeyer commented on #154
Which version of Gemeinschaft do you use?

[2013-02-02 13:54] wintermeyer commented on #154
Closed #155

[2013-02-02 13:54] #154 closed, assigned to spag

[2013-02-02 14:38] wintermeyer commented on #126
Closed by 2e5789b
![Bildschirmfoto 2013-02-02 um 15 36 08](https://f.cloud.github.com/assets/69770/120860/23602236-6d46-11e2-8776-37de4791dae1.png)

[2013-02-02 14:38] #126 closed, assigned to wintermeyer

[2013-02-02 15:03] wintermeyer commented on #153
I prefer the user to reinstall the system. Installation is easy and fast.

[2013-02-02 15:09] jpawlowski commented on #153
Yep or just do a `gs-update --factory-reset` which is pretty much the same.

However if you have a lot of configuration stuff done already a complete reset is probably not what you really want ... e.g. complex gateway configurations and in/out routings.

If we had #120 we might just use the system reset and import gateway and call route settings (without the prerouting part) afterwards.

[2013-02-02 15:26] wintermeyer opened #156 "Reactivate caching for call_routes"

[2013-02-02 20:33] spag commented on #155
lua-socket:i386 provides:

/usr/lib/i386-linux-gnu/lua/5.1/socket
/usr/lib/i386-linux-gnu/lua/5.1/mime
/usr/lib/i386-linux-gnu/liblua5.1-socket-unix.so.2.0.0
/usr/lib/i386-linux-gnu/liblua5.1-mime.so.2.0.0
/usr/lib/i386-linux-gnu/liblua5.1-socket.so.2.0.0
/usr/share/lua/5.1/socket
/usr/share/lua/5.1/socket/url.lua
/usr/share/lua/5.1/socket/ftp.lua
/usr/share/lua/5.1/socket/http.lua
/usr/share/lua/

[2013-02-03 13:58] DennisM84 opened #157 "Endpoint don't be saved on create or edit an call route"
URL which triggered the bugreport is: /call_routes/32
GS5 buildname: 1302021217-develop

When i create a call route for an sip gateway the endpoint was not saved. Edit the call route is the same.
![Screenshot_2013-02-03-15-02-33](https://f.cloud.github.com/assets/3463543/121874/81ed2ba4-6e0a-11e2-90a9-2e63235e0d08.jpg)

[2013-02-03 19:05] wintermeyer commented on #155
@jpawlowski Are they installed in GBE?

[2013-02-03 19:24] jpawlowski commented on #155
Yes:
https://github.com/amooma/GBE/blob/develop/config.v3/package-lists/07-gs5.list.chroot#L8

files are existing in current builds

[2013-02-03 21:07] wintermeyer commented on #155
@fox69 Please provide a little bit more information. What did you do? How did you configure the system?

[2013-02-03 21:17] jpawlowski commented on #155
This isse can be reproduced with a standard beta installation.
Must be something with include search path in the lua scripts

[2013-02-04 12:03] wintermeyer commented on #150
Closed by 66a53a4

[2013-02-04 12:03] #150 closed, assigned to wintermeyer

[2013-02-04 12:59] wintermeyer commented on #157
Should be fixed by 5a58c0c
Please check it with the next beta and open a new issue in case it still doesn't work.

[2013-02-04 12:59] #157 closed, assigned to nobody

[2013-02-04 15:29] getsolveit opened #158 "Bugreport"
URL which triggered the bugreport is: /users/2/sip_accounts
GS5 buildname: 1301231254-develop (5.1-beta4-develop)

ActionController::RoutingError at /users/2/sip_accounts/2
No route matches {:action=>"show", :controller=>"softkeys", :sip_account_id=>#<SipAccount id: 2, sip_accountable_type: "User", sip_accountable_id: 2, auth_name: "backoffice", caller_name: "Backoffice", password: "b0591e2ccbef5f

[2013-02-04 15:32] wintermeyer commented on #158
Ist schon gefixt.

[2013-02-04 15:32] #158 closed, assigned to nobody

[2013-02-04 15:39] getsolveit opened #159 "Bugreport"
URL which triggered the bugreport is: /tenants/2/users/3
GS5 buildname: 1301231254-develop (5.1-beta4-develop)

http://xx.xx.xx.xx/users/3/fax_accounts/new

ActionController::RoutingError at /users/3/fax_accounts/new
No route matches {:controller=>"users", :tenant_id=>nil}

Fehler kommt, wenn man ein neues Software-Fax anlegen möchte.

[2013-02-04 18:02] wintermeyer commented on #159
I can't replicate the error with the current develop branch. I think it's fixed.

[2013-02-04 18:02] #159 closed, assigned to nobody

[2013-02-04 18:03] wintermeyer opened #160 "GSM card connection"

[2013-02-04 18:41] getsolveit commented on #159
Ich habe einen neuen User angelegt, mit dem kommt das Problem weiterhin, mit dem User der schon angelegt war, funktioniert es auch.

[2013-02-04 18:48] getsolveit commented on #159
Es fehlte die current_tenant_id, ein neuer User wurde mit der ID angelegt, also ist es gefixt.

[2013-02-04 18:59] getsolveit opened #161 "Bugreport"
Der Fehler kommt, wenn GS ein Fax empfangen hat.

2013-02-04 19:54:48.997147 [DEBUG] mod_sofia.c:503 Channel sofia/gemeinschaft/0431xxxx@192.23.2.5 hanging up, cause: NORMAL_CLEARING
2013-02-04 19:54:48.997147 [ERR] mod_lua.cpp:198 /usr/share/freeswitch/scripts/http_request.lua:5: module 'socket.http' not found:
        no field package.preload['socket.http']
        no file '/usr/scripts/socket/h

[2013-02-04 19:04] #147 closed, assigned to wintermeyer

[2013-02-04 22:03] jpawlowski commented on #161
duplicates #155

[2013-02-04 22:03] #161 closed, assigned to spag

[2013-02-05 11:55] #137 closed, assigned to wintermeyer

[2013-02-05 11:55] #142 closed, assigned to wintermeyer

[2013-02-05 12:01] #156 closed, assigned to wintermeyer

[2013-02-05 14:06] spag commented on #153
One could add a controller action to invoke the "CallRoute.factory_defaults_prerouting" method to reset the table to defaults:

factory_defaults_prerouting(country_code, national_prefix,
international_prefix, trunk_prefix, area_code)

[2013-02-05 16:43] duebel- opened #162 "Hot desking does not work as expected"
URL which triggered the bugreport is: /tenants/2/users/2
GS5 buildname: 1302051015 (5.1-develop)

User is logged in phone A:

SIP-Accounts
Online  Caller Name     Telefonnummern  Telefon
    Frank   +XXXX, 123  00:04:13:48:31:BB (Snom 821) (10.0.0.18)    Anzeigen Bearbeiten Löschen

Telefone
MAC-Adresse     Modell  Hot-Desk fähig     IP-Adresse
00:04:13:48:31:BB   Snom 821    Ja  10.0.0.18   Anzei

[2013-02-05 16:56] duebel- commented on #118
Does work with a little tweaking:

mkdir /opt/GS5/public/fw

Place firmware file there, e.g. snom821-8.4.35-SIP-r.bin

Create file /opt/GS5/public/fw/snom821.xml:
<?xml version="1.0" encoding="utf-8" ?>
<firmware-settings>
  <firmware perm=''>http://yourIP_here/fw/snom821-8.4.35-SIP-r.bin</firmware>
</firmware-settings>

Create one xml file for each of your phone models as snomXXX.xml where XXX is

[2013-02-05 17:27] TobiasW commented on #118
Thx duebel-,

looks like a cool workaround, I'll give it a try.

[2013-02-06 11:51] spag commented on #162
Which of the two log-in methods (phone menu or star code) have you used?
If only one method was used, does the problem occur when your are using the other method to log in?
Please update to the newest develop branch if possible, we have fixed some minor issues affecting phone re-sync behavior.

[2013-02-06 14:52] spag commented on #155
fixed in commit 87c71a3b6f33d28b03a8bde95cc3f921400dc8ae

[2013-02-06 14:52] #155 closed, assigned to spag

[2013-02-06 17:19] duebel- commented on #162
Login was done via menu. star 0 star... does not work as phone B does not have a sip account connected. I will update an come back.

[2013-02-07 10:11] wintermeyer opened #163 "Breadcrumbs for /fax_accounts/1/fax_documents"
URL which triggered the bugreport is: /fax_accounts/1/fax_documents
GS5 buildname: 1302070930-develop (5.1-beta4-develop)

The breadcrumbs are not correct.

[2013-02-07 10:27] wintermeyer commented on #146
# Workflows

A uses a connection which sends DTMF inband. B is a normal SIP-Phone. The dialed codes are just examples.

## Attended transfer
- A calls B
- A enters _1_1#
- B gets parked in the parking lot 1
- A hangs up
- A calls C
- A enters _1_1#
- C gets connected to B

## Park a call
- A calls B
- A enters _1_1#
- B gets parked in the parking lot 1
- A hangs up
- A calls _1_1#
- A gets connect

[2013-02-07 11:11] duebel- commented on #146
Park a Call
- A cannot call _1_1#. We need a real number here.

maybe better: A hangs up, A calls 999, A enters _1_1#, A gets disconnected from 999 and connected to B

[2013-02-07 11:14] wintermeyer commented on #146
Calling _1_1# has the major advantage that the user can put that on speed dial. Calling 999 would mean to be connected to an IVR and having to enter it manually.

BTW: '*' is just an example. That will become '99' or something.

[2013-02-07 14:30] spag commented on #146
The star code _1_1# is just an example and is handled by the routing engine. You can put virtually anything in there.
It could be 991 or anything else Lua pattern matching is able to transform into a function name (e.g. "f-park-1")

[2013-02-07 19:10] jpawlowski commented on #132
should be implemented

[2013-02-07 19:10] #132 closed, assigned to spag

[2013-02-07 19:11] jpawlowski commented on #138
might be resolved be closing #148

[2013-02-08 15:33] spag opened #164 "Fix drag&drop in call_routes with more than one table present."
Drag and drop functionality is buggy when more than one table of the same kind is on the screen.

![call_routes](https://f.cloud.github.com/assets/230554/139778/dcfeea0c-7204-11e2-970a-404be13fd5c6.png)

[2013-02-08 17:05] jpawlowski opened #165 "Include libphonenumber"
http://code.google.com/p/libphonenumber/

e.g. for auto-formatting E164 numbers or to auto-correct numbers.
could be used in GUI or even in the dialplan.

[2013-02-09 07:29] spag commented on #110
@wintermeyer What do you need this whitelist for?

If it's simply for routing purposes then why not create a route then?
The GS5 routing engine is a mysterious and powerful device and its mystery is only exceeded by its power.

[2013-02-09 07:39] spag commented on #7
added in commit 0f26298, See issue #127

[2013-02-09 07:39] #7 closed, assigned to nobody

[2013-02-09 07:40] wintermeyer commented on #110
Some of the GS5 users want to be able to make a 911 call from ANY phone. Even if it's a phone which hasn't been logged in by a user. Can we solve this with the routing engine?

[2013-02-09 09:03] spag commented on #120
1st Step: Adding an .xml suffix to the gateway's show URL displays an XML structure containing all gateway settings, parameters, routes, etc.

Commit ff67b61369dba20747babfb642fb2086bbaff4a9

[2013-02-09 10:08] ip6li commented on #128
May support also Postgres SQL

[2013-02-09 10:21] ip6li commented on #130
Abgesehen davon, dass die Installation von Gemeinschaft direkt im Internet schon sehr fragwürdig wäre, ist gegen eine Mail2Fax Lösung im Intranet nichts zu sagen und auch sehr sinnvoll. Per Default kann man ja den Postfix an ::1 binden. Interessant wäre es natürlich, Hylafax mit Gemeinschaft 5 so zu "verheiraten" wie es schon in Gemeinschaft 3.1 der Fall war. T.38 klappt mit Freeswitch, auf der Hy

[2013-02-09 10:25] getsolveit commented on #130
Wozu brauch man denn Hylafax? Es würde doch reichen, wenn man ein Postfach hat, worauf ein Task zugreift und den PDF Anhang und den Betreff kopiert und dann versendet.

[2013-02-09 10:26] spag commented on #164
fixed in commit 5fba89e83722e11232b1130a1a939d55aed94387

[2013-02-09 10:26] #164 closed, assigned to spag

[2013-02-09 10:36] spag commented on #130
@ip6li Was ist an einer GS5 im Interenet fragwuerdig? Jedes erreichbare System braucht immer eine Abwaegung von Nutzen und Risiko. Ich weiss von mehreren GS5 im Internet die auch jeden Tag Angriffen ausgesetzt sind.

AFAIR ist das in GS4 so geloest. Die Mails mit PDF anhang einfach von einem POP3 Postfach geholt werden. Damit muss sich die Telefonanlage nicht um das Mailsystem kuemmern.

[2013-02-09 10:47] getsolveit commented on #130
Das würde mir persönlich auch reichen, ist die Umsetzung schwierig?

[2013-02-09 11:10] wintermeyer commented on #130
Ein Mail2Fax Gateway ist technisch gar kein Problem. Ich sehe aber gerade keine Möglichkeit das finanziert zu bekommen. Das ist so ein typisches "wäre nett, aber bezahlen möchte ich dafür nicht" Feature.

[2013-02-09 11:10] #130 closed, assigned to nobody

[2013-02-09 11:24] spag commented on #110
Yes. That's the primary task of a call router.
The GS5 router is a mysterious and powerful device and its mystery is only exceeded by its power.

[2013-02-09 11:30] spag commented on #110
As this seems to be solely a configuration issue - should we close this ticket?

[2013-02-09 14:24] wintermeyer commented on #165
Good idea!

[2013-02-09 14:37] wintermeyer opened #166 "Make the output of the sar command available via WebGUI (for admins only)"
[code]

[2013-02-09 14:38] wintermeyer commented on #166
`df -h` would be nice too.

[2013-02-09 15:08] jpawlowski commented on #166
not sure if `df -h` really makes sense. I'm currently working on snmp improvements, those live stats should come via snmp as said in issue #135. There must be an snmp lib for Ruby which just needs to run through everything the snmpwalk command send back et voilà we have a lot of live stats ;-)

`sar` is still useful though, maybe with a distinction in some points:

`sar -p` shows CPU related stats

[2013-02-10 18:59] #110 closed, assigned to nobody

[2013-02-10 19:01] wintermeyer commented on #131
Please change the config of that directory in `config/backup.rb` too.

[2013-02-11 09:10] #163 closed, assigned to wintermeyer

[2013-02-11 14:08] #136 closed, assigned to wintermeyer

[2013-02-11 17:30] jpawlowski opened #167 "Integrate MARY as TTS engine"
https://github.com/marytts/marytts
(old page but still with additional info: http://mary.dfki.de/)

This gem might be helpful to use the original MARYXML format:
https://github.com/movitto/RXSD
(xsd file here: http://mary.dfki.de/documentation/lib/MaryXML.xsd)

[2013-02-12 08:49] wintermeyer commented on #139
I removed the "are you sure" question for this action.

[2013-02-12 08:49] #139 closed, assigned to wintermeyer

[2013-02-12 09:35] jpawlowski opened #168 "Conference does not use german voice prompts"
it seems the conference currently does not respect default_language setting.
Even though I set default_language=de the conference system is still in english, voicemail system is german as expected.

[2013-02-12 10:05] wintermeyer commented on #116
I can't reproduce the problem any more. Must have been fixed somewhere along the road.

[2013-02-12 10:05] #116 closed, assigned to wintermeyer

[2013-02-12 16:29] wintermeyer opened #169 "Activate Auto-Reboot"
/opt/GS5/script/logout_phones.sh

[2013-02-13 07:23] DennisM84 opened #170 "Delete a phonenumber from sip account gets error"
URL which triggered the bugreport is: /tenants/2/sip_accounts/1
GS5 buildname: 1302021217-develop (5.1-beta4-develop)

When i will delete a phonenumber an confirm the question if i will delete i become an error. See the screenshot for more details.

![delete_phonenumber](https://f.cloud.github.com/assets/3463543/152048/82c609dc-75ae-11e2-8a80-fec748df577b.png)

[2013-02-13 08:09] getsolveit commented on #161
In dem anderen Bugreport steht, dass es seit 7 Tagen behoben ist, ich habe gestern ein Update gemacht und habe immer noch den gleichen Fehler.

[2013-02-13 08:16] getsolveit opened #171 "NameError in Fax_documents#show"
URL which triggered the bugreport is: /fax_accounts/1/fax_documents
GS5 buildname: 1301231254-develop (5.1-beta4-develop)

Wenn man auf Anzeigen klickt, kommt folgender Fehler:

NameError in Fax_documents#show

Showing /opt/GS5/app/views/layouts/application.html.haml where line #32 raised:
undefined local variable or method `name' for #FaxDocument:0xace8470

Extracted source (around line #32):
29:

[2013-02-13 08:47] jpawlowski commented on #161
Der Bug ist in der Tat behoben.
Allerdings ist dies eine Änderung in der Datei freeswitch.xml, welche nicht automatisch aktualisiert wird (damit man sie auch selbst anpassen kann). Es ist ein manuelles Update der Datei erforderlich:

`cp -f /opt/gemeinschaft/misc/freeswitch/conf/freeswitch.xml /var/opt/gemeinschaft/freeswitch/freeswitch.xml`
(hoffe die Pfade stimmen)

[2013-02-13 10:12] #169 closed, assigned to wintermeyer

[2013-02-13 10:16] wintermeyer commented on #170
I can't replicate this error. Please use today's nightly build.

[2013-02-13 10:16] #170 closed, assigned to wintermeyer

[2013-02-13 10:59] #171 closed, assigned to wintermeyer

[2013-02-13 11:08] wintermeyer opened #172 "Improve sorting and rendering of GsParameter#index"
"entity" and "section" probably should be changed HTML structure wise.

[code]

[2013-02-13 12:16] getsolveit opened #173 "Kein Klingelton/Freizeichen"
Mit dem Update von heute Nacht gibt es keinen Klingelton/Freizeichen mehr wenn man von Intern nach Extern ( über Berofix oder einen SIP Provider ) telefoniert.
Intern gibt es ein Freizeichen.
Telefonieren klappt.

[2013-02-13 12:27] wintermeyer commented on #173
Welche Telefone und welche Build Nummer?

[2013-02-13 12:33] getsolveit commented on #173
Snom 320 #1301231254

[2013-02-13 12:39] getsolveit opened #174 "GUI funktioniert nicht mehr."
Die GUI  lässt sich nicht mehr aufrufen nach einem Update von eben.
Ausgeführt habe ich noch den Befehl aus dem Issue #161
Dann habe ich einen Reboot ausgeführt.

![error_gs51_beta4](https://f.cloud.github.com/assets/3115028/152824/5ff92656-75da-11e2-8193-bb57c703d5ed.png)

[2013-02-13 12:44] wintermeyer commented on #174
Bitte mit der CD neu installieren. Das Update per Skript wird in der Beta nicht supportet.

[2013-02-13 12:44] #174 closed, assigned to nobody

[2013-02-13 15:18] jpawlowski opened #175 "GEM installation error"
New builds show this error:

[code]

[2013-02-13 15:21] wintermeyer commented on #175
@kuroir Do you have an idea what this could be? It seems to be in context of the simple_form gem.

[2013-02-13 16:19] jpawlowski commented on #175
I guess this needs to be corrected somehow:
https://github.com/amooma/GS5/commit/964c81fc615b35c9ee909a47901f307be6ce2c3a

[2013-02-13 16:48] wintermeyer opened #176 "Clean up fax tiff files in /tmp"
It seems that incoming faxes are saved as tiff files in /tmp but never get deleted there.

[2013-02-13 17:11] wintermeyer commented on #175
The error message says:
`invalid byte sequence in US-ASCII (ArgumentError)`
It looks like it is because of a lack of declaration of encoding on the gemspec file.

Let's see if a9bf3a7 works as a work around.

[2013-02-13 17:31] jpawlowski commented on #175
yep, seems to be working again.

[2013-02-13 17:31] #175 closed, assigned to wintermeyer

[2013-02-13 17:58] getsolveit commented on #161
Auch damit klappt es nicht.
Noch eine Idee?
Ansonsten mache ich ein backup morgen früh von der Datenbank nachdem ich ein gs-update ausgeführt habe und installiere die neue ISO.

[2013-02-14 08:08] getsolveit commented on #174
Nach einem Update von gestern 22 Uhr, funktioniert die GUI auch wieder.

[2013-02-14 08:41] spag commented on #168
fixed in commit 2fc71d2c420fcb328165f91806080367a9fa2928

[2013-02-14 08:46] spag commented on #176
Could be a problem with access permissions. Does a "Raw fax file could not be deleted ... " error occur?

[2013-02-14 08:53] wintermeyer commented on #176
I didn't see one. Where would such an error been displayed?

[2013-02-14 11:44] getsolveit commented on #161
Ne, verwende die Developer Version, deswegen wundert mich das ja auch. Wo finde ich die Email die ich eben bekommen habe? Finde sie hier im Fall nicht.

[2013-02-14 11:51] jpawlowski commented on #161
hatte ich gelöscht weil sich in der freeswitch.xml inzwischen andere Änderungen ergeben haben, so dass sie nicht mehr so einfach kompatibel ist. Aber wenn du die Dev-Version hast ist das kein Problem und die Datei kann genommen werden

[2013-02-14 11:54] getsolveit commented on #161
Ja, aber es klappt ja nicht, wie kann ich erkennen ob es die richtige freeswitch.xml ist?

[2013-02-14 11:55] jpawlowski commented on #161
Das hier ist entscheidend:
https://github.com/amooma/GS5/blob/develop/misc/freeswitch/conf/freeswitch.xml#L1194-L1203

[2013-02-14 16:29] getsolveit commented on #161
2013-02-14 17:27:52.110027 [WARNING] mod_snmp.c:70 Warning: Failed to connect to the agentx master agent ([NIL]):
2013-02-14 17:27:54.130767 [WARNING] mod_snmp.c:70 Warning: Failed to connect to the agentx master agent ([NIL]):
Das kommt jetzt nachdem ich die Freeswitch.xml an den beiden stellen ersetzt habe.

[2013-02-14 16:31] jpawlowski commented on #161
Theoretisch nicht weiter schlimm, zumindest was FS angeht.
Ich bin nicht sicher, dass du wirklich die aktuellste Dev-Version verwendest. Es sieht eher so aus als wenn es eine ist, bei der der snmp Daemon noch fehlt.
Ich schlage eine Neuinstallation vor.

[2013-02-14 16:33] getsolveit commented on #161
Klingt auch so, ich werde neu installieren :-)
Was brauch man außer der DB? Ist noch irgend eine Datei notwendig?

[2013-02-15 03:39] spag opened #177 "Add type_of_destination field to area_codes table"

[2013-02-15 03:40] spag commented on #176
/opt/GS5/log/production or development

[2013-02-15 13:21] spag commented on #176
Seems to be a file permissions problem:

Errno::EPERM (Operation not permitted - /tmp/fax_in_15d2fbd8-a870-422b-9fd1-ef5e27d9d351.tiff):
  app/controllers/trigger_controller.rb:100:in `delete'
  app/controllers/trigger_controller.rb:100:in`block in fax'
  app/controllers/trigger_controller.rb:69:in `fax'

[2013-02-16 12:03] wintermeyer opened #178 "Sending a fax doesn't work"
URL which triggered the bugreport is: /users/1/fax_accounts
GS5 buildname: 1302161208 (5.1-beta5)

A new uploaded fax doesn't get faxed. It just waits in the queue.

[2013-02-16 12:05] wintermeyer commented on #176
Worst case: We set up a whenever cronjob which deletes old tiffs in /tmp. That would be ok for a work around.

[2013-02-16 15:58] ip6li opened #179 "/opt/freeswitch/sounds/de/de ist missing"
It is referenced by some IVR functions.

Workaround:
mkdir /opt/freeswitch/sounds/de
cd /opt/freeswitch/sounds/de
ln -s ../en/us de

you get english voiceprompt, but that's better than failing functions.

[2013-02-17 08:33] wintermeyer commented on #173
I can't replicate this problem with beta 5.

[2013-02-17 08:33] #173 closed, assigned to spag

[2013-02-17 10:00] ip6li opened #180 "bridge-utils and vlan should be included in install ISO"
Debian packages bridge-utils and vlan should be included in install ISO which may make installation more comfortable, if GS5 should handle vlans and bridging devices.

[2013-02-17 10:48] ip6li opened #181 "TLS Support"
GS5 should also support SIPS/SRTP as described at http://wiki.freeswitch.org/wiki/SIP_TLS which requires some additional steps while set up GS5 server and each client.
- while install: Create CA certificate
- while install: Create GS5 server certificate
- while install: set up Freeswitch parameters for TLS
- while set up phone: Create client certificate signed by CA mentioned above

[2013-02-17 10:52] ip6li opened #182 "User should be able to define some (not all) phone settings"
GS5beta5 already allows user to define some key settings. He should be also able to define some settings like idle display brightness etc.

[2013-02-18 07:31] spag commented on #176
Changing the tiff-file directory and setting proper permissions during the installation process should solve this issue without involving any active components (e.g. cron).

[2013-02-18 07:38] spag commented on #178
I could not replicate this behavior on the gs5_1302141223.iso, going to check out gs5_1302161208.iso

[2013-02-18 08:06] #182 closed, assigned to nobody

[2013-02-18 08:10] wintermeyer commented on #180
Everybody how needs this should be able to install it manually.

[2013-02-18 08:10] #180 closed, assigned to jpawlowski

[2013-02-18 08:18] schraube opened #183 "GRUB + LILO + apt Installer Probleme auf einem PC"
Hallo,
also ich versuche mal so gut wie es mir möglich ist das Problem bei der Installation auf einem PC zu beschreiben.
Bei der Intsallation trat folgender Fehler auf:
Dateien für "apt" konnten nicht von der CD geladen werden. Auch konnte kein Bootloader installiert werden. Weder GRUB noch LILO.
Ich musste die Installation abbrechen.
Eine Installation auf einer Virtuellen Maschine funktionierte a

[2013-02-18 08:20] wintermeyer commented on #183
Welchen Datennamen hatte das ISO-Image? Welche Version von Gemeinschaft ist das? Welche Hardware ist das?

[2013-02-18 08:29] schraube commented on #183
Hi,
also es ist die Version von heute Morgen. GS5-beta5
Die Installation der 5.0 Version war kein Problem.
Wie kann ich genaue Daten über den Rechner auf dem ich die 5.1 Version installieren möchte heraus finden?
VG
Stefan

[2013-02-18 08:48] jpawlowski commented on #179
German voice prompts are not ready for production yet but you may install them as an add-on:

`gs-addon list`

[2013-02-18 08:48] #179 closed, assigned to jpawlowski

[2013-02-18 08:49] spag commented on #178
I can not replicate this issue with the gs5_1302161208 either.

One thing that seems to be different from previous versions is that on the the newer builds (1302141223 included) FreeSWITCH is not running after the installation is finished and one has to start it manually.

So if "doesn't get faxed" actually means "doesn't get faxed because there is no FreeSWICH process to handle it" we  have proba

[2013-02-18 08:55] jpawlowski commented on #183
Ich fürchte das ist alles etwas zu schwammig. Schreib bitte einmal den genauen Wortlaut der Meldungen, die du bekommst.
War die Festplatte vorher schon in Gebrauch? Ggf. hilft es diese Platte vorher von allen Partitionen zu befreien und einen neuen Master Boot Record vom Typ MBR zu setzen (GUID geht vermutlich nicht). Welche Größe hat die Festplatte?

[2013-02-18 09:00] schraube commented on #183
habe die 5.0 Version wieder aufgespielt, da ich dringend ein funktionierendes System benötige (ja ich weiss, das es schön blöd von mir ist)
Wie kann ich die Platte komplett löschen?
Am 18.02.2013 um 09:55 schrieb Julian Pawlowski:

[2013-02-18 09:01] jpawlowski commented on #183
z.B. mit fdisk oder parted

[2013-02-18 09:02] jpawlowski commented on #183
Wie genau hast du denn die Installation durchgeführt? Hast du eine CD gebrannt oder das ISO auf einen USB Stick gepackt? Ggf. ist dabei auch einfach etwas schief gegangen bei der 5.1er.

[2013-02-18 09:03] wintermeyer commented on #178
I opened https://github.com/amooma/GBE/issues/153 for this issue.

[2013-02-18 09:03] #178 closed, assigned to spag

[2013-02-18 09:04] schraube commented on #183
Also..
das ISO Image heruntergeladen und auf eine CD gebrannt.
In den Rechner geworfen und installiert. So habe ich das eigentlich immer gemacht....

[2013-02-18 09:05] jpawlowski commented on #181
The need for a CA is indeed the reason this setup is currently not included in GS5.
It it likely that there will be a add-on script to ease setup some day (if anybody writes it) but as this is an advanced feature it's unlikely this will be enabled by default (also for other reasons as TLS can sause other difficulties in special scenarios).

[2013-02-18 09:05] #181 closed, assigned to nobody

[2013-02-18 09:07] schraube commented on #183
Die Installation lief ja auch rund, bis zu der Stelle, an der "apt" installiert werden sollte.
Kein "apt" kein Bootloader nichts konnte ich danach installieren.....

Kann als gsmaster kein fdisk vornehemen....

[2013-02-18 09:11] jpawlowski commented on #183
gsmaster kann mit sudo zum root werden (siehe Wiki), aber fdisk kannst du nicht aus einem laufenden System heraus machen. Dafür musst du von einem Rettungssystem o.ä. starten. Das führt aber zu weit hier.

Ich habe leider keinen PC, um das mal zu testen. Sehr wahrscheinlich ist aber, dass etwas mit deiner Rechner-Konstellation anormal ist, wenn es bei einer virtuellen Maschine funktioniert (denn d

[2013-02-18 09:14] wintermeyer opened #184 "/var/opt/gemeinschaft/fax/in"
Save tiff files of faxes in the following directories:
/var/opt/gemeinschaft/fax/in
/var/opt/gemeinschaft/fax/out

CC @jpawlowski

[2013-02-18 09:16] duebel- commented on #176
mkdir /opt/GS5/tmp/fax
chown freeswitch:gemeinschaft /opt/GS5/tmp/fax
chmod g+ws /opt/GS5/tmp/fax

alter
/opt/GS5/misc/freeswitch/scripts/dialplan/fax.lua
/opt/GS5/app/controllers/trigger_controller.rb
accordingly.

[2013-02-18 09:17] schraube commented on #183
installiere gerad auf einem anderen Rechner, werde gleich berichten....

[2013-02-18 09:17] schraube commented on #183
....aber ich denke, das es jetzt erst mal Zeit für einen Cappucion ist -:)

[2013-02-18 09:19] wintermeyer commented on #176
Moved to
https://github.com/amooma/GS5/issues/184
https://github.com/amooma/GBE/issues/154

[2013-02-18 09:19] #176 closed, assigned to spag

[2013-02-18 09:35] schraube commented on #183
Die Installation auf einem anderen Rechner hat funktioniert!
Das lag wohl, wie Du schon vermutest hast, an dem Laufwerk. Habe auf dem Rechner dann wieder die Version 5.02 ohne probleme installiert. Komisch!
Versuche nun die 5.1 zu konfigurieren.....

[2013-02-18 09:36] jpawlowski commented on #183
Freut mich, dass wir den Fehler finden konnten ;-)

[2013-02-18 09:36] #183 closed, assigned to jpawlowski

[2013-02-18 10:00] jpawlowski commented on #184
we might want to use /var/spool/freeswitch for the incoming faxes before GS5 picks them up for final destination in /var/opt/gemeinschaft/fax/in

[2013-02-18 10:19] jpawlowski commented on #184
commit 4f89e10f2aaeeeb2696f8e456149e8f66e7bb02b does the first part I guess

[2013-02-18 10:23] jpawlowski opened #185 "Enhanced security: Change /tmp to /var/spool/freeswitch for conference and voicemail files"
/tmp shouldn't be used as a temp dir for security reasons.
Instead we should use /var/spool/freeswitch in the dialplan.

Can we change
https://github.com/amooma/GS5/blob/develop/misc/freeswitch/scripts/common/conference.lua#L194
https://github.com/amooma/GS5/blob/develop/misc/freeswitch/scripts/dialplan/voicemail.lua#L14

[2013-02-18 10:29] jpawlowski opened #186 "Login does not show up"
Going to the app root dir the following page comes up instead of the login form:
![Screen Shot 2013-02-18 at 11 27 47](https://f.cloud.github.com/assets/75446/166797/049562ea-79b6-11e2-81ba-7e55da161468.png)

[2013-02-18 12:41] jpawlowski commented on #185
I did this already:
251e15fc292deed58d1d2b4fec2ce1172c2d8f75
99af7fc0788735bec2a450ca0fa3e264ea9625c1
7e73bd125ea0fbeeafed772a07a2b03c75f1b1d0

[2013-02-18 12:41] #185 closed, assigned to spag

[2013-02-18 12:49] jpawlowski commented on #184
The spooling part is done. However task from #131 should be done already now, otherwise fax documents get lost when using gs-update as they are currently stored in /opt/GS5/upload

[2013-02-18 14:01] jpawlowski opened #187 "Fax buttons get too big"
using long names for fax accounts, the button to send faxes gets too big while the other buttons still have the correct size.

![Screen Shot 2013-02-18 at 15 00 26](https://f.cloud.github.com/assets/75446/167383/9c5828ca-79d3-11e2-8c2b-f4fb9d90338b.png)

[2013-02-18 17:58] getsolveit opened #188 "Bugreport"
5.1-beta6-develop #1302181357

fs_cli  lässt sich nicht starten.

[ERROR] fs_cli.c:1431 main() Error Connecting [Socket Connection Error]
Usage: fs_cli [-H <host>] [-P <port>] [-p <secret>] [-d <level>] [-x command] [-t <timeout_ms>] [profile]

  -?,-h --help                    Usage Information
  -H, --host=hostname             Host to connect
  -P, --port=port                 Port to connect (1

[2013-02-18 18:20] getsolveit commented on #188
FS soll zwar beim booten mitgestartet werden, aber schlägt scheinbar fehl.

freeswitch -u freeswitch -g freeswitch -nc

bringt auch nicht den gewünschten erfolg.

Error: stacksize 8192 is not optimal: run ulimit -s 240 from your shell before starting the application.

Aber evtl. hilft dies weiter?

2013-02-18 19:20:05.060380 [INFO] switch_event.c:589 Activate Eventing Engine.
2013-02-18 19:20:05.0

[2013-02-18 18:53] getsolveit commented on #188
![gs5_error](https://f.cloud.github.com/assets/3115028/168448/88ef907e-79fc-11e2-95ce-04a6a56dc1f7.jpg)

Vielleicht hilft dies noch.

[2013-02-18 21:49] jpawlowski commented on #168
There seems to be something missing :-)

[code]

[2013-02-18 22:02] jpawlowski commented on #168
Hm, okay there is a 2nd option "sound-prefix" in section conference to be changed.
This is the default setting for external participants, okay. Can internals keep their language? :D

[2013-02-19 08:40] spag commented on #184
Since commit e0bd56db83104a2a38e88af2eadaefd389aa798b the fax_document model / trigger_controller does not have to know an explicit spool directory location. The only place a spool directory has to be set for incoming fax documents is fax.lua then.

[2013-02-19 08:43] #160 closed, assigned to nobody

[2013-02-19 09:31] jpawlowski commented on #131
Could this be done in 5.1 already somehow?
Looking at #184 this might be useful.

[2013-02-19 09:32] jpawlowski commented on #184
yep, I'm intentionally mixing something up here :-)
#131 is not about the spooling dir but about the actual target dir for incoming and sent faxes. Just to put your nose on it :-p

The original purpose for this ticket is fulfilled I guess, I'll close it.

[2013-02-19 09:32] #184 closed, assigned to spag

[2013-02-19 14:00] spag commented on #168
fixed in commit dd5566e1a3480d0f000e25470e76e5c0e1d5507f

[2013-02-19 14:00] #168 closed, assigned to spag

[2013-02-19 14:03] spag commented on #131
fixed commit 2b3892ac24bb61c4814e0afe141bf53765fb1e4b

[2013-02-19 14:03] #131 closed, assigned to saschadaniels

[2013-02-19 18:06] getsolveit commented on #188
Mit dem ISO von heute Nacht funktioniert es.

[2013-02-19 18:06] #188 closed, assigned to nobody

[2013-02-20 07:35] getsolveit opened #189 "SQL has gone away"
2013-02-20 08:29:01.146204 [CRIT] switch_odbc.c:280 The sql server is not responding for DSN gemeinschaft [STATE: 08S01 CODE 2006 ERROR: [unixODBC][MySQL][ODBC 5.1 Driver][mysqld-5.5.28-1]MySQL server has gone away
][244]
2013-02-20 08:29:01.146204 [INFO] switch_odbc.c:285 The connection has been re-established
2013-02-20 08:29:01.146204 [INFO] mod_dingaling.c:726 EVENT_TRAP: IP change detected

D

[2013-02-20 07:42] getsolveit opened #190 "Fehler beim löschen einer Rufumleitung."
URL which triggered the bugreport is: /sip_accounts/1/phone_numbers/10
GS5 buildname: 1302191124-develop (5.1-beta6-develop)

ActiveRecord::StatementInvalid in CallForwardsController#destroy
Mysql2::Error: Unknown column 'softkeys.call_forward_id' in 'where clause': SELECT `softkeys`.\* FROM `softkeys`  WHERE `softkeys`.`call_forward_id` = 2

Rails.root: /opt/GS5

Application Trace | Framework Tra

[2013-02-20 19:03] jpawlowski commented on #189
das ist ein normales timeout und kommt vor, wenn du länger nicht telefoniert hast (vermutlich länger als 8 Stunden), die Verbindung wird dann einfach abgebaut. du kannst aber das timeout hochsetzen:

MySQL config:
`wait_timeout = 86400`

Hatten wir schonmal drin und ist jetzt wieder in der GSE aktiviert (-> gse-update)

[2013-02-20 19:03] #189 closed, assigned to nobody

[2013-02-20 19:03] #167 closed, assigned to spag

[2013-02-21 09:22] wintermeyer opened #191 "Smaller text size for the hints."
The current hints are the same text size as the rest. IMO it would make more sense to make them smaller and (maybe?) grey-ish.
![Bildschirmfoto 2013-02-21 um 10 20 48](https://f.cloud.github.com/assets/69770/179625/39de1290-7c08-11e2-8518-4d10095268ce.png)

[2013-02-21 09:26] wintermeyer opened #192 "Lose the star which marks a mandatory field"
Currently we have the red marking on the right side of an form field plus a star on the left side of the field's name. Can we get rid of the star? It's a duplicate information.
![Bildschirmfoto 2013-02-21 um 10 23 50](https://f.cloud.github.com/assets/69770/179640/c39d67a6-7c08-11e2-8f96-657bf9bdfbfe.png)

[2013-02-21 12:21] jpawlowski opened #193 "Area code in setup controller with/without leading 0"
currently the comment states one need to enter the local area code with a leading 0.
in fact when doing it that way no prerouting entry will be created. Instead the local area code needs to be without leading 0 (e.g. 89 instead of 089) to work.
either the description or the behavior should be adjusted :-)

[2013-02-21 13:30] jpawlowski opened #194 "Let users create individual voice prompts directly via WebGui"
e.g. via Google Translate TTS, see
http://weston.ruter.net/2009/12/12/google-tts/

we could also consider to auto-generate a greeting based on the users name.

[2013-02-21 13:32] jpawlowski opened #195 "Include additonal files into backup"
Backup is currently missing a lot of other files from `/var/opt/gemeinschaft/freeswitch`, e.g. greetings a user recorded for his voicebox

[2013-02-21 14:37] matis2le opened #196 ""Missed Calls" List in Snom 360"
inconsitency regarding the Phone UI: - you can not delete (or set read) an missed call except you pick up the handset and use the menu item "pool"

[2013-02-21 15:36] spag commented on #193
I think it would be better to alter the description. There are no area codes out there starting with 0 at least not in countries using 0 as the trunk prefix (e.g. Germany).

[2013-02-21 16:47] jpawlowski commented on #193
yep ;)

[2013-02-22 09:00] duebel- opened #197 "Rufumleitung führt zu einem Logout bei Hotdesk-Telefonen"
Trotz fehlerfreier Programmierung hat sich eine kleine Ungewöhnlichkeit eingeschlichen. ;-)

Aktivieren oder Deaktivieren von Rufumleitungen im WebUI führt zu einem Logout des Users aus dem Hotdesk-Telefon mit anschließendem Reboot desselben.

Aktivieren oder Deaktivieren der Rufumleitung am Telefon mittels Feature Code führt nicht zu diesem Verhalten.

Aktivieren oder Deaktivieren der Rufumleitun

[2013-02-22 12:43] jpawlowski commented on #54
This can be closed as of now.

[2013-02-22 12:43] #54 closed, assigned to wintermeyer

[2013-02-23 10:34] getsolveit opened #198 "Rufgruppen Strategie"
Hallo,

ich setzte die aktuelle Developer Version ein.

Wenn ich eine Rufgruppe erstelle, in der alle gleichzeitig klingeln, gibt es keine Probleme, alle Telefone klingeln und man kann an jedem Telefon den Anruf entgegen nehmen.

Verwende ich allerdings die andere Variante dann funktioniert das Ganze irgendwie gar nicht mehr.

Signalisiert wird alles korrekt!

Ich konnte leider noch keinen konkret

[2013-02-23 12:23] wintermeyer commented on #198
Wir brauchen ein reproduzierbare Phänomen, um ein eventuelles Problem angehen zu können.

[2013-02-23 12:23] #198 closed, assigned to nobody

[2013-02-23 12:25] wintermeyer commented on #196
@spag: Bug or feature?

[2013-02-23 12:27] wintermeyer commented on #153
I don't want to go in that direction for now. Please have to a) know what they do or b) be able to reinstall.

We simply have way bigger fish to fry.

[2013-02-23 12:27] #153 closed, assigned to nobody

[2013-02-23 12:29] wintermeyer commented on #129
Aktuell ist das Thema für uns von keiner Bedeutung. Wenn mal jemand das Feature braucht und die Entwicklung bezahlt, dann bauen wir es gerne ein.

[2013-02-23 12:29] #129 closed, assigned to nobody

[2013-02-23 12:30] wintermeyer commented on #162
Can we close this issue? Is is solved?

[2013-02-23 12:36] getsolveit commented on #198
Liefer ich Montag, dann kann ich die Fälle nochmal durchtesten.

[2013-02-23 13:02] wintermeyer opened #199 "Skip a leading 0 of a German area code during the initial setup."
Das ist vermutlich noch ein kleiner Bug im Setup-Controller. Es funktioniert (derzeit) besser, wenn man die Vorwahl beim Setup ohne die 0 eingibt (also z.B. statt "089" für München nur "89").

[2013-02-23 13:08] wintermeyer commented on #199
Dupe #193

[2013-02-23 13:08] #199 closed, assigned to wintermeyer

[2013-02-23 17:45] spag commented on #162
It could be related to issue #197

[2013-02-23 17:47] spag commented on #196
What I have to do to replicate this issue?

[2013-02-23 19:53] matis2le commented on #196
i had installed a 5.1b5 and connected it with sipgate, flashed a Snom 360 with 8.4.35 and connected it to an account i prepared before. If a call comes and was missed - there is  a message on the display "1 Missed"
The only way i found to set this to read is to lift the handset and then comes the menu "pool" where i found the list and can delete the missed call.
All other Buttons i tested dosn't g

[2013-02-24 20:45] #193 closed, assigned to wintermeyer

[2013-02-24 22:16] jpawlowski opened #200 "Call history headers"
URL which triggered the bugreport is: /sip_accounts/2/call_histories?type=
GS5 buildname: 1302240346-develop (5.1-beta6-develop)

Headers seem to be inspecific, I can't image what those whould should me:
- misc
- Avatar
  ![Screen Shot 2013-02-24 at 23 14 37](https://f.cloud.github.com/assets/75446/190143/d0232744-7ecf-11e2-9bb4-dafaa478958b.png)

[2013-02-25 07:40] spag commented on #190
fixed in commit 86a77e472a54f6091eebffae42d638c3c826c13d

[2013-02-25 07:40] #190 closed, assigned to spag

[2013-02-25 07:53] spag commented on #197
could be affected by commit 5dcdeb1c1f8c53fd80a0443d61a289e583091416

[2013-02-25 07:54] spag commented on #162
could be affected by commit 5dcdeb1c1f8c53fd80a0443d61a289e583091416

[2013-02-25 08:07] spag commented on #196
Sorry, but I can not replicate this issue. I have tested it on a Snom 360 and Snom 821 and on both phones the "1 Missed" line disappears instantly after pressing the 'X' button ("cancel" button left of the rocker key on Snom 360 phones) as it does on virtually every other Snom model.
If you are sure this issue is GS5 related and not caused by faulty hardware please feel free to reopen this issue.

[2013-02-25 08:07] #196 closed, assigned to spag

[2013-02-25 08:14] spag commented on #146
The functionality described above is already implemented and can be tested in the newest development builds.
@duebel- If your tests proved the DTMF detection to be reliable and the functionality fits your needs we could probably close this issue.

[2013-02-25 08:53] matis2le commented on #196
Oha... that kind of behavior you need to know.... its not very logical! And dismissing is the only choice you have...??
It would be better to make it a soft button to open the list, use the number or delete it!
Anyway - its up to you!

[2013-02-25 13:16] MSTKMSTK opened #201 "Einstellungen Amtszugangsberechtigung pro User im GUI"
FEATURE REQUEST:
1. Siprufnummer für jeden User für Externwahl frei wählbar in den Usereinstellungen im GUI.
2. Benutzer bzw. Gruppe für externe Wahl sperren im GUI --> reine interne Nebenstelle ( aber Notruf  erlaubt  / Nummern aus Telefonbuch erlaubt ) evtl. sogar Zeitbeschränkt

[2013-02-25 15:57] wintermeyer commented on #201
Bitte immer nur ein Feature-Request pro Issue. Hilfreich wäre auch eine Begründung für das Feature-Request.

[2013-02-25 15:57] #201 closed, assigned to nobody

[2013-02-25 22:04] jpawlowski opened #202 "ACD position prompt"
Using the german language the prompt to inform about the position is wrong.
It says:

"Sie sind an Position 1 AUF LEITUNG".

The last part in capital letters comes from the english language, playing this file in german language is obsolete and needs to be removed (somehow).

[2013-02-25 22:15] jpawlowski opened #203 "Changing Pin via voicemailbox not working"
Trying to change my PIN it just says "enter your pin followed by pound" and when I do so it just goes back to the previous menu without any further information.

[2013-02-25 22:20] jpawlowski opened #204 "Show backup details gives error "undefined local variable or method""
URL which triggered the bugreport is: /tenants/2
GS5 buildname: 1302242337-develop (5.1-beta6-develop)

Clicking on "show" beside a backup job the following error occurs:

[code]

[2013-02-25 22:27] jpawlowski opened #205 "Give voice feedback for f-functions"
When using feature codes from a more simple phone users should get a verbal information (e.g. confirmation/error message) as they might not be able to read the SIP messages (and as those message disappear quite fast on other phones it might be useful for some feature codes on advanced phones also).

There are a lot of existing voice prompts already, especially in ivr/*. Let me know if I can assist

[2013-02-26 07:56] spag commented on #205
Unfortunately one can either send back a SIP code or provide audible feedback. Enabling the latter will have great impact on more sophisticated phones then.
A possible compromise: Playing back a message on success and sending a SIP code on failure.

[2013-02-26 08:27] jpawlowski commented on #205
Hm, I see. Let's see what the FS people say. At least this must be something they had in mind already.

Hm, could we maybe make it optional for each SIP account so that one can choose if feedback should be totally verbal or just via SIP message response? We don't really know the users phone type but the user does ;)

[2013-02-26 08:35] spag commented on #203
The macro "voicemail_change_pass_success" seems to be missing in freeswitch.xml. The PIN seems to be changed though.

<macro name="voicemail_change_pass_success">
  <input pattern="^(.*)$">
    <match>
      <action function="play-file" data="voicemail/VOICEPROMPT_FILE_NAME.wav"/>
    </match>
  </input>
</macro>

[2013-02-26 09:35] jpawlowski opened #206 "Extended GUI for conferences"
Would love to have some more infos about a running conf call, e.g.
- List of participants (Name if known from phonebook or moderator list, phone number if present, some other ID to separate more than one anonymous caller)
- option to mute/unmute etc via webgui, basically do everything one would normally do via feature code

Next step of evolution could be: integrate some kind of screen sharing fun

[2013-02-26 09:38] wintermeyer commented on #206
For business conf calls I'd like to have a bullshit bingo board in the same view. Maybe we could even integrate some sort of speech recognition which highlights the words in the bullshit bingo matrix. ;-)

[2013-02-26 09:39] jpawlowski commented on #206
LOL love that idea, will make some calls much more fun ;)

[2013-02-26 09:41] wintermeyer commented on #206
One more feature request: The moderator should be able to activate a Darth Vader like breathing in the background. And maybe a distant light saber fight. Just as a background noise. ;-)

[2013-02-26 09:43] jpawlowski commented on #206
Doable. FS guys had something like this in mind already it seems when they were preparing sound file named conf-perpetual :-)
As fate willed I already integrated this yesterday in the sound files ^^
https://github.com/jpawlowski/freeswitch-sounds-tts/blob/master/music/conference/conf-perpetual_music.wav

(We could add Darth Vader here ^^)

[2013-02-26 09:50] jpawlowski opened #207 "Play tone when entering/leaving a conference"
FS guys seem to have prepared sound files to have the conference just giving simple tones e.g. when entering/leaving a conference (or in addition to saying "person xy just entered/left").

I would love to have this configurable for each conference.

Announcing the name should be optional for entering and leaving separately, just the tone should be default especially for leaving confcalls. Bigger r

[2013-02-26 09:56] jpawlowski opened #208 "Play tone when events in ACD occur"
Not sure if we can make use of them but we have the same tone files available in the IVR area than for confcalls:
https://github.com/jpawlowski/freeswitch-sounds-tts/tree/master/tone/ivr

Maybe we could play entry/exit tone when entering/leaving the queue (as an option).

[2013-02-26 10:18] jpawlowski opened #209 "Set language for incoming calls according to their source"
Default language e.g. for voice prompts in the conference, ACD or IVR should be automatically set according to the callers source country.
E.g. if the caller has a +49, +43 or +41 number it should be set to german language, for all other countries english should be used as default.

However one should still be able to manually configure a default language for incoming calls (e.g. for anonymous cal

[2013-02-26 10:31] #203 closed, assigned to spag

[2013-02-26 10:41] jpawlowski opened #210 "Fallback to english language if files in set language do not exist"
If a file is missing from the specified language the english voice prompt file should be used instead so that one get any feedback at least.

Alternatively one could play an error message instead and stop processing the voice macro.

[2013-02-26 11:42] spag commented on #209
The dialplan language can be set in gs_parameters ->  dialplan, parameters, default_language and should be English by default.

The functionality you requested can be easily set by an "inbound" route:

<route_element action="set" mandatory="false" pattern="^%+49(%d+)$" replacement="de" var_in="caller_id_number" var_out="language"/>

Again: The GS5 router is a mysterious and powerful device and its

[2013-02-26 11:42] #209 closed, assigned to spag

[2013-02-26 14:57] spag commented on #205
We actually do know the "user_agent" header. FreeSWITCH makes extensive use of it in mod_sofia to circumvent some phone specific glitches.

[2013-02-26 14:59] jpawlowski commented on #205
Great!
Hm however fully-automatic without user intervention might not be the best IMHO. Maybe I want voice feedback even that I have a sophisticated phone...

[2013-02-26 15:23] wintermeyer commented on #187
There is no way to solve this problem completely.

[2013-02-26 15:23] #187 closed, assigned to wintermeyer

[2013-02-26 15:26] wintermeyer commented on #204
closed by 16c8605

[2013-02-26 15:26] #204 closed, assigned to wintermeyer

[2013-02-26 15:26] wintermeyer commented on #186
I fixed this today.

[2013-02-26 15:26] #186 closed, assigned to wintermeyer

[2013-02-26 15:32] #192 closed, assigned to MarioRicalde

[2013-02-26 19:24] getsolveit opened #211 "Fax2Mail"
Gibt keinen Fehler, aber versendet werden eingehende Faxe nicht. In /var/log/mail.log ist auch kein Fehler zu finden, aber auch nicht, dass etwas versendet worden wäre.

[2013-02-26 21:14] jpawlowski commented on #211
Für jeden Fax-Account ist eine separate E-Mail Adresse in dessen Einstellungen eingetragen. Stimmt die Adresse dort?

[2013-02-26 21:16] getsolveit commented on #211
Ja die stimmt.

[2013-02-26 23:02] wintermeyer opened #212 "A restore doesn't restore the fax_documents thumbnails"

[2013-02-27 05:55] wintermeyer commented on #212
Closes by 5053adc

[2013-02-27 05:55] #212 closed, assigned to wintermeyer

[2013-02-27 07:39] getsolveit commented on #211
Wenn man sein Passwort vergessen hat und es sich erneut zuschicken lässt, funktioniert es auch.

[2013-02-27 08:29] wintermeyer opened #213 "http://192.168.0.150/sip_accounts/2/call?url=tel:+4930123456"
Make sure that only owner of the SipAccount can access this action.

CC @spag

[2013-02-27 10:17] jpawlowski commented on #211
Das sind unterschiedliche Auslöser für den E-Mail Versand; Für die Passwort vergessen Funktion direkt aus Ruby, was weniger problematisch ist, das andere mal aus dem Dialplan heraus. Mehr weiß ich dazu auch nicht, das muss sich Peter anschauen.
Zumindest konnte ich es reproduzieren; es kann aber noch nicht lange kaputt sein.

[2013-02-27 12:49] #213 closed, assigned to wintermeyer

[2013-02-27 15:57] burka opened #214 "Outbound SIP connection blocked by firewall"
I wasn't able to make outgoing sip connections to our bero*fix box with 5.1-beta6 but found a fix for that, maybe it should get included.

`fs_cli -l 6`:

[code]

`tail /var/log/messages`

[code]

A simple
`rmmod nf_conntrack_sip`
 and
`echo "blacklist nf_conntrack_sip" > /etc/modprobe.d/blacklist-sip-conntrack.conf`
fixed that. I hope it stays that way.

[2013-02-27 17:03] wintermeyer commented on #39
Done.

[2013-02-27 17:03] #39 closed, assigned to wintermeyer

[2013-02-27 17:13] getsolveit commented on #211
Ist das gewollt, dass es erst in der 5.2 wieder funktionieren wird oder nur verklickt?

[2013-02-27 17:14] wintermeyer commented on #211
Das wurde von uns in den Meilenstein 5.2 gepackt.

[2013-02-27 17:19] getsolveit commented on #211
Das ist bedauerlich, da es ja in 5.0 funktioniert und in 5.1 Beta2 oder 3 auch noch funktioniert hat.

[2013-02-27 17:22] wintermeyer commented on #211
Ja, das ist bedauerlich.

[2013-02-27 17:36] wintermeyer opened #215 "Add avatar images to the backup"

[2013-02-27 21:52] #215 closed, assigned to wintermeyer

[2013-02-28 20:46] matis2le opened #216 "Backup failed after clean install"
URL which triggered the bugreport is: /tenants/2
GS5 buildname: 1302281156 (5.1.0)

Please provide your bugreport below this line and update the title of this issue to a more specific one.
- Backup triggered after install failed all times
- Folder /var/backup/gs5 stays empty
- klicking on "view" gives an error page

[2013-02-28 20:55] wintermeyer commented on #216
Please provide a screenshot of http://ip.address/backup_jobs

[2013-02-28 20:57] matis2le commented on #216
![backup_jobs](https://f.cloud.github.com/assets/3501879/207227/70cef756-81e9-11e2-83b4-fdecec5767c3.JPG)

[2013-02-28 21:39] spag commented on #143
fixed in commit 24fbc181d0f767103b4062be4482af92feb5ffd5

[2013-02-28 21:39] #143 closed, assigned to spag

[2013-02-28 21:43] spag commented on #162
Should be fixed by now. Please feel free to reopen this ticket if the issue is still present in the newer builds.

[2013-02-28 21:43] #162 closed, assigned to spag

[2013-02-28 21:45] spag commented on #197
Should be fixed by now. Please feel free to reopen this ticket if the issue is still present in the newer builds.

[2013-02-28 21:45] #197 closed, assigned to wintermeyer

[2013-03-01 11:59] krissi opened #217 "Installer: Partitioning fails on ESX 5.0 when no virtual floppy drive is configured"
The autopartitioning fails when no floppy drive is configured in a esx 5.0.0 virtual machine. See attachment for error message and logfile.

![g5t 2013-03-01 12:58:51](https://f.cloud.github.com/assets/436758/209341/677033cc-8267-11e2-9e38-e285b2332a01.png)
![g5t 2013-03-01 12:57:50](https://f.cloud.github.com/assets/436758/209339/487a9160-8267-11e2-9fc6-96963b048682.png)

Steps to reproduce:
- Cr

[2013-03-01 12:40] jpawlowski commented on #217
GS5 is not an x64 machine, please try x86 profile first.

[2013-03-01 12:44] krissi commented on #217
same with x86

[2013-03-01 12:46] jpawlowski commented on #217
As we don't see this error using VMware fusion I suggest you just keep the floppy drive during install and remove it afterwards (however I don't see any reason why not to keep it at all).

This issue is basically nothing we can really affect in any way.

[2013-03-01 12:46] #217 closed, assigned to jpawlowski

[2013-03-01 13:00] jpawlowski commented on #214
This depends on your actual system environment, e.g. if you have separate subnets or so.
We will keep the netfilter module für SIP enable as a default as it's always necessary to adopt firewalls settings to the local environment.

Your workaround is not exactly what I would recommended. Instead you should just configure Shorewall to not load the SIP netfilter kernel module. To achieve this just ed

[2013-03-01 13:00] #214 closed, assigned to jpawlowski

[2013-03-01 14:12] jpawlowski commented on #217
I was able to reproduce this issue with ESXi 5.0.2, even with default settings.
However ESXi 5.1 does not seem to have this issue, please consider upgrading to ESXi 5.1.

[2013-03-01 14:58] getsolveit opened #218 "Umleitung nach Zeit"
Es gab schon einen Fall mit Rufgruppen.

https://github.com/amooma/GS5/issues/198

Der gleiche Fall tritt auch bei einem Call Forwarding nach Zeit auf.

[2013-03-01 15:07] jpawlowski opened #219 "Exception when deleting conference member"
URL: /conferences/1/conference_invitees/2
Version: 5.1.0 Branch: master

Deleting a conference member from a conference leads to an exception

Logfile production.log:

[code]

[2013-03-01 15:44] jpawlowski opened #220 "Exception when creating a new call forward for a hunt group number"
Version 5.1.0 Branch: Master
URL: phone_numbers/19/call_forwards/new

[code]

[2013-03-01 18:29] jpawlowski opened #221 "Caching issue with ACD's number"
Version: 5.1.0
Branch: master

After changing numbers for an ACD they show up correctly in /tenants/2/automatic_call_distributors/1 but /tenants/2 still shows the old one.

[2013-03-02 08:52] matis2le commented on #216
Bei einer weiteren Neuinstallation auf Hardware das gleiche Ergebnis... Ich nutze grundsätzlich die Option mit Text und fester IP. Auch ein Warten von 24h hat nix geändert. (falls es noch irgendwelche Jobs gibt die vorher durchlaufen müssten)
Gib es irgendein Log was ich zur Unterstützung liefern kann?

[2013-03-02 12:20] jpawlowski commented on #221
same issue for hunt groups

[2013-03-02 14:03] jpawlowski opened #222 "Removed intruders won't disappear from the shorewall blacklist"
after removing intruders from  0.0.0.0/indruders they won't disappear from the file /var/opt/gemeinschaft/firewall/blacklist, even after several minutes.

[2013-03-03 10:14] spag commented on #222
fixed in commit b8425f5453eab4a0fe475952af89d55ace45878e

[2013-03-03 10:14] #222 closed, assigned to spag

[2013-03-04 07:25] spag commented on #219
fixed in commit 7ec2f96979317912b464b801731c5d10be538e6d

[2013-03-04 07:25] #219 closed, assigned to wintermeyer

[2013-03-04 07:40] spag commented on #220
fixed in commit 295ca363ad12150b7a029075e915574afd61c82e

[2013-03-04 07:40] #220 closed, assigned to wintermeyer

[2013-03-04 09:26] matis2le commented on #216
hab das Log gefunden:

/var/lib/gs5/Backup/log/backup.log

[2013/03/03 13:23:00][message] Performing Backup for 'GS5 backup (GS5)'!
[2013/03/03 13:23:00][message] [ backup 3.0.27 : ruby 1.9.3p392 (2013-02-22 revision 39386) [i686-linux] ]
[2013/03/03 13:23:00][message] Database::MySQL started dumping and archiving 'gemeinschaft'.
[2013/03/03 13:23:00][message] Using Compressor::Gzip for compressio

[2013-03-04 09:33] wintermeyer commented on #216
Die Zeile
`/bin/tar: Anlegen eines leeren Archivs wird feige verweigert.`
ist der Schlüssel. Es sind in dem System entweder keine Voicemails oder keine Avatarbilder enthalten. Deshalb jammert tar rum. Ich schaue es mir an.

[2013-03-04 09:40] matis2le commented on #216
hab sowohl ein Avatarbild als auch eine Voicemail erzeugt - leider unverändert!

[2013-03-04 13:52] spag commented on #65
implemented in commit 14facb5c1f50ae9edd0ac842001ab8e7afa52b21

[2013-03-04 13:55] spag commented on #211
Kann jemand das Problem bestaetigen? Bei meinem Devel-System funktioniert der Mailversand.

[2013-03-04 13:56] getsolveit commented on #211
Julian hatte es nachvollziehen können schrieb er 6 Einträge weiter oben.

[2013-03-04 14:03] jpawlowski commented on #211
Stimmt. Habe es gerade nochmals mit Build 1303041202 probiert:
- 2 Fax Accounts in GS5 einrichten
- 2-seitiges PDF von einem Account an den anderen senden
  -> Fax wird korrekt empfangen, E-Mail fehlt.

Im FreeSwitch Log taucht auf:

[code]

Im Rails log:

[code]

In /var/log/mail.log oder einem anderen Log taucht nix weiter auf.

[2013-03-04 16:41] spag commented on #211
Ok, dann muss ich wohl neu installieren, damit es bei mir auch nicht geht ;)

[2013-03-04 17:56] spag commented on #172
fixed in commit 45fe4f5022f7181aa5d6e66f03ba3c8cf281879a

[2013-03-04 17:56] #172 closed, assigned to wintermeyer

[2013-03-04 18:08] spag commented on #207
Have you tried to set the following parameters in gs_parameters -> conferences -> parameters ?
  enter-sound
  exit-sound
  ack-sound
  nack-sound

http://wiki.freeswitch.org/wiki/Mod_conference#Conference_Parameters

[2013-03-04 18:10] spag commented on #218
Was passiert denn genau?

[2013-03-04 19:56] getsolveit commented on #218
Es klingelt, aber wenn man abhebt bleibt es still. Umleitung nach Besetzt klappt.
Und wenn man eine Rufgruppe nach Zeit signalisieren lässt, genau der gleiche Effekt.

[2013-03-05 07:31] spag commented on #211
fixed in commit fbbbb9dfe10ad8b25d075e00f4a149086b7c27a5

[2013-03-05 07:31] #211 closed, assigned to spag

[2013-03-05 08:15] getsolveit commented on #211
Hab die Zeile mal ergänzt, klappt dann! Danke.

[2013-03-05 08:42] wintermeyer commented on #216
Fixed by 75362f4

[2013-03-05 08:42] #216 closed, assigned to wintermeyer

[2013-03-05 08:45] wintermeyer commented on #195
It currently has the following directory structure:

[code]

@spag Which of those directories do we have to include into the backup?

[2013-03-05 08:54] #221 closed, assigned to wintermeyer

[2013-03-05 11:37] jpawlowski commented on #195
Normally all files on /var/opt/gemeinschaft are supposed to be backed up.
If that's not the case we should move it back to the standard directory.

[2013-03-05 11:49] jpawlowski commented on #207
I just noticed those parameters a few days ago, let me check on that.
What I can tell already now: The implemented beep (or the tone file if configured) should be before the announcement, not after as it is currently ;-)

[2013-03-05 16:31] wintermeyer commented on #195
I added recordings and voicemail to the backup/restore. a865b1f

@jpawlowski I see your point but I don't have the time to move this stuff around.

[2013-03-05 16:31] #195 closed, assigned to wintermeyer

[2013-03-05 17:23] #191 closed, assigned to MarioRicalde

[2013-03-06 15:35] wintermeyer opened #223 "CallRoute#index cache problem"
A single call_route update doesn't get rendered on http://<ip_address>/call_routes

[2013-03-06 21:41] jonasvp opened #224 "Fehler beim Anlegen von Rufumleitungen für Rufgruppe"
URL which triggered the bugreport is: /phone_numbers/4/call_forwards/new
GS5 buildname: 1302281156 (5.1.0)

Wenn ich bei den Telefonnummern einer Rufgruppe versuche, eine Rufumleitung anzulegen, kommt der Fehlerscreen.

Im Log steht:

[code]

Wenn ich das gleiche bei der Rufnummer eines Teilnehmers (anstatt einer Rufgruppe) mache, funktioniert es wunderbar.

[2013-03-06 21:51] wintermeyer opened #225 "SQLite3::SQLException: no such table: detailed_calls"
http://0.0.0.0:3000/users/1/sip_accounts/1
liefert auf einer reinen Rails Entwicklungsumgebung folgenden Fehler:

[code]

Ich nehme an, das da eine Migration für die Tabelle detailed_calls fehlt.

[2013-03-07 07:12] wintermeyer commented on #224
Will be fixed in 5.1.1

[2013-03-07 07:12] #224 closed, assigned to wintermeyer

[2013-03-07 07:24] DennisM84 opened #226 "Breadcrums are missing on /phone_numbers/17/ringtones"
URL which triggered the bugreport is: /phone_numbers/17/ringtones
GS5 buildname: 1302281156 (5.1.0)

Breadcrums are missing..

[2013-03-07 07:25] DennisM84 opened #227 "Breadcrums are missing on /phone_numbers/17/ringtones/new"
URL which triggered the bugreport is: /phone_numbers/17/ringtones/new
GS5 buildname: 1302281156 (5.1.0)

Breadcrums are missing too.

[2013-03-07 07:32] wintermeyer commented on #226
Please provide a screenshot and give more information about the kind of phone_number.

[2013-03-07 07:33] wintermeyer commented on #227
Same bug as in #226

[2013-03-07 07:33] #227 closed, assigned to nobody

[2013-03-07 07:38] spag commented on #225
fixed in commit c98072557273ff4383013f73621061ece34fc6d2

[2013-03-07 07:38] #225 closed, assigned to spag

[2013-03-07 08:47] spag commented on #65
transitional permission check added in commit 1bcb85853b282606f28f1c9cd7f4e13d494a7290

[2013-03-07 08:58] duebel- opened #228 "external voice menus do not work anymore"
external voice menus like "press 1 for german, press 2 for english" do not work anymore in external calls.

sim card provider is activated. DTMF functions for GSM devices are activated.

external voice menu does not recognize pressed keyes.

[2013-03-07 10:27] wintermeyer commented on #225
I split up the migration into a sqlite3 and an else part. Not nice. But I don't see an other way. 5b4b52f

[2013-03-07 10:35] #223 closed, assigned to wintermeyer

[2013-03-07 20:48] DennisM84 commented on #226
![Screenshot_2013-03-07-21-50-19](https://f.cloud.github.com/assets/3463543/234084/b10b9124-8768-11e2-8134-801668323643.jpg)

![Screenshot_2013-03-07-21-46-11](https://f.cloud.github.com/assets/3463543/234073/5924a90a-8768-11e2-8d2a-e1c1cc15f29f.jpg)

It is a phone number from an hunt group. Same for ringtone from sip_accounts.. Same bug?

[2013-03-07 21:05] spag commented on #228
Does this occur on both the Snom and GSM phones?
Please disable the DTMF routes temporarily and check again. Maybe collecting DTMF digits in GS5 breaks the pass through capability.

[2013-03-07 21:47] getsolveit commented on #226
Sie fehlen auch, wenn man eine Rufumleitung für eine Rufnummer einer Gruppe anlegt oder bearbeiten möchte.

[2013-03-08 07:33] spag commented on #218
Kann das noch jemand nachstellen?

[2013-03-08 08:24] getsolveit commented on #218
Ich lad jetzt nochmal das aktuelle Devel und teste es nochmal.

[2013-03-08 10:51] spag commented on #66
GUI part implemented in commit 4d7d5ad238990582d6c90a25272f2141ea9a3b28

[2013-03-08 10:51] #66 closed, assigned to spag

[2013-03-08 13:03] spag commented on #58
Dialplan or GUI or both?

[2013-03-08 13:10] spag commented on #202
Sorry, I have not the finest idea what you're up to. Do we have to change this in the table used for generating voice prompts?

[2013-03-08 13:15] jpawlowski commented on #202
Use case: Create a default ACD (with unconditional entry) and listen carefully ;-)
It says "Sie sind an Position 1 auf Leitung" which is "You are number 1 in line" in english. The german grammar is not correct here, this is what needs to be corrected somehow.

[2013-03-08 13:24] spag commented on #57
Hmm. What about making gs_parameters use the generic group subsystem? Groups can hold any object that can be identified by a class name and numeric ID - two attributes a gs_parameters entry clearly has.

[2013-03-08 13:25] wintermeyer commented on #57
Sounds good.

[2013-03-09 08:23] wintermeyer opened #229 "build.amooma.de DNS"
Create a new DNS entry for build.amooma.de and (more important) repo.amooma.de.

[2013-03-09 09:25] spag commented on #202
@jpawlowski Thank you for clarifying that point.

Fixed in commit 2a9e544a6a1f846fa1291c62a85cf7ef019ced64

[2013-03-09 09:25] #202 closed, assigned to spag

[2013-03-10 13:10] jpawlowski opened #230 "Admin Doc is missing"
URL which triggered the bugreport is: /tenants/2
GS5 buildname: 1303091202-develop (5.1.2-develop)

 screenshot
![shot_2013-03-10_2-08-48_167](https://f.cloud.github.com/assets/75446/241088/d60c347a-8983-11e2-95a6-6efca49d9518.png)

[2013-03-10 15:01] jpawlowski opened #231 "db:migrate error: undefined method `update_attributes' for nil:NilClass"
[code]

[2013-03-10 17:22] #231 closed, assigned to spag

[2013-03-11 10:00] wintermeyer opened #232 "SSO nach Reboot"

[2013-03-11 12:37] matis2le opened #233 "Caching issue: SIP-account state not updated"
URL which triggered the bugreport is: /tenants/2/sip_accounts
GS5 buildname: 1302281156 (5.1.1)

Please provide your bugreport below this line and update the title of this issue to a more specific one.

central accounts visible on  /tenants/2 seems to be offline but in page  /tenants/2/sip_accounts they have the real state icon

[2013-03-11 13:31] matis2le commented on #233
additional info:
2 of my 3 central numbers are connected to a mediatrix gateway for fax
if i configured now the third number for a meeting room phone - all 3 numbers are now updated to online and the snom is visible with MAC and IP in the table. The mediatrix isnt visible with this information (maybe config wrong?)
This is not(!) a browser issue - i tested 3 different browsers and cache cleaning e

[2013-03-11 13:38] matis2le opened #234 "Übersicht aller vergebenen Nummern"
es wäre gut wenn man eine Liste anzeigen könnte mit allen Telefonnummern und ihren Usern die in der Anlage drin sind. Das dürfte die Übersicht bei der Einrichtung und die Fehlersuche leichter machen,

[2013-03-11 13:39] jpawlowski opened #235 "Opening GS5 via http://localhost does not work"
This is already existing for a while now and becomes actually relevant now that we have Pound as reverse proxy.
This might also be the reason why voicemail notifications are not working (requests to the voicemail trigger also lead into an error 500), also see #236

Screen displays:

[code]

Log when using `w3m http://localhost`

[code]

[2013-03-11 13:43] jpawlowski opened #236 "Voicemail trigger error"
[code]

[2013-03-11 13:50] jpawlowski opened #237 "private_pub/faye error"
As I was just doing some debugging I thought you might be interested in this (in the hope that it will be useful for you):

[code]

[2013-03-11 15:20] duebel- commented on #232
Läuft winbind?

Was sagt "wbinfo -u" auf der shell?

[2013-03-11 15:45] wintermeyer commented on #237
It seems that is should always be started in production mode.
https://github.com/ryanb/private_pub/issues/30
https://github.com/faye/faye/issues/25

[2013-03-11 15:48] #236 closed, assigned to spag

[2013-03-11 15:54] wintermeyer commented on #235
I can't replicate this problem.

[2013-03-11 15:58] jpawlowski commented on #235
Open up a terminal on your GS5 and type in `w3m localhost`

[2013-03-11 16:01] jpawlowski commented on #237
Hm but I don't get any logs when running in production mode to debug correct functioning. this is a mismatch... ;(

[2013-03-11 16:03] wintermeyer commented on #237
https://github.com/faye/faye/issues/25#issuecomment-375678

production mode is the only way to do this.

[2013-03-11 16:12] #237 closed, assigned to wintermeyer

[2013-03-11 16:19] jpawlowski commented on #233
This seems to be a caching issue on the server side.

[2013-03-11 16:49] duebel- commented on #228
I deactivated the DTMF routes. This did not change the behaviour. Digit tones are not recognised at the far end.

[2013-03-11 16:51] duebel- commented on #228
I checked with Snom hard phone only. The GSM phones do not allow external connections via GS5 right now (this is a limitation at the GSM provider at the moment)

[2013-03-11 17:01] wintermeyer commented on #228
Can you sniff the SIP connection from GS to the provider? Are there any DTMF signals on that connection?

[2013-03-11 17:18] duebel- commented on #228
There is only pure RTP traffic after the call is answered by the remote end.

Here is a part of the freeswitch log for the call:

2013-03-11 18:07:17.154266 [DEBUG] switch_cpp.cpp:1274 ### [2551d309-4873-4bf6-a1a9-dc53e1cdbeb2] FORK SESSION_INIT - dial_time: 21
2013-03-11 18:07:17.154266 [INFO] switch_cpp.cpp:1274 ### [2551d309-4873-4bf6-a1a9-dc53e1cdbeb2] FORK ANSWER - status: SUCCESS, dial_time:

[2013-03-11 17:21] duebel- commented on #146
Recognition is reliable. Functionality is sufficient. But I think we should not close this issue until issue #228 is resolved.

[2013-03-11 18:30] wintermeyer commented on #232
[code]

[2013-03-11 19:08] duebel- commented on #232
sudo /etc/init.d/winbind start
wbinfo -u

[2013-03-12 07:31] #233 closed, assigned to wintermeyer

[2013-03-12 11:40] wintermeyer commented on #232
@jpawlowski What is the correct syntax to add `/etc/init.d/winbind` in the GS 5.1 runlevel? I need to add this to https://github.com/amooma/GS5/wiki/Single-Sign-On-(with-Active-Directory)

[2013-03-12 11:42] jpawlowski commented on #232
It's as simple as `update-rc.d winbind defaults`

[2013-03-12 11:48] #232 closed, assigned to wintermeyer

[2013-03-12 22:37] jpawlowski opened #238 "Uploading a fax doc will change connection from https to http"
When I send a new fax and click on upload my connection changes from https back to http while it should keep in https mode.

[2013-03-13 09:45] duebel- opened #239 "NameError: uninitialized constant User::SystemMessage when trying to destroy user with User.where(:user_name => ... ).destroy_all"
1.9.3-p374 :020 >   User.where(:user_name => "test.user")
  User Load (0.9ms)  SELECT `users`.\* FROM `users` WHERE `users`.`user_name` = 'test.user'
  Tenant Load (0.2ms)  SELECT `tenants`.\* FROM `tenants` WHERE `tenants`.`state` = 'active' AND `tenants`.`id` = 2 LIMIT 1
+----+-----------+-----------+-------------+-------------------+--------------------+
| id | user_name | last_name | email

[2013-03-13 15:10] duebel- commented on #58
I'd say both.

[2013-03-13 15:13] duebel- commented on #53
I think this is a general issue in the lua database connection. The umlauts are missing in the freeswitch.log and fs_cli, too.

[2013-03-13 15:36] #239 closed, assigned to wintermeyer

[2013-03-13 17:25] duebel- opened #240 "Feature request: sort userlist by LastName or UserName"
URL which triggered the bugreport is: /tenants/2/users

Unsorted users index is quite confusing with 500+ users. Please sort it or make it sortable.

[2013-03-13 17:29] duebel- opened #241 "Feature request: paginate userlist"
URL which triggered the bugreport is: /tenants/2/users

Users index is quite long with 500+ users. Please paginate it.

[2013-03-13 17:32] duebel- opened #242 "Feature request: paginate and sort group member list"
URL which triggered the bugreport is: /user_groups/3/user_group_memberships

Please paginate and sort member list of groups.

[2013-03-14 08:40] getsolveit opened #243 "löschen einer Rufnummer"
URL which triggered the bugreport is: /sip_accounts/22/phone_numbers
GS5 buildname: 1303130517-develop (5.1.2-develop)

Please provide your bugreport below this line and update the title of this issue to a more specific one.

ActiveRecord::RecordNotFound at /sip_accounts/22/phone_numbers/50
Couldn't find PhoneNumber with id=50 [WHERE `phone_numbers`.`state` = 'active' AND `phone_numbers`.`phone_nu

[2013-03-14 08:57] wintermeyer commented on #243
Can you reproduce the error?

[2013-03-14 09:25] getsolveit commented on #243
Yes, I do.

[2013-03-14 09:37] wintermeyer commented on #243
Please provide us with a step by step walkthrough. What did you do to replicate the problem? Screenshots could be helpful.

[2013-03-14 09:43] getsolveit commented on #243
![error1](https://f.cloud.github.com/assets/3115028/258160/952f411c-8c8b-11e2-8987-ba7515aca588.jpg)

Dann kommt ZWEI mal die Abfrage, ob man die Rufnummer löschen möchte!

[2013-03-14 09:44] getsolveit commented on #243
![error2](https://f.cloud.github.com/assets/3115028/258165/b529adfe-8c8b-11e2-82b5-867b3bc3044e.jpg)

Die Nummer ist dann weg.

[2013-03-14 11:05] jpawlowski commented on #230
This seems to be resolved.

[2013-03-14 11:05] #230 closed, assigned to wintermeyer

[2013-03-14 15:56] spag commented on #14
fixed in commit 13658ab197777d0b4870bfa51ac4115a9afed845

[2013-03-14 15:56] #14 closed, assigned to spag

[2013-03-14 15:58] spag commented on #207
Changed in commit 13658ab197777d0b4870bfa51ac4115a9afed845

[2013-03-14 15:58] #207 closed, assigned to spag

[2013-03-14 16:24] spag opened #244 "Improve routing tests views"
https://192.168.0.150/call_routes/test?sip_account_id=2&destination_number=112&routing_table=outbound

[2013-03-14 16:38] jpawlowski commented on #229
having the entry for repo.amooma.de already for GS5.2 release would be good, otherwise people will get errors during installation and running "aptitude update" stating that one repository could not be reached.

[2013-03-14 17:20] jpawlowski opened #245 "Respect X-Forwarded-For / X-Real-IP HTTP header for provisioning"
currently the X-Forwarded-For HTTP header is not detected which leads to incorrect display of the IP address for provisioned phones (see screenshot).

Please also handle X-Real-IP as an alias for X-Forwarded-For for compatibility reasons.

![shot_2013-03-14_6-17-55_170](https://f.cloud.github.com/assets/75446/259975/5765f354-8ccb-11e2-815d-ab03cd330972.png)

[2013-03-14 17:28] jpawlowski opened #246 "support "callto:" URLs beside "tel:" URLs"
Skype uses callto: format but users may not want to use Skype but Gemenschaft to work with those URLs.

Also useful URIs:
sip:
sips:

[2013-03-14 17:36] #245 closed, assigned to wintermeyer

[2013-03-14 19:21] jpawlowski opened #247 "Conference member cannot be added with different numbers from phonebook"
I have a phonebook entry for somebody with at least 2 numbers (1x mobile, 1x landline/internal).
I can add the mobile number as a member to a conference. If I try to add the second number (the internal one) I get the error "Es wurden Validierungsfehler bei Ihren Eingaben gefunden."

[2013-03-14 19:31] jpawlowski opened #248 "Change default ringback tone"
Currently we have this american ringback tone sent back as early media.
The default setting should be changed to %(1000,4000,425.0).

[2013-03-14 21:30] jpawlowski opened #249 "Add contact from phonebook to conference members"
Currently one can just add numbers as a member to a confcall. If this number is known from the phonebook it is "somehow" connected. However if the entry changes the confcall does not get any updates.

It would be nice to be able to add a phonebook contact as a whole with all it's numbers. The contact should be read dynamically so that updates will take immediate effect.

This might also help to re

[2013-03-14 21:33] jpawlowski opened #250 "Deleting other user's SIP account will lead to wrong redirect"
If I delete a SIP account from another user I got redirected to my own user profile afterwards so that I have to navigate to the users profile again.
The redirect should get back to the profile I was working on instead.

[2013-03-15 00:39] jpawlowski opened #251 "Call route elements cannot be resorted"
URL which triggered the bugreport is: /call_routes
GS5 buildname: 1302281156 (5.1.1)

I cannot resort any call route elements.
Change I do are not saved and after refreshing the site the old order is still there.

[2013-03-15 10:03] spag commented on #248
Fixed in commit baf86f285be7c02535c3bc1cd25bf8c69b3b2051

[2013-03-15 10:03] #248 closed, assigned to spag

[2013-03-15 10:22] jpawlowski opened #252 "Call history entry cannot be deleted"
URL which triggered the bugreport is: /sip_accounts/1/call_histories
GS5 buildname: 1302281156 (5.1.1)

I was just cleaning my call history by clicking on each items "delete" button.
However one entry came up which misses all buttons, even after reloading the page.
![shot_2013-03-15_11-20-30_171](https://f.cloud.github.com/assets/75446/263077/4189eee8-8d5a-11e2-92b4-28b945a50007.png)

[2013-03-15 10:29] jpawlowski opened #253 "User cannot change it's own entry in global phonebook"
URL which triggered the bugreport is: /phone_books/2/phone_book_entries/2
GS5 buildname: 1302281156 (5.1.1)

Users should be able to change their own global phonebook entry.
At the moment one can see a button "Telefonnummern verwalten." but it does not actually work.

[2013-03-15 10:32] jpawlowski opened #254 "Create default phonebook entry for new users"
URL which triggered the bugreport is: /tenants/2/users/2
GS5 buildname: 1302281156 (5.1.1)

When defining a new user the GS5 system should automatically create a basic entry in (one of the) global phonebooks, e.g. the admin should be able to choose from a list if there is more than one available.
The phonebook entry should have a direct link to the actual user account, see #253

[2013-03-15 10:33] jpawlowski opened #255 "Caching issue: SIP account numbers on users overview site"
URL which triggered the bugreport is: /tenants/2/users/2
GS5 buildname: 1302281156 (5.1.1)

After changing a phone number for a users SIP account the overview list on the left does not get an update, it still shows the old number.

[2013-03-15 10:38] jpawlowski opened #256 "Show all phonebook entries for a specific company"
URL which triggered the bugreport is: /tenants/2/phone_books/2
GS5 buildname: 1302281156 (5.1.1)

one should be able to see a list of all phonebook entries with a specific company name in the field "company name", e.g. when I click on that company name the list of all matching entries should appear. Currently the linked pages for the user entry and the company name are just identical.
![shot_2013-

[2013-03-15 16:18] jpawlowski opened #257 "Show description for parameter in GsParameters as tooltip"
As we have the database field "description" available already, it would be helpful to have this available as a tooltip on the overview page at /gs_parameters

[2013-03-15 16:31] jpawlowski opened #258 "CLIR flag is not respected in dialplan"
URL which triggered the bugreport is: /call_routes/34/route_elements
GS5 buildname: 1302281156 (5.1.1)

I set the CLIR flag to true for a SIP account but it seems it's been ignored since the log still says:

[code]

[2013-03-17 06:07] spag commented on #258
fixed in commit 1702b51b05ca73751bd52c715dd453f98d9b578f

[2013-03-17 06:07] #258 closed, assigned to spag

[2013-03-18 07:01] spag commented on #61
Yes, that's exactly what it's intended for. But we still have to find out how reliable this method actually is.

[2013-03-18 08:49] spag commented on #246
Added in commit 7cd62ec6d7e40da2d1882d3ec056dae40c2f7b80

[2013-03-18 08:49] #246 closed, assigned to spag

[2013-03-19 13:34] stefbw opened #259 "Feature request: phonebook lookup on external call to hunt group"
When an external call is mapped to a hunt group (strategy: all), only the hunt group name and the caller id are shown, but not the caller name from the phone book. It would be nice, if the caller name could be displayed on the phones.

[2013-03-19 17:16] stefbw opened #260 "Error at sip_accounts/<AccountNr>/softkeys/new: Add BLF"
Version: GS 5.1.1 stable

When I try to add a softkey to a SIP-account (http://127.0.0.1/sip_accounts/8/softkeys/new, function: "BLF", Number: any), I see an error message ("We're sorry, but something went wrong") and the softkey is not created. Production.log in /var/log/gemeinschaft shows the following:

[code]

[2013-03-19 17:21] stefbw commented on #259
Thanx for assigning. Earlier isn't possible? :-)

Anyway: what do you estimate, is this a lot of work and complicated? I am thinking of trying to develop myself ... could you estimate what time an experienced Gemeinschaft-developer would need? Then I could convert that into a time for a newbie (as a Gemeinschaft-developer).

[2013-03-19 18:42] wintermeyer commented on #259
@stefbw 2-3 days. Testing this stuff is a bitch.

I close this issue now. Please contact us in case you need it done and are willing to pay for the work.

[2013-03-19 18:42] #259 closed, assigned to spag

[2013-03-19 18:52] stefbw commented on #259
Ok. I thought this was an issue tracker for the community, not only amooma. Seems I got it wrong.

[2013-03-20 15:17] jpawlowski opened #261 "NoMethodError at /users/1/switchboards/1: undefined method `current_tenant' for #<Tenant:0xb02019c>"
After creating a new dummy switchboard and a dummy entry the following error occurs when would like to view the switchboard:

`NoMethodError at /users/1/switchboards/1: undefined method`current_tenant' for #Tenant:0xb02019c `

[2013-03-21 10:12] getsolveit opened #262 "Voicemailbox"
URL which triggered the bugreport is: /sip_accounts/1/voicemail_messages
GS5 buildname: 1303190445-develop (5.1.2-develop)

Please provide your bugreport below this line and update the title of this issue to a more specific one.

Es ist nicht möglich, wenn man die Voicebox anruft, die Nachricht abzuhören, es wird zwar Datum und Uhrzeit angesagt, aber dann springt die Box wieder an den Anfang und m

[2013-03-21 10:54] spag commented on #247
fixed in commit 706ffe50d3bb6270682783acc1e7817e8f7cf0f6

[2013-03-21 10:54] #247 closed, assigned to wintermeyer

[2013-03-21 11:01] spag commented on #250
fixed in commit 68a4b0e40586aa6d11599b68b81e7e9c7f623f71

[2013-03-21 11:01] #250 closed, assigned to nobody

[2013-03-21 11:10] spag commented on #243
Could not replicated this issue using build #1303200520-develop.

[2013-03-21 11:22] spag commented on #260
I can not replicate it in Build #1303200520-develop

[2013-03-21 11:22] #260 closed, assigned to nobody

[2013-03-21 11:24] spag commented on #218
Please reopen if this issue is still present after Build #1303200520-develop

[2013-03-21 11:24] #218 closed, assigned to spag

[2013-03-21 11:57] spag commented on #226
fixed in commit 61c91cccb00bbc04049d102150929874fc1a08e5

[2013-03-21 11:57] #226 closed, assigned to wintermeyer

[2013-03-21 12:06] spag commented on #122
Fix: This particular icon should only be used if the "intelligence_agency" flag is "true"

[2013-03-21 16:01] getsolveit commented on #243
I have run gs-update and test it again and have the same issue.

[2013-03-23 01:27] jpawlowski commented on #262
Was sagt das FS log während der Session?

[2013-03-23 01:51] jpawlowski commented on #235
I found out it's working using lynx and allowing the cookie. Must be cookie related I guess, e.g. the application crashes if the cookie is refused or not sent with a request.

[2013-03-23 03:05] jpawlowski opened #263 "Show startup screen while Rails app is initializing"
would be nice if we had a splash screen coming up while the Rails app is still initializing after boot. e.g. something like Jenkins shows when Java is still loading the application.
This would especially help on the RasPi as pre-heating also takes a long time (several minutes) and the user might think something is broken during that time.

[2013-03-25 09:45] lfroehlich opened #264 "Anlegen von BLF über GUI"
URL which triggered the bugreport is: /sip_accounts/5/softkeys
GS5 buildname: 1303200520-develop (5.1.2-develop)

Beim Anlegen eines BLF kommt, auch bei Eingabe einer Nummer, ein Validierungsfehler. Das Feld "Nummer" muss ausgefüllt werden. Das BLF wird nicht angelegt.

[2013-03-25 16:22] jpawlowski opened #265 "Redirect loop after backup restore: Respect X-Forwarded-Proto header for SSL"
I was just installing 5.1.2 and restoring my backup from 5.1.1.
I had activated https_redirect for the webgui in /gs_parameters.

Now I get a permanent redirect loop.

It might have to do with haproxy now in front of GS5.

I just added "X-Forwarded-Proto: https" to the headers but it seems GS5 is not respecting this header.

[2013-03-25 17:02] fox69 opened #266 "forwarding to Huntgroup does not work since 5.1.2"
forwarding to Huntgroup does not work  ...
https://groups.google.com/d/msg/gs5-users/syTWaFcpltw/Y7KVW4SefEcJ

[2013-03-26 14:36] jpawlowski opened #267 "mod_lua.cpp:198 ...hare/freeswitch/scripts/configuration/simple_xml.lua:38: bad argument #1 to 'pairs' (table expected, got nil)"
After installing 5.1.2 and restoring my backup from 5.1.1 the following error comes up in freeswitch.log when booting up:

[code]

[2013-03-26 14:51] duebel- opened #268 "haproxy breaks ability to use SSO in apache"
when haproxy is seated in front of apache2 like in the current builds SSO against AD does not work anymore.

[2013-03-26 14:52] duebel- commented on #268
Drop haproxy.

Use mod_proxy for URIs with local part starting with /faye.*

[2013-03-26 15:49] jpawlowski commented on #268
Nope, mod_proxy is not sufficient for using real websockets. Apache is not able to handle it appropriately (not even nginx is able to really handle it).

SSO should not have a problem, the only part that needs adaption is the client IP source related part in the Apache configuration. Either it needs to use the X-Forwarded-For header to get the clients actual IP address or we need to go for the use

[2013-03-26 15:49] #268 closed, assigned to jpawlowski

[2013-03-26 15:51] jpawlowski opened #269 "Calling huntgroup from outside leads to mod_lua.cpp:198 ...usr/share/freeswitch/scripts/dialplan/hunt_group.lua:111: attempt to index field 'account' (a nil value)"
In 5.1.2 I get the following error when I call a hunting group from outside:

[code]

[2013-03-26 16:50] jpawlowski opened #270 "Call forwarding to voicemail of a different account"
I would like to define a call forwarding to the voicemailbox of a different account.
From GUI point of view this is already quite well implemented it seems:
- choose "Voice Mail" as detination
- enter the account's internal number in the field "destination number"

I find this to be quite a nice way of doing this. However the dialplan currently does not respect that setting. I was testing it with

[2013-03-26 17:42] duebel- commented on #268
I digged into haproxy a bit further...

Please unset option http-server-close in defaults. Then SSO does work again.

[2013-03-26 17:48] jpawlowski commented on #268
This might not be a good idea for websocket requests:
http://blog.silverbucket.net/post/31927044856/3-ways-to-configure-haproxy-for-websockets

But lets try if it's okay to shift this setting to the faye section instead of using this a default.

[2013-03-26 17:50] jpawlowski commented on #268
https://github.com/amooma/GBE-system/commit/445e474b06195705dd7847274620ab395dfd61e4

[2013-03-26 21:39] jpawlowski opened #271 "Duplicate announcements in confernece"
joining a confcall announcement "you are currently the only person" is played twice.

[2013-03-26 21:40] jpawlowski opened #272 "Overlapping announcements when last participant leaves confcall"
announcement "username has left the conference" and "you are currently the only person in this conference" get overlapped if there are only 2 participants in a confcall and one of them leaves.

[2013-03-27 11:15] eimann opened #273 "repo.amooma.de returns 404, installer fails"
After copying files, the installer will setup the package manager.
This fails due to the following misconfiguration:

[code]

A client following the 301 will fail too:

[code]

The repository apparently contains the grub-install package, so it is essential to successfully finish the installation and boot into the new system.

![repo-defect](https://f.cloud.github.com/assets/2742432/307812/185742fe

[2013-03-27 11:17] eimann commented on #273
Apparently this is related to issue #229

[2013-03-27 11:39] DieterSpeiser opened #274 "Sip-Account anlegen nicht möglich (RaspberryPi)"
Installiert ist die aktuelle Version 5.1.2 Raspberry Pi.
Das anlegen eines SipAccount unter einem User ist möglich.
Nicht jedoch unter einem Tenant.
Dann erscheint We#re sorry, but something went wrong.

[2013-03-27 12:12] #274 closed, assigned to nobody

[2013-03-27 14:51] duebel- commented on #53
Please review this patch:

[code]

It works for German umlauts.

Feel free to integrate it.

[2013-03-27 14:53] spag commented on #272
I'm unable to replicate this.

[2013-03-27 14:55] spag commented on #271
I'm unable to replicate this problem.

[2013-03-27 15:00] spag commented on #269
fixed in commit 22ba2cab06b81120d8ac3ff99815fab293566932

[2013-03-27 15:00] #269 closed, assigned to spag

[2013-03-27 15:24] jpawlowski commented on #272
You may call my confcall using two devices if you want ;-)

On 27.03.2013, at 15:54, spag notifications@github.com wrote:

I'm unable to replicate this.

—
Reply to this email directly or view it on
GitHubhttps://github.com/amooma/GS5/issues/272#issuecomment-15527947
.

[2013-03-27 15:26] jpawlowski commented on #271
Same here.
Its actually not a new issue, i see this already since version 5.0.
If you cant replicate both i will make a record and send logs after i
return from my trip

Sent from my iPad

On 27.03.2013, at 15:55, spag notifications@github.com wrote:

I'm unable to replicate this problem.

—
Reply to this email directly or view it on
GitHubhttps://github.com/amooma/GS5/issues/271#issuecomment-1552

[2013-03-27 15:48] duebel- opened #275 "Bug: lib/tasks/csv_user_import.rake deletes and reimports users when USER_NAME_PREFIX is set with capitals"
The imported usernames are downcased while importing. So setting USER_NAME_PREFIX to something with capital letters in it (e.g. 'DOMAIN+') makes the import script delete all users and reimport them.

Here's my quick fix:

[code]

Feel free to use it.

[2013-03-27 16:17] spag commented on #271
Are you sure this error is still present in the newer builds? I've created a whole new conference class about one week ago.

[2013-03-27 16:42] jpawlowski commented on #271
These issues are valid for 5.1.2-master. I will check from develop later on

On 27.03.2013, at 17:17, spag notifications@github.com wrote:

Its actually not a new issue, i see this already since version 5.0.

Are you sure this error is still present in the newer builds? I've created
a whole new conference class about one week ago.

—
Reply to this email directly or view it on
GitHubhttps://github.

[2013-03-27 16:55] duebel- commented on #53
Now the call display is showing umlauts but the call histories have strange multibyte characters.

I'll dig deeper...

[2013-03-28 18:12] jpawlowski commented on #273
yes, thats correct. this will be fixed once the DNS setup is ready.
You may just add the following line to /etc/hosts as a temporal workaround:

`89.221.14.194 repo.amooma.de`

[2013-03-28 18:12] jpawlowski commented on #273
(closing this issue as a duplicate)

[2013-03-28 18:14] jpawlowski commented on #273
Oh and regarding normal ISO installation: You may just safely ignore the red window warning message. the install will just do fine afterwards.

[2013-03-28 20:38] jonasvp opened #276 "GS 5.1.2: Forwarding to voicemail from huntgroup throws an error"
Adding a phone number to a hunt group and adding a forward from there to another Voicemail account results in this error:

[code]

My fix was easy: I commented out line 111 of `hunt_group.lua`, since it's just a log command:

[code]

Apparently `caller.account` is nil but doesn't get accessed anywhere in the function (other than for logging).

[2013-03-28 20:49] jonasvp commented on #276
This is apparently a duplicate of #266 (after reading the Google Group entry linked from there)

[2013-03-29 07:21] eimann commented on #273
Thanks to Debian and its install process I was able to fix this issue, as ignoring the red warning dialog didn't help.
Grub was missing and therefor the install didn't boot successfully.

Here's what I did:
Change to another console, Alt+F3
chroot to /target
fix /etc/apt/sources.list with a Debian wheezy repo (main, contrib, non-free)
add the /etc/hosts entry mentioned above
run aptitude update
ru

[2013-03-29 12:18] spag commented on #57
Can be set in gs_parameters (system wide) or in voicemail_settings (by voice mailbox).
Commit 1f8f054c6f6a8c968b1e6472480dbbdb6432bdd4

[2013-03-29 12:18] #57 closed, assigned to spag

[2013-03-29 12:24] spag commented on #270
Commit 68ee69efeca95e6fa5fb063ca77274cffb053692 changed the way call forwarding to voice mail works. The destination mailbox can be selected directly from a drop down menu.

[2013-03-29 12:24] #270 closed, assigned to spag

[2013-03-29 12:26] spag commented on #276
Commit 68ee69e changed the way call forwarding to voice mail works. The destination mailbox can now be selected directly from a drop down menu.

[2013-03-29 12:26] #276 closed, assigned to nobody

[2013-03-29 12:30] spag commented on #266
fixed in commit 22ba2cab06b81120d8ac3ff99815fab293566932

[2013-03-29 12:30] #266 closed, assigned to spag

[2013-03-29 12:33] spag commented on #264
Hat die Gruppe der der Account angehoert (oder User/Tenant) die Berechtigtung "pickup" und "presence" fuer eine Gruppe der der entsprechenden Ziel-Account angehoert?

http://127.0.0.1/groups

[2013-03-29 14:40] jpawlowski commented on #273
there is a reason why it takes some more time than usual but thats all i know

[2013-04-02 09:42] spag commented on #12
Fixed.

[2013-04-02 09:42] #12 closed, assigned to spag

[2013-04-02 09:44] #65 closed, assigned to spag

[2013-04-03 10:09] duebel- commented on #228
External DTMF menus do work unless I insert a DTMF route.

Then I see:
2013-04-03 12:00:58.231718 [DEBUG] switch_cpp.cpp:1274 #E# [e6fe80c14cf639cce3cc] PRESENCE_UPDATE - subscription: +49615162XXXXXXX, type:
2013-04-03 12:00:58.251710 [WARNING] mod_sofia.c:1705 Pass 2833 mode may not work on a transcoded call.
2013-04-03 12:00:58.251710 [WARNING] mod_sofia.c:1705 Pass 2833 mode may not work on a

[2013-04-03 10:49] duebel- commented on #53
I couldn't get the multi byte characters back to database. I backpedal one step:

[code]

[2013-04-03 15:52] getsolveit opened #277 "Tastenfunktionen Rufumleitung fehlt."
URL which triggered the bugreport is: /sip_accounts/4/softkeys/5/edit
GS5 buildname: 1303130517-develop (5.1.2-develop)

Please provide your bugreport below this line and update the title of this issue to a more specific one.

Version ist vom 02.04.2013.

Im Dropdownmenü fehlt die Möglichkeit die Taste als Rufumleitung zu deklarieren.

[2013-04-03 15:57] getsolveit commented on #277
Wenn man eine Rufumleitung nur für den Sipaccount eingerichtet hat, fehlt die Funktion. Wenn es eine Umleitung für eine Rufnummer gibt, funktioniert es.

[2013-04-04 19:45] getsolveit opened #278 "Tastenfunktionen Besetzt-Lampe"
URL which triggered the bugreport is: /sip_accounts/4/softkeys/1/edit
GS5 buildname: 1303130517-develop (5.1.2-develop)

Wenn man aus der Dropdownbox Besetzt-Lampe auswählt und bei Nummer etwas einträgt, gibt's einen Fehler.

Es wurden Validierungsfehler bei Ihren Eingaben gefunden.

Nummer ........ muss ausgefüllt werden, aber es gibt die Nummer und es stand ja auch etwas in dem Feld.

[2013-04-06 14:18] jpawlowski commented on #262
module say_de seems to have changes which the german voice files currently do not reflect.

[code]

I need to go deeper into this...

also see
https://groups.google.com/forum/?fromgroups=#!topic/gs5-users/zwPJKvif1Ro

[2013-04-06 14:36] jpawlowski opened #279 "SyntaxError at /backup_jobs/1 syntax error, unexpected keyword_ensure, expecting keyword_end"
This error occurs when clicking on the details for a backup job.

app/views/backup_jobs/show.html.haml:

[code]

[2013-04-07 12:18] jpawlowski commented on #271
I just created a logfile for you:
https://gist.github.com/jpawlowski/bb2f39c272cc6b812766

Records of two sessions (2nd should match with the log):
https://dl.dropbox.com/u/159727/call%20recording%20with%2080%3A07.04.2013%2014%3A09%3A18.wav
https://dl.dropbox.com/u/159727/call%20recording%20with%2080%3A07.04.2013%2014%3A12%3A21.wav

[2013-04-07 12:19] jpawlowski commented on #272
must be related to #271 which I just updated with more information

[2013-04-07 13:13] jpawlowski commented on #262
Open FS JIRA tickets regarding this topic:
http://jira.freeswitch.org/browse/FS-4722#comment-40572
http://jira.freeswitch.org/browse/FS-5275

[2013-04-07 14:36] jpawlowski commented on #262
fixed by
https://github.com/amooma/GBE-system/commit/6dadbbd71457142fc34a3e86277c71c65c4a6330
https://github.com/jpawlowski/freeswitch-sounds-tts/commit/8d10d47a7e7e3d50c417b90403bd34d4d6815067

[2013-04-07 14:36] #262 closed, assigned to jpawlowski

[2013-04-10 05:42] spag commented on #271
Which GS5 Version has been involved?

[2013-04-10 05:57] spag commented on #278
Hat die Gruppe der SIP-Accounts die noetlge "presence" Berechtigung?

[2013-04-10 07:45] getsolveit commented on #278
Ich habe mal in die GUI-Funktionen geschaut, da hab ich nichts gefunden, wo versteckt sich die Berechtigung?

[2013-04-10 07:48] jpawlowski commented on #271
5.1.2 is affected.

[2013-04-10 09:13] spag commented on #271
Can you please test it with a new development build? I'm unable to replicate it here.

[2013-04-10 09:26] jpawlowski commented on #272
seems this issue does not occur anymore in current dev images.

[2013-04-10 09:26] #272 closed, assigned to spag

[2013-04-10 09:26] jpawlowski commented on #271
seems this issue does not occur anymore in current dev images.

[2013-04-10 09:26] #271 closed, assigned to spag

[2013-04-11 07:34] spag commented on #267
fixed in commit 4fccfd605fc705f8785568fc393be1207b51ecc5

[2013-04-11 07:34] #267 closed, assigned to spag

[2013-04-11 14:15] spag commented on #278
http://"ip_address"/groups

[2013-04-11 14:40] getsolveit commented on #278
Es gibt folgende Einträge:

Name Permissions Memberships Comment

  admins 0  0 Administrator user accounts   Anzeigen     Bearbeiten     Löschen
  users 0  2 Generic user accounts   Anzeigen     Bearbeiten     Löschen
  tenant_sip_accounts 0  0 SIP accounts owned by tenants   Anzeigen     Bearbeiten     Löschen
  user_sip_accounts pickup  90 SIP accounts owned by user accounts   Anzeigen     Bear

[2013-04-12 08:05] spag commented on #228
One could test if received sdp contains a "a=rtpmap:101 telephone-event/8000" line.

[2013-04-12 08:08] spag commented on #278
Dann haben wir wahrscheinlich die Ursachen.
Man muss die "presence" Berechtigung z.B. zur gruppe "user_sip_accounts" hinzufuegen, sonst erlaubt das System nicht die Ueberwachung eines SIP Accounts und damit auch keine BLF Taste.

[2013-04-12 08:08] #278 closed, assigned to nobody

[2013-04-21 18:14] jpawlowski commented on #265
issue #94 might be resolved together with this one

[2013-04-21 18:24] jpawlowski commented on #122
As the icon is currently not appearing anymore lets take this as n.a. for now and close the ticket.

[2013-04-21 18:24] #122 closed, assigned to wintermeyer

[2013-04-23 09:51] ckgth opened #280 "Anrufbeantwortermenue fehlt"
Das Menu "Anrufbeantworter" mit Auswahl Ansage usw. fehlt in 5.1.3-develop #1304200448rpi-develop

[2013-04-23 09:59] ckgth opened #281 "Datei-Upload schlägt fehl"
Der Upload einer Ansage (greeting) oder andere Art von Dateien läuft, jedoch kommt eine Fehlermeldung nach Hochladen im GUI.
Dies im Hauptuser und untergeordneten Usern.

Version: 5.1.3-develop #1304200448rpi-develop

[2013-04-24 11:13] pospinr1 opened #282 "Update von 5.1-beta8 (sudo gs-update) schlägt fehl."
Risk accepted.

error: Failed connect to github.com:443; Connection refused while accessing https://github.com/amooma/GBE-system.git/info/refs

Wo werden die Zugangsdaten für die github-Anmeldung gesetzt ? Oder stimmt der URL nicht ?

[2013-04-24 12:51] pospinr1 opened #283 "Bugreport: Anzeigen Backup führt zu Fehler ..."
URL which triggered the bugreport is: /backup_jobs
GS5 buildname: 1303251159 (5.1.2)

Please provide your bugreport below this line and update the title of this issue to a more specific one.

We're sorry, but something went wrong.

Please take a minute and report an issue at https://github.com/amooma/GS5/issues or contact your admin.

... Beim Klicken auf den Anzeigen-Button des ersten (und einzig

[2013-04-25 10:57] getsolveit commented on #278
Klappt!

[2013-04-25 20:07] jpawlowski commented on #282
Es wird vermutlich eher ein Fehler mit deiner Internetverbindung sein.

[2013-04-25 20:07] #282 closed, assigned to nobody

[2013-04-25 20:08] jpawlowski commented on #283
doubles #279

[2013-04-25 20:08] #283 closed, assigned to nobody

[2013-04-25 20:09] jpawlowski commented on #280
Die Entwicklerversion erhebt keinen Anspruch bereits Feature-Complete zu sein.

[2013-04-25 20:09] #280 closed, assigned to nobody

[2013-04-25 20:09] jpawlowski commented on #281
Die Entwicklerversion erhebt keinen Anspruch darauf bereits Feature-Complete zu sein.
Bugreports dieser Art machen nur bei einer Beta Sinn.

[2013-04-25 20:09] #281 closed, assigned to nobody

[2013-04-26 09:11] spag commented on #264
Fixed in commit 12dc5e76ea0499f7f3e7ff67a37d77e0e9d35e5e

[2013-04-26 09:11] #264 closed, assigned to wintermeyer

[2013-04-26 09:15] spag commented on #277
Can't replicate it with any newer development build.

[2013-04-26 09:15] #277 closed, assigned to nobody

[2013-04-26 09:18] spag commented on #243
@getsolveit Could you please test it with a current development ISO in live mode?

[2013-04-26 09:21] #61 closed, assigned to spag

[2013-04-30 23:27] gesicmerrybeard opened #284 "Fresh install forbidden to access webinterface"
Done a fresh install on my Thinclient and get 403 forbidden. Tryed chrome/ie/ff on 2 computer and one android device all got a forbidden error.

Forbidden

You don't have permission to access / on this server.

Apache/2.2.22 (Debian) Server at 192.168.1.73 Port 8080

A change of the ip in the DHCP Server solved the Problem.

[2013-04-30 23:42] #284 closed, assigned to nobody

[2013-05-07 09:46] duebel- opened #285 "Pagination links do not work"
As you can see in this screenshot the pagination links .../users?page=3 etc. do not work.

![image](https://f.cloud.github.com/assets/3012245/470511/8ad522f6-b6fa-11e2-85f5-9a925e319212.png)

It stays on the first page.

See #241.

[2013-05-07 09:53] duebel- opened #286 "Sort links do not work"
/tenants/2/users?sort=first_name etc. does not affect the display order of users. It always the order of creation.

See #240 and #285

[2013-05-07 10:27] duebel- commented on #286
This is a caching issue.

After restarting memcached and reloading the page /tenants/2/users?sort=first_name the sorting is done once. Then the page is always sorted in that initial sorting order.

[2013-05-07 20:27] getsolveit commented on #243
Sthe same issue with the current development ISO.
![delete_phonenumbers](https://f.cloud.github.com/assets/3115028/473686/89379ff0-b754-11e2-9000-c0457bb5b257.png)

[2013-05-08 13:32] d-mark opened #287 "Add Softkey does not work"
I tried to add a softkey on a GS5.1.2 but I only got a "We're sorry...".
Message from "production.log.2":

[code]

[2013-05-10 14:48] duebel- commented on #228
External Voice menus do work again with new version polled from git. :-)
At least for the real SIP phones.

[2013-05-13 01:27] mades5 opened #288 "Deleting HuntGroup does not work"
NameError (uninitialized constant HuntGroup::DestrinationCallForward):
  app/controllers/hunt_groups_controller.rb:44:in `destroy'

5.1.2 Build #1303251159, Rails 3.2.13

[2013-05-13 01:32] mades5 commented on #288
1.9.3-p392 :002 > HuntGroup.find(1).destroy
  HuntGroup Load (0.1ms)  SELECT `hunt_groups`.\* FROM `hunt_groups` WHERE `hunt_groups`.`id` = 1 LIMIT 1
   (0.0ms)  BEGIN
   (0.2ms)  ROLLBACK
NameError: uninitialized constant HuntGroup::DestrinationCallForward
    from /var/lib/gs5/.rvm/gems/ruby-1.9.3-p392/gems/activerecord-3.2.13/lib/active_record/inheritance.rb:111:in `compute_type'
    from /var/

[2013-05-13 01:34] mades5 commented on #288
+----+-----------+------+----------+-----------------------+---------------------------+---------------------------+------------+---------------------+--------------------------------------+
| id | tenant_id | name | strategy | seconds_between_jumps | created_at                | updated_at                | gs_node_id | gs_node_original_id | uuid                                 |
+----+-----------+

[2013-05-13 10:19] spag commented on #285
fixed in commit d3f55a190eaac938fbb2a027bbe9796d45751201

[2013-05-13 10:19] #285 closed, assigned to wintermeyer

[2013-05-13 10:20] spag commented on #286
fixed in commit ef07898499292b72ce011bc9f3494cb4dade1d6b

[2013-05-13 10:20] #286 closed, assigned to wintermeyer

[2013-05-13 10:25] spag commented on #252
Maybe the user lacks permissions to this entry - e.g. the call endpoint was a HuntGroup object ?

[2013-05-15 05:31] spag opened #289 "make time zone configuration variable"
Time zone is hard coded to "Berlin" and scattered around multiple files (application.rb, snom.xml.haml, etc.)

Time zone should be entered during the setup process, inherited from the underlying system settings or be set as a GsParameter.

[2013-05-16 10:54] getsolveit commented on #243
Ich glaube das ist gar kein Problem vom Rufnummern löschen sondern allgemein ein Problem, wenn Datensätze gelöscht werden sollen. Es wird der IE10 eingesetzt.